<!--<div class="content-header">

<table cellspacing="0">

    <tr>

        <td style="width:50%;"><h3 class="icon-head head-products"><?php echo Mage::helper('brand')->__('Brands Pages Manager') ?></h3></td>

        <td class="a-right">

            <?php echo $this->getAddNewButtonHtml() ?>

        </td>

    </tr>

</table>

</div>

-->

<div class="content-header">



    <table cellspacing="0">

        <tr>

            <td style="width:50%;"><h3 class="icon-head head-adminhtml-brand"><?php echo Mage::helper('brand')->__('Brands Pages Manager') ?></h3></td>

            <td class="form-buttons">

            	<?php echo $this->getFillOutButtonHtml() ?>

            	<?php echo $this->getAddNewButtonHtml() ?>

        </tr>

    </table>

</div>

<?php if( !$this->isSingleStoreMode() ): ?>

<?php echo $this->getChildHtml('store_switcher');?>

<?php endif;?>

<div>

    <?php echo $this->getGridHtml() ?>

</div>