<?php $_product = $this->getProduct(); ?>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-account"><?php echo $_product->getName(); ?></h4>
    </div>
    <div class="fieldset">
        <div class="hor-scroll">
            <table cellspacing="0" class="form-list">
                <tr>
                    <td rowspan="6">
                        <img style="max-height:250px;max-width:200px;" src="<?php echo $this->getProductImageUrl() ?>" alt="<?php echo $_product->getname() ?>"/>
                    </td>
                </tr>
            <tr>
                <td class="label">
                    <label><?php echo $this->__('Stock level'); ?></label>
                </td>
                <td><?php echo mage::helper('PointOfSales/Stock')->getProductStockInfo($_product); ?></td>
            </tr>
            <tr>
                <td class="label"><label><?php echo $this->__('Cost'); ?></label></td>
                <td> <?php echo number_format($_product->getcost(), 2); ?></td>
            </tr>
            <tr>
                <td class="label">
                    <label><?php echo $this->__('Price'); ?></label>
                </td>
                <td><?php echo number_format($_product->getprice(), 2); ?></td>
            </tr>
            <tr>
                <td class="label">
                    <label><?php echo $this->__('Margin'); ?></label>
                </td>
                <td> <?php echo number_format($this->getMargin(), 2); ?> %</td>
            </tr>
            <tr>
                <td class="label">
                    <label><?php echo $this->__('Shelf location'); ?></label>
                </td>
                <td>
                    <?php echo $this->getProductShelf(); ?>
                </td>
            </tr>
            </table>
        </div>
    </div>
    
</div>
