<div class="featured-products-block">
    <?php $_products = $this->getProductCollection();?>
    <?php if ($_products && $_products->getSize()): ?>
    <ul>
        <?php foreach ($_products->getItems() as $_product): ?>
        <li class="featured-item">
            <?php
            $attributeName = 'hot_deal';
            $_product = Mage::getModel('catalog/product')->load($_product->getId());
            $attributes = $_product->getAttributes();
            $attributeValue = null;
            if(array_key_exists($attributeName , $attributes)){
                $attributesobj = $attributes["{$attributeName}"];
                $attributeValue = $attributesobj->getFrontend()->getValue($_product);
            }
            ?>
            <div class="block-item">
                <div class="block-heading">
                    <h3><?php if(!empty($attributeValue)){echo $attributeValue; }else { echo $_product->getName();}?></h3>
                </div>
                <a href="<?php echo $_product->getProductUrl() ?>" class="product-name"
                   title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                    <?php if(!empty($attributeValue)){ echo $this->htmlEscape(substr($_product->getName(), 0, 50));} ?>
                </a>
                <div class="product-description">
                    <div><?php echo $_product->getSize() ?></div>
                    <div class="item-price"><?php echo $this->getPriceHtml($_product, true, '-new') ?></div>
                </div>
                <a href="<?php echo $_product->getProductUrl() ?>"
                   title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-img">
                    <img
                        src="<?php echo $this->helper('catalog/image')->init($_product,'small_image')->resize(70, 80)?>"
                        alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
                </a>
                <!--<div class="block-bottom">
                    <?php if ($_product->isSaleable()): ?>
                    <button type="button" class="button btn-cart"
                            onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">
                        <span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
                    <?php endif; ?>
                </div>-->
            </div>
        </li>
        <?php endforeach; ?>
    </ul>
    <?php endif; ?>
</div>
