.catalog-category-view .featured-products-block,
.brand-index-view .featured-products-block {
    background: none repeat scroll 0 0 transparent;
    float: none;
    overflow: hidden;
    padding: 15px 0 0;
    width: 550px;
}
.catalog-category-view .featured-products-block {
    padding: 15px 0 0 10px;
}
.catalog-category-view .featured-products-block .featured-item,
.brand-index-view .featured-products-block .featured-item{
    float: left;
    padding: 0 0 10px 6px;
    width: 174px;
}
.catalog-category-view .featured-products-block .featured-item {
    width: 170px;
}
.catalog-category-view .featured-products-block .block-heading ,
.brand-index-view .featured-products-block .block-heading {
    border-radius: 0 0 10px 0;
    font-family: Helvetica;
    font-style: italic;
    margin-bottom: 5px;
    margin-left: -5px;
    padding: 7px 0 5px 15px;
    text-align: left;
    width: 150px;
}

.catalog-category-view .featured-products-block .block-heading {
    width: 146px;
}
.catalog-category-view .featured-products-block .block-item,
.brand-index-view .featured-products-block .block-item {
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    box-shadow: none;
    height: 140px;
    padding-bottom: 0;
    padding-left: 5px;
    text-align: center;
}
.catalog-category-view .featured-products-block .block-item h3,
.brand-index-view .featured-products-block .block-item h3 {
    color: #FFFFFF;
    font-family: helvetica;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0;
    margin-left: -2px;
    text-align: left;
    text-transform: uppercase;
}
.catalog-category-view .featured-products-block .product-description,
.brand-index-view .featured-products-block .product-description {
    float: left;
    font: 10px Arial,Helvetica,sans-serif;
    height: 80px;
    margin-right: -5px;
    padding-top: 2px;
    position: relative;
    text-align: left;
    width: 85px;
}
.catalog-category-view .featured-products-block .product-description div,
.brand-index-view .featured-products-block .product-description div {
    margin-bottom: 4px;
}
.catalog-category-view .featured-products-block .product-description div.item-price,
.brand-index-view .featured-products-block .product-description div.item-price {
    text-align: left;
    width: 80px;
}
.catalog-category-view .featured-products-block .product-description .price-box,
.brand-index-view .featured-products-block .product-description .price-box {
    color: #333333;
    float: none;
    font-size: 18px;
    margin: 0;
}
.catalog-category-view .featured-products-block .out-of-stock,
.brand-index-view .featured-products-block .out-of-stock {
    float: right;
    text-align: center;
    width: 153px;
    color: #CF3A00;
    font-weight: bold;
}


.catalog-category-view .featured-products-block .product-img,
.brand-index-view .featured-products-block .product-img {
    bottom: 4px;
    float: right;
    margin-bottom: 0;
    position: absolute;
    right: 10px;
    vertical-align: top;
    z-index: 99;
}
