h3.exacttarget-header { background:url(../images/logo_large.png) no-repeat 0 20px; height:95px; overflow:hidden; padding:0; margin-top:0; width:575px; }
ul.tabs a.exacttarget-section,
ul.tabs a.exacttarget-section:hover { background:url(../../images/tabs_span_bg.gif) repeat-x 0 100%; border-bottom:none; padding:0.5em 0.5em 0.28em 1.5em; }
ul.tabs a.exacttarget-section:hover { background-color:#d8e6e6; }
ul.tabs a.exacttarget-section.active,
ul.tabs a.exacttarget-section.active:hover { background-color:#fff; }
ul.tabs a.exacttarget-section span,
ul.tabs a.exacttarget-section:hover span {background:url(../images/sidebar.png) no-repeat 0 0; padding-left: 30px;}