.lattera{font-weight: bold;}
.sela-brand{font-size: 12px; width: 700px; font-weight: bold;}
.content{padding: 12px 12px 12px 15px;}
.bare-list{margin: 5px 0px 5px 0px;}
.head{background: #cccccc; border-bottom:1px solid #ddd; padding:2px 9px;}
.category-head{margin: 0px;padding: 5px 0px 10px 0px;border-bottom: solid 0px #DDD;}
.action{background: #DEE5E8 url(../images/bkg_block_actions.gif) 0 0 repeat-x; text-align: right;padding: 6px 9px 6px 9px;}
.base-mini{border: 1px solid #C4C1BC;margin: 0px 0px 15px 0px;}
.filter-by{margin: 0px 1px 0px 1px;padding: 0px;line-height: normal;}
.cleardiv{clear: both;position: relative;font-size: 0px;height: 0px;line-height: 0px;visibility: hidden;}