<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Marketplace - Logs')?></h3></td>
            <td class="a-right">
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Logs'); ?></h4>
    </div>
    <fieldset>
        <?php echo $this->getChildHtml('logs_logsgrid'); ?>
    </fieldset>
</div>


