<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Marketplace - Orders') ?></h3></td>
            <td class="a-right">
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit fieldset-legend"><?php echo $this->__('Statistics') ?></h4>
    </div>
    <fieldset>
        <?php echo $this->getChildHtml('marketplace_orders_statistics') ?>
    </fieldset>
</div>

<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit fieldset-legend"><?php echo $this->__('Orders') ?></h4>
    </div>
    <fieldset>
        <?php echo $this->getGridParentHtml() ?>
    </fieldset>
</div>