<?php echo $this->getGridParentHtml() ?>
<!--<div id="mp_message_layer"></div>
<div id="mp_message_container">
    <div id="mp_message_header"><span onclick="closeMpMessage();return false;">X</span></div>
    <div id="mp_message_content"></div>
</div>-->