

<!-- START REPORT ACTIONS -->
<div class="entry-edit box-left">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('MWS Manage Reports'); ?></h4>
    </div>
    <fieldset>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonReport/getReport') ?>">
            <table>
                <tr>
                    <td><input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" /></td>
                    <td><input type="text" name="reportId" id="reportId" value=""/></td>
                    <td><button class="scalable"><?php echo $this->__('Get report') ?></button></td>
                </tr>
            </table>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonReport/getReportCount') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Count report') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonReport/getReportList') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Get report list') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonReport/getReportRequestList') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Get report request list') ?></button>
        </form>

    </fieldset>
</div>
<!-- END REPORT ACTIONS -->

<!-- START FEED ACTIONS -->
<div class="entry-edit box-right">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('MWS Manage Feeds'); ?></h4>
    </div>
    <fieldset>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonFeed/getFeedSubmissionList') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Get feed submission list') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonFeed/getFeedSubmissionResult') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <input type="text" name="feedSubmissionId" id="feedSubmissionId" value=""/>
            <button class="scalable"><?php echo $this->__('Get feed submission result') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonFeed/getFeedSubmissionCount') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Get feed submission count') ?></button>
        </form>

    </fieldset>
</div>
<!-- END FEED ACTIONS -->

<div class="clear"></div>

<!-- START PRODUCT CREATION ACTIONS -->
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('PRODUCT CREATION'); ?></h4>
    </div>
    <fieldset>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductCreation/cronCheckProductCreation') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Check product creation (CRON)') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductCreation/requestListingProducts') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">1 - <?php echo $this->__('Request listing products') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductCreation/showListingProducts') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">2 - <?php echo $this->__('Show listing products') ?></button>
        </form>

    </fieldset>
</div>
<!-- END PRODUCT CREATION ACTIONS -->

<!-- START PRODUCT UPDATE ACTIONS -->
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('PRODUCT UPDATE'); ?></h4>
    </div>
    <fieldset>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/cronExportStockAndPrice') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Export stock & price (CRON)') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/getInventoryFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">1 - <?php echo $this->__('Get inventory feed') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/sendInventoryFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">2 - <?php echo $this->__('Send inventory feed') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/getPriceFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">3 - <?php echo $this->__('Get price feed') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/sendPriceFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">4 - <?php echo $this->__('Send price feed') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/getImageFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">5 - <?php echo $this->__('Get image feed') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonProductUpdate/sendImageFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">6 - <?php echo $this->__('Send image feed') ?></button>
        </form>

    </fieldset>
</div>
<!-- END PRODUCT UPDATE ACTIONS -->

<!-- START ORDERS ACTIONS -->
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('MANAGE ORDERS'); ?></h4>
    </div>
    <fieldset>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonOrders/cronImportOrders') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Import orders (CRON)') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonOrders/getMarketPlaceOrders') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Get Amazon Orders') ?></button>
        </form>

            <!--<form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonOrders/getOrderAcknowledgmentFeed') ?>">
                            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                <button class="scalable">Get order acknowledgment feed.</button>
            </form>-->

    </fieldset>
</div>
<!-- END ORDERS ACTIONS -->

<!-- START TRACKING ACTIONS -->
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('MANAGE TRACKINGS'); ?></h4>
    </div>
    <fieldset>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonTracking/cronSendTracking') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable"><?php echo $this->__('Send Tracking (CRON)') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonTracking/getShippingConfirmationFeed') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">1 - <?php echo $this->__('Get Shipping confirmation feed') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonTracking/sendTracking') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">2 - <?php echo $this->__('Send Tracking') ?></button>
        </form>

        <form method="POST" action="<?php echo $this->getUrl('Amazon/Debug_AmazonTracking/requestActionableOrderData') ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <button class="scalable">3 - <?php echo $this->__('Request Actionable order data') ?></button>
        </form>

    </fieldset>
</div>
<!-- END TRACKING ACTIONS -->

