<?php echo $this->getChildHtml('marketplace_last_errors'); ?>

<div align="right">
    <button onclick="document.location.href='<?php echo mage::helper('adminhtml')->getUrl('MarketPlace/Manual/Export', array('marketplace' => 'amazon')); ?>'" class="scalable" type="button"><span><?php echo $this->__('Create export file') ?></span></button>
    <button onclick="saveGrid(); return false;" class="scalable" type="button"><span><?php echo $this->__('Save') ?></span></button>
</div>
<div style="display:none;width:400px;margin:auto auto;height:50px;text-align:center;font-weight:bold;" id="save_process_message"><?php echo $this->__('Saving data, please wait......') ?></div>
<div id="product_grid"><?php echo $this->getChildHtml('marketplace_products'); ?></div>
    
<?php // TODO : factoriser ce code pour tous les marketplaces ! ?>
<script type="text/javascript">

    function saveGrid(){

        var form = document.getElementById('ProductsGrid_massaction-form');
        form.setAttribute('action', "<?php echo mage::helper('adminhtml')->getUrl('Amazon/Main/Save'); ?>");
        form.setAttribute('id', 'form_data');
        form.setAttribute('method', 'POST');

        var select = document.getElementById('ProductsGrid_massaction-select');
        select.setAttribute('class', "");

        var table_originale = document.getElementById('ProductsGrid_table');
        var table = table_originale;
        table.setAttribute('id', 'submitted_fieds');
        table.setAttribute('style', 'display:none');
        form.appendChild(table);

        var formData = new varienForm('form_data');

        document.getElementById('save_process_message').style.display = 'block';
        document.getElementById('product_grid').style.display = 'none';

        formData.submit();
    }

</script>