
<div class="grid">
    <table class="data" cellspacing="0" width="100%" >
        <thead>
            <tr class="headings">
                <th class="a-center"><?php echo $this->__('Category') ?></th>
                <th class="a-center"><?php echo $this->__('Edit') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php $i = 0 ?>
            <?php foreach($this->categories as $cat): ?>
            <?php $class = ($i % 2 == 0) ? 'event pointer' : 'pointer'; ?>
                <tr class="<?php echo $class; ?>">
                    <td><?php echo $this->__($cat) ?></td>
                    <td><a href="<?php echo Mage::helper('adminhtml')->getUrl('Amazon/Requiredfields/Edit', array('category' => $cat)) ?>"><?php echo $this->__('Edit') ?></a></td>
                </tr>
            <?php $i++ ?>
            <?php endforeach ?>
        </tbody>
    </table>
</div>


