/* 
    Document   : MarketPlace
    Created on : 8 févr. 2012, 16:28:05
    Author     : Nicolas Mugnier <nicolas@maisondulogiciel.com>
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*.mp_message{
    display:none;
    width:500px;
    margin:auto auto;
    background-color:white;
    border:1px solid #dfdfdf;
    padding:5px;
    z-index:10;
    position:absolute;
    
}

#mp_message_layer{
    display:none;
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
    z-index:8;
    background-color:#ccc;
    opacity:0.8;
}

#mp_message_container{
    display:none;
    position:absolute;
    width:500px;
    margin:auto auto;
    position:absolute;
    z-index:10;
}*/