<script type="text/javascript">

    var MDN_MARKETPLACE_SHOWCATEGORIES = "<?php echo mage::helper('adminhtml')->getUrl('MarketPlace/Categories/showCategoriesCombo', array('mp' => $this->getMarketPlace()->getMarketPlaceName())) ?>";
    var MDN_MARKETPLACE_SHOWSUBCATEGORIES = "<?php echo mage::helper('adminhtml')->getUrl('MarketPlace/Categories/showSubCategoriesCombo', array('mp' => $this->getMarketPlace()->getMarketPlaceName())) ?>";
    var MDN_MARKETPLACE_GETCATEGORIEREFERENCE = "<?php echo mage::helper('adminhtml')->getUrl('MarketPlace/Categories/retrieveReference', array('mp' => $this->getMarketPlace()->getMarketPlaceName())) ?>";

</script>

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Associate categories') ?></h3></td>
            <td class="a-right">
                <button onclick="history.back();" class="scalable back" type="button"><span><?php echo $this->__('Back') ?></span></button>
                <button onclick="formData.submit();" class="scalable save" type="button"><span><?php echo $this->__('Save') ?></span></button>
            </td>
        </tr>
    </table>
</div>

<div class="entry-edit">
    <fieldset>
        <form name="formData" id="formData" method="POST" action="<?php echo $this->getUrl('MarketPlace/Categories/Save'); ?>">
            <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
            <input id="marketplace" name="marketplace" type="hidden" value="<?php echo $this->getMarketPlace()->getMarketPlaceName(); ?>" />
            <input id="category_id" name="category_id" type="hidden" value="<?php echo $this->getCategory()->getId() ?>" />
            <table class="addproductPix_table">
                <tr>
                    <td width="200"><?php echo $this->__('Magento Category') ?></td>
                    <td><?php echo $this->getCategoryInformation(); ?></td>
                </tr>
                <tr>
                    <td><?php echo $this->__('Association') ?></td>
                    <td><?php echo $this->getCategoryForm(); ?><div id="select_categories"></div><div id="select_sub_cat"></div></td>
                </tr>
            </table>
        </form>
    </fieldset>
</div>