<?php
/**
 * @var $this Pd_StaticCrossSell_Block_Crosssell_Cart_Items
 */
?>
<?php $_helper = $this->helper('catalog/output'); ?>
<div class="static-cross-sells">
    <?php $topItems = $this->getTopItems(); ?>
    <?php if (!empty($topItems)) : ?>
    <div class="top-items">
        <div class="legend f-left"><?php echo $this->__('Check out these great deals!'); ?></div>
        <?php foreach ($topItems as $_product) : ?>
            <div class="item f-left">
                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(75); ?>" width="75" height="75" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <span class="product-name">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true); ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                    <?php if($_product->getFlavor()):?>
                    <div class="attribute-text"><?php echo ($_product->getAttributeText('flavor')!='NULL') ? $this->__(' - ').$_product->getAttributeText('flavor') : '';?></div>
                    <?php endif;?>
                    <?php if($_product->getPromoDescription() && $_product->getPromoDescription() != 'NULL'):?>
                    <div class="attribute-text-long"><?php echo $_helper->productAttribute($_product,$_product->getPromoDescription(),'promo_description');?></div><br />
                    <?php endif;?>
                </span>

                <?php if (!$_product->getIsInCart()): ?>
                    <?php if($_product->isSaleable()): ?>
                        <p class="p-addtocart">
                            <button title="<?php echo $this->__('Add') ?>" class="button" onclick="setLocation('<?php echo Mage::getUrl('checkout/cart/add', array('product'=>$_product->getProductId(),'qty'=>1)) ?>')" >
                                <span><span><?php echo $this->__('Add'); ?></span></span>
                            </button>
                        </p>
                        <?php else: ?>
                        <?php if ($_product->getIsSalable()): ?>
                            <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
                            <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php else: ?>
                    <p class="p-incart"><?php echo $this->__('Item already in shopping cart'); ?></a></p>
                <?php endif; ?>
            </div>
        <?php endforeach; ?>
        <div class="clearfix"></div>
    </div>
    <?php endif; ?>
    <?php $bottomItems = $this->getBottomItems(); ?>
    <?php if (!empty($bottomItems)) : ?>
    <div class="bottom-items">
        <ul id="cross-sell-items">
        <?php foreach ($bottomItems as $_product) : ?>
            <li>


                <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(125); ?>" width="125" height="125" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
                <h2 class="product-name">
                    <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true); ?>"><?php echo $_helper->productAttribute($_product, $_product->getName() , 'name'); ?></a>
                    <?php if($_product->getFlavor()):?>
                    <div class="attribute-text"><?php echo ($_product->getAttributeText('flavor')!='NULL') ? $this->__(' - ').$_product->getAttributeText('flavor') : '';?></div>
                    <?php endif;?>
                    <?php if($_product->getPromoDescription() && $_product->getPromoDescription() != 'NULL'):?>
                    <div class="attribute-text-long"><?php echo $_helper->productAttribute($_product,$_product->getPromoDescription(),'promo_description');?></div><br />
                    <?php endif;?>
                </h2>

                <?php if (!$_product->getIsInCart()): ?>
                    <?php if($_product->isSaleable()): ?>
                        <p class="p-addtocart">
                            <button title="<?php echo $this->__('Add') ?>" class="button" onclick="setLocation('<?php echo Mage::getUrl('checkout/cart/add', array('product'=>$_product->getProductId(),'qty'=>1)) ?>')" >
                                <span><span><?php echo $this->__('Add'); ?></span></span>
                            </button>
                        </p>
                    <?php else: ?>
                        <?php if ($_product->getIsSalable()): ?>
                            <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    <?php endif; ?>
                <?php else: ?>
                <p class="p-incart"><?php echo $this->__('Item already in shopping cart'); ?></a></p>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
        </ul>
        <script type="text/javascript">
            jQuery('#cross-sell-items').anythingSlider({
                showMultiple: 2,
                easing: "swing",
                buildArrows: true,
                buildNavigation: false,
                buildStartStop: false,
                autoPlay: true
            });
        </script>
    </div>
    <style type="text/css">
        ul#cross-sell-items, ul#cross-sell-items li {
            width: 100px;
            height: 100px;
            list-style: none;
        }
    </style>

    <?php endif; ?>
</div>


