<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Marketplace - Amazon') ?></h3></td>
            <td class="a-right">
            </td>
        </tr>
    </table>
</div>

<?php echo $this->getChildHtml('amazon_index_tabs'); ?>
<div id="amazon_index_tab_content"></div>

