<?php
$this->initPriceMatchProducts();
?>
<div class="page-title title-buttons">
    <h1><?php echo $this->__('Compare Products') ?></h1>
    <a href="#" onclick="window.print(); return false;" class="link-print"><?php echo $this->__('Print This Page') ?></a>
</div>
<?php $_total=$this->getItems()->getSize() ?>
<?php if($_total): ?>
    <table class="data-table" id="product_comparison">
    <?php $_i=0 ?>
    <?php foreach($this->getItems() as $_item): ?>
        <?php if($_i++%10==0): ?>
            <col width="1" />
        <?php endif; ?>
            <col width="<?php echo floor(100/$_total); ?>%" />
    <?php endforeach; ?>
<?php if ($_total>2): ?>
        <thead>
            <tr>
            <?php $_i=0 ?>
            <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                    <th>&nbsp;</th>
                <?php endif; ?>
                <td class="a-right"><a href="#" onclick="removeItem('<?php echo $this->helper('catalog/product_compare')->getRemoveUrl($_item) ?>');" title="<?php echo $this->__('Remove Product') ?>"><img src="<?php echo $this->getSkinUrl('images/list_remove_btn.gif') ?>" alt="<?php echo $this->__('Remove Product') ?>" /></a></td>
            <?php endforeach; ?>
            </tr>
        </thead>
<?php endif ?>
        <tbody>
            <tr>
            <?php $_i = 0; ?>
            <?php $_helper = $this->helper('catalog/output'); ?>
            <?php foreach($this->getItems() as $_item): ?>
                <div class="pricematch pricematch_<?php echo $_item->getId(); ?>" data-name="<?php echo $_item->getName(); ?>">
                    <input type="hidden" id="add_to_cart_<?php echo $_item->getId()?>" value="/checkout/cart/updateCartFromCompare/product/<?php echo $_item->getId() ?>/">
                    <?php echo Mage::helper('markshust_pricematch')->getProductPricematchOptionsHtml(Mage::getModel('catalog/product')->load($_item->getId())); ?>
                </div>
                <?php $_item = $this->isPriceMatched($_item) ?>
                <?php if($_i++%10==0): ?>
                    <th class="label">&nbsp;</th>
                <?php endif; ?>
                <td>
                    <a class="product-image" href="#" onclick="setPLocation('<?php echo $_item->getProductUrl() ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->stripTags($_item->getName(), null, true) ?>" /></a>
                    <h3 class="product-name"><a href="#" onclick="setPLocation('<?php echo $_item->getProductUrl() ?>', true)" title="<?php echo $this->stripTags($_item->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_item, $_item->getName(), 'name') ?></a></h3>
                    <?php echo $this->getReviewsSummaryHtml($_item, 'short') ?>
                    <?php echo $this->getPriceHtml($_item, true, '-compare-list-top') ?>
                    <?php if($_item->isSaleable()): ?>
                        <?php if($this->isInCart($_item)): ?>
                            <p><span><?php echo $this->__('Is In Cart') ?></span></p>
                            <?php if (Mage::getStoreConfigFlag('catalog/price_match/show_compare_list_price_match_button')): ?>
                                <p class="p-pricematch"><button type="button" title="<?php echo $this->__('Price Match') ?>" class="button btn-adjustprice update-pricematch" data-productid="<?php echo $_item->getId(); ?>"><span><span><?php echo $this->__('Price Match') ?></span></span></button></p>
                            <?php endif; ?>
                        <?php else: ?>
                        <?php // This is the button that shows on the product listing page ?>
                            <?php if (Mage::getStoreConfigFlag('catalog/price_match/show_compare_list_price_match_button')): ?>
                                <p class="p-pricematch"><button type="button" title="<?php echo $this->__('Price Match') ?>" class="button btn-adjustprice" data-productid="<?php echo $_item->getId(); ?>"><span><span><?php echo $this->__('Price Match') ?></span></span></button></p>
                            <?php endif; ?>
                            <p><button type="button" class="button btn-cart" onclick="setPLocation('<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>', true)"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                        <?php endif; ?>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <p><a href="<?php echo $this->helper('catalog/product_compare')->getAddToWishlistUrl($_item) ?>" onclick="setPLocation(this.href, true); return false;" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></p>
                    <?php endif; ?>
                </td>
            <?php endforeach; ?>
            </tr>
        </tbody>
        <tbody>
        <?php foreach ($this->getAttributes() as $_attribute): ?>
            <tr>
                <?php $_i = 0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                <th class="label"><span class="nobr"><?php echo $_attribute->getStoreLabel() ? $_attribute->getStoreLabel() : $this->__($_attribute->getFrontendLabel()) ?></span></th>
                <?php endif; ?>
                <td>
                    <?php switch ($_attribute->getAttributeCode()) {
                        case "price": ?>
                            <?php echo $this->getPriceHtml($_item, true, '-compare-list-' . $_attribute->getCode()) ?>
                            <?php break;
                        case "small_image": ?>
                            <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(125, 125); ?>" width="125" height="125" alt="<?php echo $this->stripTags($_item->getName(), null, true) ?>" />
                            <?php break;
                        default: ?>
                            <div class="std">
                                <?php echo $_helper->productAttribute($_item, $this->getProductAttributeValue($_item, $_attribute), $_attribute->getAttributeCode()) ?>
                            </div>
                            <?php break;
                    } ?>
                </td>
                <?php endforeach; ?>
            </tr>
        <?php endforeach; ?>
        </tbody>
        <tbody>
                <tr>
                <?php $_i=0 ?>
                <?php foreach($this->getItems() as $_item): ?>
                <?php if($_i++%10==0): ?>
                 <th class="label">&nbsp;</th>
                <?php endif; ?>
                <td class="data">
                    <?php echo $this->getPriceHtml($_item, true, '-compare-list-bottom') ?>
                    <?php if($_item->isSaleable()): ?>
                        <!--<div class="pricematch">
                            <?php //echo Mage::helper('markshust_pricematch')->getProductPricematchOptionsHtml(Mage::getModel('catalog/product')->load($_item->getId())); ?>
                        </div>-->
                        <?php if($this->isInCart($_item)): ?>
                            <p><span><?php echo $this->__('Is In Cart') ?></span></p>
                            <?php if (Mage::getStoreConfigFlag('catalog/price_match/show_compare_list_price_match_button')): ?>
                                <p class="p-pricematch"><button type="button" title="<?php echo $this->__('Price Match') ?>" class="button btn-adjustprice update-pricematch" data-productid="<?php echo $_item->getId(); ?>"><span><span><?php echo $this->__('Price Match') ?></span></span></button></p>
                            <?php endif; ?>
                        <?php else: ?>
                            <?php if (Mage::getStoreConfigFlag('catalog/price_match/show_compare_list_price_match_button')): ?>
                                <p class="p-pricematch"><button type="button" title="<?php echo $this->__('Price Match') ?>" class="button btn-adjustprice" data-productid="<?php echo $_item->getId(); ?>"><span><span><?php echo $this->__('Price Match') ?></span></span></button></p>
                            <?php endif; ?>
                            <p><button type="button" class="button btn-cart" onclick="setPLocation('<?php echo $this->helper('catalog/product_compare')->getAddToCartUrl($_item) ?>', true)"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button></p>
                        <?php endif; ?>
                    <?php else: ?>
                        <?php if ($_item->getIsSalable()): ?>
                            <p class="availability in-stock"><span><?php echo $this->__('In stock') ?></span></p>
                        <?php else: ?>
                            <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                        <?php endif; ?>
                    <?php endif; ?>
                    <?php if ($this->helper('wishlist')->isAllow()) : ?>
                        <p><a href="<?php echo $this->helper('catalog/product_compare')->getAddToWishlistUrl($_item) ?>" onclick="setPLocation(this.href, true); return false;" class="link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a></p>
                    <?php endif; ?>
                </td>
                <?php endforeach; ?>
            </tr>
        </tbody>
    </table>
    <div class="buttons-set">
        <button type="button" class="button" onclick="window.close();"><span><span><?php echo $this->__('Close Window') ?></span></span></button>
        <span class="please-wait" id="compare-list-please-wait" style="display:none;">
            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" alt="<?php echo $this->__('Please wait...') ?>" title="<?php echo $this->__('Please wait...') ?>" class="v-middle" /> <?php echo $this->__('Please wait...') ?>
        </span>
    </div>
    <script type="text/javascript">
        decorateTable('product_comparison');

        /**
         * Send remove item request, after that reload windows
         */
        function removeItem(url)
        {
            new Ajax.Request(url, {
                parameters: {isAjax: 1, method: 'POST'},
                onLoading: function(){$('compare-list-please-wait').show();},
                onSuccess: function(transport) {
                    $('compare-list-please-wait').hide();
                    window.location.reload();
                    window.opener.location.reload();
                }
            });
        }
    </script>
<?php else: ?>
    <script type="text/javascript">window.close();</script>
<?php endif; ?>
