<script type="text/javascript">

    function restriction(action, id){

        switch(action){

            case 'show':
                document.getElementById(id).style.display = 'block';
                document.getElementById('restrictionAction_'+id).style.display = 'none';

                break;
            case 'hide':
                document.getElementById(id).style.display = 'none';
                document.getElementById('restrictionAction_'+id).style.display = 'block';
                break;

        }

    }

</script>

<div class="content-header">
    <table cellspacing="0" class="grid-header">
        <tr>
            <td><h3><?php echo $this->__('Required Fields : Amazon (' . $this->category . ')') ?></h3></td>
            <td class="a-right">
                <button type="button" class="scalable back" type="button" onClick="setLocation('<?php echo $this->getBackUrl() ?>')"><span>Back</span></button>
            </td>
        </tr>
    </table>
</div>

<?php if($this->countMainCategoryFields($this->fields['mainCat']) > 0): ?>
<?php $_mainCategoryFields = $this->fields['mainCat']; ?>
<div class="entry-edit">
    <div class="entry-edit-head">
        <h4 class="icon-head head-edit fieldset-legend"><?php echo $this->__('Main Category') ?></h4>
    </div>
    <fieldset>
        <div class="grid">
            <form method="POST" action="<?php echo Mage::helper('adminhtml')->getUrl('Amazon/Requiredfields/save') ?>">
                <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                <div align="right">
                    <button class="scalable" ><span><?php echo $this->__('Save') ?></span></button>
                </div>
                <table class="data" cellspacing="0" width="100%" >
                    <thead>
                        <tr class="headings">
                            <th style="width:300px;" class="a-center"><?php echo $this->__('Field') ?></th>
                            <th class="a-center"><?php echo $this->__('Attribute') ?></th>
                            <th class="a-center"><?php echo $this->__('Restricted values') ?></th>
                            <th class="a-center"><?php echo $this->__('Type') ?></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?php foreach ($_mainCategoryFields as $field) : ?>
                        <?php if (!preg_match('/producttype/i', $field['parentNode'])) : ?>
                                <tr>
                                    <td style="width:300px;" ><label for="<?php echo $this->category . $field['parentNode'] ?>"><?php echo $field['name'] ?></label></td>
                                    <td style="width:500px;">
                                        <select id="<?php echo $this->category . $field['parentNode'] ?>" name="<?php echo $this->category . $field['parentNode'] ?>">
                                        <?php foreach ($this->attributeTab as $attribute): ?>
                                        <?php $selected = ($attribute['value'] == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->category . $field['parentNode'], $this->marketplace)) ? 'selected' : ''; ?>
                                            <option <?php echo $selected ?> value="<?php echo $attribute['value'] ?>"><?php echo $attribute['label'] ?></option>
                                        <?php endforeach ?>
                                        </select>
                                    </td>
                                    <td style="width:200px;">
                                    <?php if(array_key_exists('restriction', $field) || (array_key_exists('constraint', $field) && !is_string($field['constraint']))): ?>
                                        <div id="<?php echo $field['name'] ?>" style="display:none;">
                                            <p><?php echo $this->getRestrictionList($field) ?></p>
                                            <a href="" onClick="restriction('hide','<?php echo $field['name'] ?>');return false;">close</a>
                                        </div>
                                        <a id="restrictionAction_<?php echo $field['name'] ?>" href="" onClick="restriction('show','<?php echo $field['name'] ?>');return false;"><?php echo $this->__('View') ?></a>
                                    <?php endif ?>
                                    </td>
                                    <td style="width:200px;">
                                            <?php echo $this->getType($field) ?>
                                    </td>
                            </tr>
                        <?php endif ?>
                        <?php endforeach ?>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </fieldset>
                </div>
<?php endif ?>

<?php $_subCategories = $this->fields['subCat']; ?>
<?php foreach ($_subCategories as $k => $v): ?>
<?php if (count($v) > 0): ?>
                <div class="entry-edit">
                    <div class="entry-edit-head">
                        <h4 class="icon-head head-edit fieldset-legend"><?php echo $this->__($k) ?></h4>
                    </div>
                    <fieldset>
                        <div class="grid">
                            <form method="POST" action="<?php echo Mage::helper('adminhtml')->getUrl('Amazon/Requiredfields/save') ?>">
                                <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />
                                <div align="right">
                                    <button class="scalable" ><span><?php echo $this->__('Save') ?></span></button>
                                </div>
                                <table class="data" cellspacing="0" width="100%" >
                                    <thead>
                                        <tr class="headings">
                                            <th style="width:300px;" class="a-center"><?php echo $this->__('Field') ?></th>
                                            <th class="a-center"><?php echo $this->__('Attribute') ?></th>
                                            <th class="a-center"><?php echo $this->__('Restricted values') ?></th>
                                            <th class="a-center"><?php echo $this->__('Type') ?></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                        <?php foreach ($v as $field): ?>
                        <?php if ($field['name'] == "Rating"): ?>
                                        <!-- SWVG -->
                                        <tr>
                                            <td style="width:300px;">Rating</td>
                                            <td style="width:500px;">
                                                <select id="<?php echo $this->category . '_' . $k . '_Rating_Type' ?>" name="<?php echo $this->category . '_' . $k . '_Rating_Type' ?>">
                                                <?php foreach ($field['choices'] as $key => $value): ?>
                                                    <?php $selected = ($key == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->category . '_' . $k . '_Rating_Type', $this->marketplace)) ? 'selected' : ''; ?>
                                                        <option <?php echo $selected ?> value="<?php echo $key ?>"><?php echo $value ?></option>
                                                    <?php endforeach ?>
                                                </select>
                                                <select id="<?php echo $this->category . '_' . $k . '_Rating_Attribute' ?>" name="<?php echo $this->category . '_' . $k . '_Rating_Attribute' ?>">
                                                <?php foreach ($this->attributeTab as $attribute): ?>
                                                <?php $selected = ($attribute['value'] == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->category . '_' . $k . '_Rating_Attribute', $this->marketplace)) ? 'selected' : ''; ?>
                                                    <option <?php echo $selected ?> value="<?php echo $attribute['value'] ?>"><?php echo $attribute['label'] ?></option>
                                                <?php endforeach ?>
                                                </select>
                                                
                                            </td>
                                            <td style="width:200px;">
                                                <?php if(array_key_exists('restriction', $field) || (array_key_exists('constraint', $field) && !is_string($field['constraint']))): ?>
                                                    <div id="<?php echo $k.'_'.$field['name'] ?>" style="display:none;">
                                                        <p><?php echo $this->getRestrictionList($field) ?></p>
                                                        <a href="" onClick="restriction('hide','<?php echo $k.'_'.$field['name'] ?>');return false;">close</a>
                                                    </div>
                                                    <a id="restrictionAction_<?php echo $k.'_'.$field['name'] ?>" href="" onClick="restriction('show','<?php echo $k.'_'.$field['name'] ?>');return false;"><?php echo $this->__('View') ?></a>
                                                <?php endif ?>
                                            </td>
                                            <td style="width:200px;">
                                                    <?php echo $this->getType($field) ?>
                                            </td>
                                        </tr>
                                        <!-- END SWVG -->
                        <?php else: ?>
                                        <tr>
                                            <td style="width:300px;"><label for="<?php echo $this->category . '_' . $k . '_' . $field['name'] ?>"><?php echo $field['name'] ?></label></td>
                                            <td style="width:500px;">
                                                <select id="<?php echo $this->category . '_' . $k . '_' . $field['name'] ?>" name="<?php echo $this->category . '_' . $k . '_' . $field['name'] ?>">
                                                <?php foreach ($this->attributeTab as $attribute): ?>
                                                <?php $selected = ($attribute['value'] == Mage::getModel('MarketPlace/Requiredfields')->loadValueForPath($this->category . '_' . $k . '_' . $field['name'], $this->marketplace)) ? 'selected' : ''; ?>
                                                    <option <?php echo $selected ?> value="<?php echo $attribute['value'] ?>"><?php echo $attribute['label'] ?></option>
                                                <?php endforeach ?>
                                                </select>
                                            </td>
                                            <td style="width:200px;">
                                                <?php if(array_key_exists('restriction', $field) || (array_key_exists('constraint', $field) && !is_string($field['constraint']))): ?>
                                                    <div id="<?php echo $k.'_'.$field['name'] ?>" style="display:none;">
                                                        <p><?php echo $this->getRestrictionList($field) ?></p>
                                                        <a href="" onClick="restriction('hide','<?php echo $k.'_'.$field['name'] ?>');return false;">close</a>
                                                    </div>
                                                    <a id="restrictionAction_<?php echo $k.'_'.$field['name'] ?>" href="" onClick="restriction('show','<?php echo $k.'_'.$field['name'] ?>');return false;"><?php echo $this->__('View') ?></a>
                                                <?php endif ?>
                                            </td>
                                            <td style="width:200px;">
                                                    <?php echo $this->getType($field) ?>
                                            </td>
                                        </tr>
                        <?php endif ?>
                        <?php endforeach ?>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </fieldset>
                </div>
<?php endif ?>
<?php endforeach ?>
