/* Mixins */

@lightest: #ffffff;
@lighter3: #eeeeee;
@lighter2: #dddddd;
@lighter: #c8c8c8;
@light: #aaaaaa;
@highlight: #fff0b2;
@neutral: #777777;
@dark: #555555;
@darker: #333333;
@darkest: #000000;
@lightprimary: #2bb1fb;
@primary: #0096ff;
@primary2: #105dda;
@darkprimary: #025fcf;
@secondary: #ff6600;
@tertiary: #97c900;
@darktertiary: #82b342;
@limegreen: #95cd00;
@purple: #67045F;

.pie {
    behavior: url(/js/pie/pie.htc);
    position: relative;
}

.remove-bg {
    background: none !important;
    background-image: none !important;  
    -pie-background: none !important;
    behavior: none !important;	
}

.border-radius (
    @radius: 5px
) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
    .pie;
}

.border-radius-custom (
    @topleft: 5px,
    @topright: 5px,
    @bottomleft: 5px,
    @bottomright: 5px
) {
    -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
    -moz-border-radius: @topleft @topright @bottomright @bottomleft;
    border-radius: @topleft @topright @bottomright @bottomleft;
    .pie;
}

.box-shadow (
    @x: 0px,
    @y: 3px,
    @blur: 10px,
    @alpha: 0.8
) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    .pie;
}

.box-shadow-inset (
    @x: 0px,
    @y: 3px,
    @blur: 10px,
    @alpha: 0.8
) {
    -webkit-box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: inset @x @y @blur rgba(0, 0, 0, @alpha);
    .pie;
}

.text_shadow(
    @amount: 1px,
    @color: #fff
) {
    text-shadow: 0 @amount 0 @color;
}

.opacity(
    @op: 100
) {
    filter: alpha(opacity=@op);
    -moz-opacity: @op/100;
    -khtml-opacity: @op/100;
    opacity: @op/100;
}

.transition (
    @prop: all,
    @time: 1s,
    @ease: linear
) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.transform (
    @rotate: 90deg,
    @scale: 1,
    @skew: 1deg,
    @translate: 10px
) {
    -webkit-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -moz-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -o-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    -ms-transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
    transform: rotate(@rotate) scale(@scale) skew(@skew) translate(@translate);
}

.skew (
    @x: 35,
    @y: 0
) {
    -webkit-transform: skew(formatstring("{0}deg", @x), formatstring("{0}deg", @y));
    -moz-transform: skew(formatstring("{0}deg", @x), formatstring("{0}deg", @y));
    -o-transform: skew(formatstring("{0}deg", @x), formatstring("{0}deg", @y));
    -ms-transform: skew(formatstring("{0}deg", @x), formatstring("{0}deg", @y));
    transform: skew(formatstring("{0}deg", @x), formatstring("{0}deg", @y));
}
 
.scale (
    @x: 1
) {
    -webkit-transform: scale(@x);
    -moz-transform: scale(@x);
    -o-transform: scale(@x);
    -ms-transform: scale(@x);
    transform: scale(@x);
}
 
.rotate (
    @deg:35
) {
    -webkit-transform: rotate(formatstring("{0}deg", @deg));
    -moz-transform: rotate(formatstring("{0}deg", @deg));
    -o-transform: rotate(formatstring("{0}deg", @deg));
    -ms-transform: rotate(formatstring("{0}deg", @deg));
    transform: rotate(formatstring("{0}deg", @deg));
}
 
.translate (
    @x: 10px,
    @y: 10px
) {
    -webkit-transform: translate(@x, @y);
    -moz-transform: translate(@x, @y);
    -o-transform: translate(@x, @y);
    -ms-transform:translate(@x, @y);
    transform: translate(@x, @y);
}

.gradient (
    @origin: left,
    @start: #ffffff,
    @stop: #000000
) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
    -pie-background: linear-gradient(@origin, @start, @stop);
    .pie;
}

.quick-gradient (
    @origin: left,
    @alpha: 0.2
) {
    background-image: -webkit-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -moz-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -o-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: -ms-linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    background-image: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    -pie-background: linear-gradient(@origin, rgba(0,0,0,0.0), rgba(0,0,0,@alpha));
    .pie;
}

.ribbon (
    @height: 44px,
    @color: #FF2F96,
    @shadow-color: #e5e5e5,
    @shadow-size: 5px
) {
    /*
     * The height amount must be even.
     *
     * The HTML needs to look like this:
     * 
     * <hX>
     *     <a href="">Ribbon Text</a>
     *     <span></span>
     * </hX>
     *
     */
    
    position: relative;
    
    &:before {
        z-index: 43;
        content: "";
        background-color: @color;
        display: block;
        height: 10px;
        width: 10px;
        position: absolute;
        bottom: 0;
        left: 0px;
    }
    a {
        z-index: 40;
        background-color: @color;
        height: @height;
        line-height: @height !important;
        display: inline-block;
        text-decoration: none;
        position: relative;
        padding-left: @height;
        padding-right: @height/2;
        text-shadow: 0px 1px 0px darken(@color, 30%);
        
        box-shadow: 8px @shadow-size 0px @shadow-color;
        -moz-box-shadow: 8px @shadow-size 0px @shadow-color;
        -webkit-box-shadow: 8px @shadow-size 0px @shadow-color;
        
        border-top-left-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -webkit-border-top-left-radius: 2px;
        
        -webkit-background-clip: padding-box;
        
        &:after {
            content: "";
            border: @height/2 solid @color;
            border-right-color: transparent;
            display: block;
            height: 0px;
            width: 0px;
            position: absolute;
            top: 0;
            right: -2 * (@height/2);
        }
        &:before {
            content: "";
            border: @height/2 solid @shadow-color;
            border-right-color: transparent;
            display: block;
            height: 0px;
            width: 0px;
            position: absolute;
            top: @shadow-size;
            right: -2 * (@height/2) - 2px;
        }
    }
    span {
        &:after {
            z-index: 42;
            content: "";
            position: absolute;
            bottom: -7px;
            left: -6px;
            display: block;
            height: 0px;
            width: 0px;
            border: 7px solid black;
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
        &:before {
            z-index: 41;
            content: "";
            position: absolute;
            bottom: -8px;
            left: -8px;
            display: block;
            height: 0px;
            width: 0px;
            border: 8px solid @color;
            border-left-color: transparent;
            border-bottom-color: transparent;
            border-top-color: transparent;
        }
    }
}


/* Custom */


/* default */
body {
	background: @darkest;
	color: @darker;
}
body.page-popup {
	background: @lightest;
}
body,
div.anythingSlider .anythingControls ul a {
    font: 12px Arial, Helvetica, sans-serif;
}
a {
    color: @primary;
	text-decoration: none;
}
button.button {
    position: relative;
    .gradient (top, @lightprimary, @darkprimary);
    padding: 4px 8px;
    margin: 0 !important;
    .border-radius;
}
button.button span,
button.button span span {
    background: none !important;
    padding: 0 !important;
    color: @lightest;
    font-size: 12px;
    text-transform: none;
}
table {
	border-color: none;
}
.home-carousel-container div.anythingSlider .arrow a,
.home-carousel-container div.anythingSlider .anythingControls ul a,
.home-carousel-container div.anythingSlider .start-stop {
	background: none;
}
.form-subscribe button.button {
    .gradient (top, @light, @dark);
}
.page-title h1,
.page-title h2 {
    color: @darker;
    font-size: 2.5em;
    font-weight: bold;
    padding-bottom: 15px;
}
.wrapper {
	background: @darkest url('../images/bg.jpg') no-repeat center top fixed;
	padding-bottom: 0;
}
.header-container {
	margin: 0;
	height: 224px;
	position: relative;
	z-index: 20;
}
.top-container {
    background: @lightest;
    text-align: center;
    padding: 0;
    .box-shadow (0px, 0px, 20px, 1);
}
.header-panel {
	position: relative;
	z-index: 2;
    background: none;
    float: right;
    .links {
        margin-right: 0;
        float: right;
    }
    .links li {
        background: url(../../../enterprise/default/images/bkg_sep.gif) no-repeat 100% 50%;
        padding: 0 6px 0 0;
        margin: 0 4px 0 0;
    }
    .links li.last {
        margin-right: 0;
        padding-right: 0;
        background: none;
    }
    .links li a {
        color: @lightest;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
    }
    .links li a:hover {
        color: @lightprimary;	
    }
    .phone-number {
        clear: both;
        color: @lighter;
        line-height: 10px;
        text-align: right;
        padding: 4px 6px;
        font-size: 18px;
        font-weight: bold;
    }
    .welcome-msg {
    	color: @lightest;
        padding-right: 20px;
    }
}
.header {
	position: relative;
	z-index: 1;
    height: 117px;
    background: url(../images/bg_header_pattern.png) no-repeat center center;
	.logo {
	    position: absolute;
	    z-index: 900;
	    top: -25px;
	}
	.quick-access {
		clear: both;
        padding: 0;
        width: 285px;
        height: 40px;
	    margin-top: 16px;
    }
	.form-search {
	    margin-top: 2px;
	    margin-right: 204px;
	    .note {
	        margin-top: 4px;
            color: @lighter;
            height: 0;
        }
        .note strong {
            color: @lightest;	
        }
    }
    .my-cart {
        position: absolute;
        right: 3px;
        top: -18px;
        z-index: 1;
    }
    #cartHeader {
        background: none repeat scroll 0 0 transparent;
        padding-right: 70px;
        position: relative;
        text-align: right;
    }
    .top-cart {
        width: 166px;
    	margin-top: 6px;
        .cart-qty {
            color: @lightest;
            font-weight: normal;
            .blue {
                color: @primary;
            }
        }
    }
    .expanded {
        .cart-qty {
            color: @secondary;
        }
    }
    .top-cart a {
    	text-decoration: underline;
    }
    .top-cart a.btn-remove {
        clear: both;
        display: inline-block;
        font-size: 11px;
        margin-left: 65px;
    }
    .top-cart .block-title {
        background: none;
        color: @lightprimary;
        padding-left: 0;
    }
    .top-cart .block-title strong {
        color: @lightest;
        font-size: 13px;
        text-transform: none;
        margin-top: -6px;	
    }
    .top-cart .block-content {
        top: 24px;	
    }
    .top-cart .block-title.expanded strong,
    .top-cart .block-content .block-subtitle {
        color: @secondary;	
    }
}
#brand-finder {
	float: left;
	background: @dark;
	color: @lightest;
	padding: 8px 14px;
	.border-radius-custom (5px, 5px, 0px, 0px);
	.box-shadow (0px, -3px, 10px, .6);
	cursor: pointer;
	font-weight: bold;
    font-size: 11px;
	text-transform: uppercase;
	height: 14px;
	overflow: hidden;
}
#search.input-text {
	width: 260px;
	margin-right: 10px;
}
#search.input-text,
#newsletter.input-text,
.pricematch .input-text,
.input-text.qty {
	height: 22px;
	background: @lighter;
	padding-top: 6px;
	padding-left: 10px;
	border: none;
    .box-shadow-inset (5px, 5px, 10px, .5);
}
#cartHeader {
	background: none;
	.right-arrow {
        color: @secondary;
	    margin-left: 2px;
    }
}
.nav-container {
	position: relative;
	top: -30px;
	z-index: 0;
    padding: 0;
    margin: 0 0 0 -20px;
    background: none;
    overflow: hidden;
    overflow-y: visible;
    width: 980px;
}
#nav {
    height: 46px;
    padding-top: 4px;
    margin: 20px 20px 0;
    .gradient (top, @light, @darker);
    background: url(../images/bg_nav.png) no-repeat center top;
    .box-shadow (0px, -5px, 20px, .8);
    a {
        cursor: pointer;
    }
    li.level-top {
    	height: auto;
    }
    li,
    li.over {
    	z-index: 990 !important;
    }
    a.level-top,
    li.active a.level-top,
    li.over a.level-top {
        border: none;
        color: @lightest;
        font-size: 14px;
        background: none;
        padding: 4px 17px;
        margin-left: 0;
    	height: 34px;
    	line-height: 30px;
    }
    a.level-top span,
    li.over a.level-top span,
    li.active a.level-top span {
        background: none;
    	padding: 0;
    }
    li.active {
    	background: @primary;
    	.border-radius-custom (7px, 7px, 0px, 0px);
        height: 46px;
        margin-left: -2px;
    }
    ul {
    	display: none;
    }
    a.level-top,
    li.over a.level-top { background: url(../images/nav_pipe.png) no-repeat right center;}
    li.level-top.last a.level-top,
    li.over.active a.level-top { background: none;}
}
.breadcrumbs {
	position: relative;
    z-index: 10;
    background-color: @primary;
    padding: 6px 20px;
    li span { color: @darkest;}
    a {
        color: @lightest;
    }
}
.page-title {
	position: relative;
    z-index: 1;
    border: none;
    text-align: left;
}
.main {
	position: relative;
    background-image: none;
	margin-bottom: 0;
	border: none;
	min-height: 530px;
}
.col-main {
	background-color: @lightest;
	width: 740px;
	padding: 0;
}
.col3-layout {
	float: left;
	.col-wrapper {
	    width: 740px;
	    min-height: 856px;
	}
	.col-main {
	    width: 540px;
	}
	.col-left {
	    padding: 0 10px;
	    width: 175px;
	}
}
.col2-left-layout {
	.col-main {
        padding: 20px 40px;
        width: 660px;
    }
}
.col-right {
    width: 180px;
    padding: 10px;
}
.sidebar .block {
    border: none;
}
.footer-container {
	clear: both;
	position: relative;
    background: @darker;
    border: none;
	margin-bottom: 0;
	color: @lightest;
	padding: 15px 30px 0;
	a {
        color: @light;
    }
    a:hover {
        color: @lightprimary;   
    }
    .footer {
        background: none;	
    }
    .form-subscribe-header {
        color: @secondary;	
    }
    .form-subscribe {
        float: right;
        width: 284px;
        padding: 0;
        button.button { margin: 0 13px 0 0 !important; padding: 5px 15px 4px;}
    }
    .form-subscribe-header {
        color: @lightest;
        font-size: 14px;
        text-transform: none;	
    }
}
#need-assistance {
	float: left;
    text-align: left;
    color: @lightest;
    .heading {
        font-size: 14px;
    }
    .phone-number {
        font-size: 18px;
        font-weight: bold;
    }
    .store-hours {
        color: @light;
        font-size: 12px;
    }
}
#customer-support-links {
	float: left;
	width: 300px;
	padding: 0 0 20px 75px;
	.heading {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
    }
    a {
    	color: @light;
    }
    a:hover {
        color: @lightprimary;   
    }
	ul {
        width: 100px;
        margin-left: 0;
    }
}
#footer-links {
	clear: both;
	margin: 10px 0 0;
	width: 500px;
	li {
        display: inline;
        background: url(../../../enterprise/default/images/bkg_sep.gif) no-repeat 100% 50%;
        padding: 0 7px 0 3px;
    }
    li.first {
    	padding-left: 0;
    }
    li.last {
    	background: none;
    }
}
#social-icons {
	float: right;
	width: 260px;
	map {
        width: 40px;
	    float: right;
    }
}
.social {
    margin: -208px 0 0;
}
address.copyright {
	clear: both;
	text-align: left;
	background: @darker;
	color: @lightest;
	margin-top: 0;
	padding: 0 30px 20px;
}
.col-main .page-head,
.col-main .page-head-alt {
	margin: 0;
}
.page-popup .page-title,
.col-main .page-title {
    margin-left: 0;
    margin-right: 0;
}
.col1-layout {
	.col-main {
        padding: 20px 40px;
        .page-title {
            margin-top: 0;
            padding-left: 0;
        }
    }
}

.std ul, .std ol, .std dl, .std p, .std address, .std blockquote, .std table, .std .faqanswer, 
.my-account ul, .my-account ol, .my-account dl, .my-account p, .my-account address, .my-account blockquote, .my-account table {
    line-height: 1.75em;
}
.std {
    h1 {
        font-size: 27px; 
        font-weight: normal; 
        line-height: 2em;
    }
    h2 {
        line-height: 2em;
        padding-top: 1em;
    }
    h3 {
        line-height: 26px;
    }
}

.account-login .new-users, .account-login .registered-users {
    padding: 0;
}

.sidebar .block-account .block-title {
    padding-top: 40px;
}
.sidebar .block-account li.current {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.sidebar .block-account li a {
    color: @primary;
}
.sidebar .block-account li a:hover {
    background: none;
}

/* cms_index_index */
.cms-home .col2-set .col-1,
.cms-index-index .col2-set .col-1 {
	width: 705px;
}
.cms-home .col2-set .col-2,
.cms-index-index .col2-set .col-2 {
	width: 234px;
	margin-left: -234px;
	border: none;
}
.cms-home .col2-set .col-2 img,
.cms-index-index .col2-set .col-2 img {
	margin: 5px auto;
}
.cms-home {
	.breadcrumbs-container {
        display: none;
    }
    .content-container {
        .box-shadow (0px, -10px, 20px, 1);
    }
}
.home-carousel-container {
	div.anythingSlider {
        padding: 0;
        margin: 0;
    }
    div.anythingSlider .anythingWindow {
        border: none;
    	background: @darkest;	
    }
    .panel-container {
    	width: 705px;
    	height: 370px;
        color: @lightest;
        font-size: 14px;
    }
    .panel-heading {
    	font-size: 54px;
        font-weight: bold;
        line-height: 48px;
        margin-bottom: 10px;
    }
    .anythingControls {
    	float: left;
        position: absolute;
        bottom: 0;
    }
    div.anythingSlider .anythingControls ul {
    	margin-left: 10px;
        margin-bottom: 4px;
    }
    div.anythingSlider.activeSlider .anythingControls ul a {
        width: 10px;
        height: 10px;
    	padding: 3px 6px 6px;
        margin: 4px;
        background-color: @dark;
    	.border-radius (0px);
    }
    div.anythingSlider.activeSlider .anythingControls ul a.cur {
        background-color: @light;	
    }
    div.anythingSlider .start-stop {
    	visibility: hidden;
    }
}
#home-carousel {
	margin: 0;
	padding: 0;
    .panel-container2 {
    	padding-top: 130px;
        padding-left: -50px;
    }
    .panel-heading,
    .panel-description {
        width: 350px;
        margin-left: 50px;
    }
    .panel-description {
        float: left;
    }
    .panel-button {
    	margin-right: 40px;
        float: right;
    }
}

/* catalog_category_view */
.breadcrumbs {
	background: @primary;
}
.products-list {
	li.item {
        padding: 10px;
        margin: 10px 10px 10px 0;
        background: none;
        border-bottom: 1px solid @lighter;
        &.last { border: none;}
    }
    li.item.in-cart {
    	background: @highlight;
    }
	.desc {
		clear: both;
        float: left;
        margin: 0;
        .link-learn {
	        display: none;
	    }
    }
	.product-image {
		margin: 0;
		clear: both;
    }
    .product-shop {
    	margin-left: 150px;
        .availability {
            float: right;
            clear: right;
        }
        .col-left { display: inline-block; vertical-align: top; width: 71%; float: none; padding: 0;}
        .col-right { display: inline-block; vertical-align: top; width: 28%; text-align: right; float: none; padding: 0;}
        .retail-price { font-size: 11px; color: #999999;margin-bottom: 5px;}
    }
    .product-name {
    	float: left;
    	margin-bottom:0;
    	font-size: 18px;
        color: @primary2;
        font-weight: normal;
        line-height: 20px;
        padding-top: 0;
        width: 95%;
        a {
    	   font-size: 18px;
            color: @primary2;
            text-decoration: none;
        }
      .attribute-label,
      .attribute-text {
          display: inline;
          width: auto;
      }
      .attribute-text-long { width: 100%; color: @limegreen; font-style: italic; font-size: 12px;}
    }
    .add-to-links {
        list-style: none; padding: 0; font-size: 12px;
    }
    .price-box {
    	float: right;
        font-size: 22px;
        margin-top: 0;
        > .availability { display: none;}
    }
    .p-pricematch,
    .p-addtocart,
    .p-adjustprice,
    .p-updateprice,
    .p-incart {
    	clear: right;
    	float: right;
        width: 100px;
        button { width: 100%;}
    }
    .is-pricematched-item {
    	display: none;
    }
    .product-attributes {
        line-height: 18px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 13px;
    }
    .rating-links {
        a {
            color: #105DDA;
        }
        .r-count {
            display: inline !important;
        }
    }
}
.add-to-links {
    a {
        color: @primary2;
    }
}
.p-incart {
    font-size: 14px;
    font-weight: bold;
    a {
        text-decoration: underline;
    }
}
.category-view,
.results-view,
.category-products {
    margin: 0;
    .ratings {
        width: 150px; clear: both; margin: 5px 0 10px;
        .rating-links {
            a,
            span {
                display: none;
            }
            a:nth-child(1) {
                display: inline;
            }
        }
    }
}
.catalog-product-compare-index {
    a.link-wishlist {
        color: @primary;
        text-decoration: underline;
    }
}
.category-title {
	border: none;
}
.category-products {
	padding: 0;
}
.catalog-category-view,
.catalogsearch-result-index {
      .col-main { padding-bottom: 0;}
      .sidebar { margin-top: 15px;}
      .toolbar {
        margin-top: 0;
        .pager { text-align: left;}
      }
    .block-layered-nav {
        a.expand {
            background: url("../images/expand_side_nav.jpg") no-repeat scroll 0 0 transparent;
            padding: 2px 0 2px 22px;
        }
        a.colapse {
            background: url("../images/colapse_side_nav.jpg") no-repeat scroll 0 0 transparent;
            padding: 2px 0 2px 22px;
        }
        .currently-title {
            padding-left: 10px;
        }
        .block-title {
            span {
                padding-left: 10px;
            }
        }
    }
}

.catalog-category-view {
    .content-container {
        position: relative;
        > .link-print { position: absolute; top: 5px; right: 11px; z-index: 12; color: @lightest; padding: 0; background: none; font-size: 12px; &:hover { text-decoration: underline;}}

        background-image: url("../images/bg_pdp.jpg"); background-repeat: repeat-y;
    }
    .brand-main-content {
        margin-left: -10px;
    }
    .brand-promo-right {
        margin-top: -10px;
    }
    .block-compared {
        margin-top: 15px;
        .block-title {
            background: none repeat scroll 0 0 transparent;
            border: medium none;
            margin: 0;
            padding-left: 15px;
        }
        .block-content {
            padding: 15px;
        }
        #recently-compared-items {
            li {
                float: left;
                text-align: center;
                width: 65px;
            }
            .product-image {
                display: block;
                margin-bottom: 5px;
            }
            .product-name {
                display: block;
                font-weight: normal;
                color: @primary;
            }
        }
    }
}
.pager {
	border: none;
	text-align: center;
	.gradient (top, @lighter3, @lighter);
	height: 25px;
  padding: 5px 10px;
	.amount {
    	display: inline-block;
      float: none;
      padding: 0 10px 0 0;
      vertical-align: top;
      line-height: 25px;
	}
	.pages {
        display: inline-block;
        float: right;
        line-height: 25px;
        height: 25px;
        margin: 0;
        padding: 0;
        text-align: center;
        vertical-align: top;
        color: @primary2;
        ol, li { padding: 0;}
        a {
            color: @primary2; padding: 0 4px 0 2px;
            &.previous { margin-right: 5px;}
            &.next { margin-left: 5px;}
        }
        a:hover { color: @primary2;}
        .separator {
            margin: 0 3px; font-weight: normal;
        }
        .current {
            .separator { margin-left: 7px;}
        }
        li.last {
            .separator { display: none;}
        }
      .number {
          border-right: 1px solid @primary;
          padding-left: 2px;
          padding-right: 4px;
          &.current{
              span {
                  padding-left: 2px;
                  padding-right: 2px;
                  text-decoration: underline;
              }
          }
          &.last {
              border-right: none;
              padding-right: 2px;
          }
      }
  }
  .previous,
  .next {
      margin-left: 2px;
      margin-right: 2px
  }
  .previous img,
  .next img {
  	padding-bottom: 4px;
  }
  .limiter {
      display: inline-block;
      float: none;
      line-height: 25px;
      vertical-align: top;
  }
  .view-all {
      margin-left: 2px;
  }
}
.sorter {
	border-top: none;
	background: none;
	padding: 0;
	display: inline-block;
  float: left;
  vertical-align: top;
	.sort-by {
	    text-align: left;
	    font-weight: bold;
	    line-height: 25px;
	    .toolbar-sort { display: inline-block;}
	}
}
.visualcompare {
	.gradient (top, @lighter2, @lighter);
	margin-top: 0;
    .data-table {
        border: none; width: 70%; display: inline-block; margin: 10px 0 5px;
	    thead {
	        display: none;
	    }
        td {
        	padding: 0 0 0 5px; vertical-align: middle;
            &.first { padding-left: 20px; white-space: nowrap; padding-right: 10px;}
        }
        tbody {
            tr {
                background: none;
                &.last {
                    td { border: none;}
                }
            }
        }
    }
    .clear-all
    {
        margin: 4px 0 0 10px;
        float: left; 
    }
    .sorter {
        display: inline-block; float: right; margin-right: 10px; margin-top: 10px;
        .sort-by {
            label { display: block; line-height: normal; text-align: left;}
        }
        select { width: 120px;}
    }
    .compare-table .button-cell {
      position: relative;
      button {
        display: inline-block;
        position: relative;
        box-shadow: none;
        padding: 5px 9px;
        span { font-size: 12px;}
      }
      .clear-all {
        display: inline-block;
        float: left;
        margin-left: 10px;
      }
      .onlyshowing {
        clear: left;
        padding: 0 0 0 5px;
        text-align: left;
      }
      a.remove { display: inline-block; vertical-align: middle; margin-left: 5px; color: @primary2;}
    }
    .buttons-set {
        position: absolute;
    }
}
.visualcompare.no-compare-items {
	padding: 10px;
}
.sidebar .box-collateral {
	background: none;
	padding: 10px;
    .box-title {
	    background: none;
        border: none;
        padding: 0;
        margin: 0;
        text-align: left;
        color: @dark;
    }
    .products-grid {
    	padding: 0;
        margin: 6px 0 0;
    }
    .products-grid li.item {
    	margin: 0 0 10px -10px;
        width: 180px;
        background: @lightest;
    }
    .products-grid .product-image {
    	margin-top: 10px;
    }
}



/* catalog_product_view, catalog_category_view, catalogsearch_result_index */
.page-title-container {
	width: 540px; position: relative; margin-bottom: 10px;
    .page-title {
        background: none; position: relative; text-transform: uppercase; padding: 30px 20px 20px; width: 60%;
        h1, h2 { color: @lightest; padding-bottom: 0;}
    }
    .category-image { position: absolute; top: 0;}
    .category-description {
        z-index: 2; position: relative; color: @lightest; padding-left: 25px;
        p { line-height: normal;}
    }
    &.with-image {
        height: 200px;
        .page-title {
            height: 70px;
            h1 { display: none;}
        }
    }
    &.no-image {
        background-color: #27486a;
        .page-title { text-transform: none; font-size: 32px; h1,h2 { font-size: 32px;}}
    }
}
.category-description {
	padding-top: 0;
	text-align: left;
}
.sidebar .block-layered-nav,
.sidebar .filter-nav {
	.block-title {
	    padding: 4px 0;
        strong {
            font-weight: bold;
        }
    }
    .block-content {
    	background: @lighter3;
        padding: 10px;
        line-height: 18px;
        min-height: 300px;
    }
    .currently {
    	padding: 10px;
    	margin-bottom: 10px;
        border: none;
        background: @highlight url(../images/bkg_layered_current.png) 10px 0 no-repeat;
        .label {
            color: @darker; display: block;
        }
        li {
            padding-right: 0; font-weight: bold; color: #999999;
            a.btn-remove {
                margin: 0; position: relative; right: 0; top: 0; background: none; height: auto; width: auto; padding: 0; color: @primary; font-size: 11px; text-decoration: underline; font-weight: normal;
            }
        }
    }
    .currently-title {
    	padding: 4px 0 4px 10px;
        font-size: 14px;
        font-weight: bold;
    }
    dt {
    	margin: 2px 0 5px;
		font-weight: bold;
		font-size: 12px;
		color: @darkest;
    }
    dd {
        a { color: @primary2;}
    }
}
.sidebar .block-layered-nav {
    dl { padding: 0;}
    .actions { background: none; border: none; margin: 0; padding: 0; display: inline-block; float: right; a { color: @primary; font-size: 11px; text-decoration: underline; font-weight: normal;}}
}
#why-supplement-warehouse {
	background: @light;
	color: @lightest;
	height: 150px;
	padding: 10px;
	text-align: left;
	font-weight: bold;
	margin-bottom: 10px;
}
.col-right .ad {
    background: @lightest;
    height: 150px;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
}
.catalogsearch-advanced-index {
	.fieldset {
        padding: 0 20px;
    }
    .buttons-set {
    	padding: 0 0 30px;
    }
}

/* catalog_product_view */
.col2-right-layout {
	float: left;
}
#messages_product_view {
	margin: 0;
}
.collateral-tabs {
	.tab {
        background: none;
        border: none;
        font-size: 13px;
        margin: 0 8px 0 0;
        padding: 0;
        color: @lightest;
        font-weight: bold;
        span {
            background: @lighter;
	        padding: 6px 35px;
	        .border-radius-custom (8px, 8px, 0px, 0px);    
	    }
    }
	.tab.active {
		background: none;
        border: none;
        margin: 0 8px 0 0;
	    padding: 0;
        span {
            background: @primary;
            color: @lightest;
        }
    }
    .tab-container {
    	top: 36px;
    }
    .tab-content {
        border: none; border-top: 1px solid @lighter; padding: 20px 0;
        .box-collateral {
            .box-content { padding: 10px 0;}
            &.box-reviews {
                #review-form {
                    .form-list {
                        label { width: 152px;}
                    }
                }
                .box-title { background: none; margin: 0; padding: 0;}
            }
        }
    }
}
#product-details-related-links {
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    strong {
        color: @dark;
    }
    ul {
        margin-top: 6px;
    }
	li {
	    padding: 2px 0;
	}
	li a {
		color: @primary;
    }
}
.box-collateral.box-reviews {
	margin: 20px;
}
.box-collateral .box-title {
	border: none;
	background: none;
	.gradient (top, @lighter3, @lighter2);
}
.col1-layout .product-view,
.col2-left-layout .product-view,
.col2-right-layout .product-view, {
    margin: 0;
	background: none;
    width: 740px;
    min-height: 1025px;
	.product-shop,
	.product-collateral {
	    width: 680px;
	    padding: 0 30px;
        display: block;
        clear: both;
	}
    .product-collateral { margin-top: 30px;}
    .product-shop {
        display: inline-block; padding-left: 0; width: 47%;
    }
	.box-related {
	    margin: 30px 20px 20px;
		.note,
	    input.checkbox,
	    li.item p a {
	       display: none;
        }
    }
	.product-name h1,
	.product-main-info a {
	    color: @primary2;
	}
	.product-shop {
		.price-box {
            margin: 0; display: inline-block; vertical-align: middle; width: 100px;
            .availability { display: none;}
        }
		.price-box .regular-price .price {
		    font-size: 24px;
		}
	   .product-main-info {
	        background: none;
	        border: none;
	        padding: 30px 30px 0;
	        margin-bottom: 0;
            .short-description { padding: 0; display: block; font-weight: normal;}
        }
	}
	.product-img-box {
	    float: left;
	    padding: 30px 30px 5px;
	    width: 300px;
	    .product-image-zoom {
	        width: 250px; height: 200px;
	    }
        .product-image {
	        width: 225px; height: 200px; padding-left: 25px;
        }
	   .zoom-notice {
	        font-size: 11px;
	        color: @primary2; text-align: left;
            background: url(../images/ico_zoom.png) no-repeat left center;
            padding-left: 18px;
	    }
        .more-views {
            margin-top: 15px;
            li { border: none;}
        }
	}
	.product-shop {
	    .emailto-link,
	    p.no-rating,
	    .ratings {
            font-weight: normal;
	        margin: 0 0 10px;
	    }
        .emailto-link {
            margin-bottom: 20px;
        }
		.availability {
		    margin: 20px 0 10px;
		}
		.availability.in-stock {
		    color: @darktertiary;
		}
	}
	.add-to-links {
		margin: 5px;
    }
	.p-pricematch { display: inline-block; margin: 0; vertical-align: bottom;}
	.p-addtocart,
	.p-adjustprice,
	.p-updateprice {
		float: right;
	    margin-right: 250px;
    }
	.ratings {
		width: 230px;
    }
}
.catalog-product-view {
    .content-container {
        background-image: url("../images/bg_pdp.jpg");
        background-repeat: repeat-y;
        > .link-print { position: absolute; top: 5px; right: 11px; z-index: 12; color: @lightest; padding: 0; background: none; font-size: 12px; &:hover { text-decoration: underline;}}
    }
    .product-view {
        h1 {
            font-size: 25px;
            font-weight: normal;
            margin: 40px 0 0 40px;
            color: #0096ff;
            font-weight: bold;
        }
        .product-shop {
            .product-main-info {
                padding: 30px 0 0; margin: 0;
                .social {
                    float: none;
                    margin: 0;
                    overflow: hidden;
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    width: 93%;
                    text-align: right;
                    display: inline-block;
                    height: 20px;
                  .fb_iframe_widget iframe {
                    width: auto !important;
                  }
                  .fb-like { margin-right: 10px; float: none; vertical-align: top; display: inline-block;}
                  iframe {
                    width: 100px !important;
                    z-index: 10;
                    position: relative;
                    vertical-align: top;
                    display: inline-block;
                    float: none;
                  }
                }
                .product-name {
                  p.no-rating {
                    width: 56%;
                  }
                }
            }
            h1 {
                font-weight: normal;
                font-size: 20px;
                margin: 0;
                color: @primary2;
            }
            .p-incart {
                float: left;
                margin-top: 50px;
                margin-left: -70px;
            }
            p.retail-price { margin: 0; font-size: 11px; color: #999999;}

            .special-price {
                margin-bottom: 0;
                .price-label { font-size: 11px; font-weight: normal; color: red;}
                .price { font-size: 20px; color: red;}
            }

            .product-options {
                dt {
                    display: inline-block; float: left; margin-right: 3px; width: 100px;
                    label {
                        position: relative;
                        em { position: absolute; margin: 0; right: -9px;}
                    }
                }
                dd { display: inline-block; margin: 0 0 15px; padding: 0; width: 240px; border: none;}
            }

            .grouped-items-table {
                border: none; margin-top: 20px;
                thead { background: none;}
                .price-box {
                    .price { font-size: 16px;}
                }
                td { vertical-align: middle;}
            }
        }
        .product-brand {
            font-weight: normal; font-style: 11px; text-transform: lowercase; margin-bottom: 10px;
            a {
                font-weight: normal; color: @primary2; text-decoration: none; text-transform: none;
            }
        }
        .promo-description {
            font-size: 15px;
            font-style: italic;
            margin: 4px 0 0 40px;
            font-weight: bold;  
            color: @limegreen;      
        }
        .product-attribute {
            margin: 4px 0;
            font-weight: normal;
        }
        .product-attribute.product-hot-deal {
          margin-top: 15px;
          font-weight: normal;
          font-size: 15px;
          color: red;
          margin-bottom: 20px;
        }
        .product-attribute-stock {
            #div_availability {
                display: block;
                font-weight: normal;
                padding-bottom: 10px;
            }
            .price-box { display: none;}
        }
        #div_availability {
            display: none;
        }
        .product-promo {
            color: #ff0000;
            font-size: 18px;
            margin: 4px 0 0 40px;
        }

        .product-collateral {
            .product-directions-content, .product-warnings-content {
                margin-top: 15px;
                h3 {
                    border-bottom: 1px solid @lighter;
                }
            }
            .product-direction-text , .product-warnings-text {
                margin-top: 12px;
            }
        }
    }   
}
.review-product-list {
    .col1-layout {
        .product-view {
            border: none;
            width: 100%;
            .product-essential {
                .product-shop { padding-right: 0; width: 600px;}
                #div_availability { clear: both;}
            }
            .box-collateral.box-reviews {
                margin: 20px 0;
            }
            .p-pricematch { margin-right: 400px;}
            .pricematch {
                clear: both;
                padding-top: 10px;
                .p-addtocart {
                    float: left;
                    margin-right: 0;
                    margin-top: 20px;

                }
            }
            .product-main-info {
                #div_availability { display: none;}
                .product-attribute-stock {
                    .price-box { display: none;}
                    #div_availability { display: block;}
                }
                p.no-rating { width: 592%;}
            }
        }
    }
}
.col1-layout .product-view {
	width: 938px;
	.product-shop {
        width: 640px;
	    padding: 0 30px 0 0;
    }
}
.options-container-big {
	clear: both; border: none; padding: 10px 0; margin-top: 10px;
	.price-box {
        display: none;
    }
    .product-options-bottom {
        .price-box, .add-to-links { display: none !important;}
        .add-to-cart {
            margin-left: 70px;
            button.btn-cart {
                padding: 4px 15px; clear: both; display: block; max-width: 100px; margin-top: 10px !important; margin-left: 33px !important;
                span {
                    height: 22px !important;
                    padding: 0 !important;
                    span { font: bold 12px/22px Arial,Helvetica,sans-serif !important; height: 22px; padding: 0 !important;}
                }
            }
        }
    }
}
.product-options { margin: 0;}
.content-container {
    background-color: @lighter2; position: relative;
}

/* checkout_cart_index */
.form-subscribe button.button,
button.button.btn-update,
.discount button.button,
.giftcard button.button,
.shipping button.button {
    .gradient (top, @light, @dark);
}
.discount button.button,
.giftcard button.button,
.shipping button.button,
.visualcompare button.button,
button.button.small-btn {
    /* make buttons small */
    padding: 0 8px;
}
button.button.check-gc-status {
    padding-top: 8px;
}
button.button.btn-continue,
button.button.check-gc-status {
    /* make button not look like button */
    .remove-bg;
    .border-radius (0px);
    .box-shadow (0px, 0px, 0px);
}
.cart .totals table tfoot strong {
    color: @secondary;
}
.checkout-cart-index {
	.page-title {
        padding: 0;
    }
    .cart-empty {
    	padding: 20px 0;
    }
    .cart-table .item-options {
      display: none;
    }
}
#mcafee-logo {
	margin: 0 35px -20px 0;
}

/* checkout_onepage_index */
.checkout-onepage-index {
	.col1-layout .col-main {
        padding: 0;
	    .page-title {
            margin-top: 0;
	        padding-left: 20px;
        }
    }
	.opc .active .step-title h2 {
	   background: @secondary;
    }
}

/* checkout_onepage_success */
.checkout-onepage-success {
	.col-main {
        a {
            text-decoration: underline;
        }
    }
}

/* featured products block */
.featured-products-block {
	padding: 10px;
	.gradient (top, @lighter, @lightest);
	.heading {
        text-transform: uppercase;
	    font-weight: bold;
	    margin: 6px 10px;
    }
    .block-heading {
    	  margin: -10px 0 15px -10px;
    		padding: 10px;
    		background: @darker;
        font-weight: bold;
    		width: 210px;
    		overflow: hidden;
        	.border-radius-custom (10px, 0px, 0px, 10px);
        a {
            color: @lightest;
        }
    }
    .product-description {
        display: inline-block;
        width: 180px;
        height: 65px;
        line-height: 1.5;
    }
    .block-item {
    	.border-radius (10px);
        .box-shadow (0px, 0px, 6px, .4);
        background: @lightest;
        border: 1px solid @light;
        padding: 10px;
        .ratings {
            display: none;
        }
        min-height: 175px;
    }
    .product-img {
    	  float: right;
        vertical-align: top;
        margin-bottom: 10px;
        z-index: 99;
        position: relative;
    }
    .block-bottom {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        margin-top: 10px;
    }
    .price-box {
        float: left;
        font-size: 16px;
        font-weight: bold;
        margin-right: 20px;
        .availability { display: none;}
    }
    button.button {
    	float: right;
    }
    table {
        display: relative;
    }
    .out-of-stock {
        float: right;
    }
    p.availability.in-stock,
    p.availability.out-of-stock {
        display: none;
    }

}
.std .featured-products-block {
    table {
        margin-bottom: 0;
    }
	table th,
    table td {
        border: none;
        padding: 6px 8px;
        width: 200px;
    }
}

/* pricematch */
.dontshow {
	height: 0;
	overflow: hidden;
}
.pricematch {
	dt {
        font-size: 14px;
	    font-weight: bold;
	    margin: 10px 0 6px;
    }
    input.input-text {
    	font-family: inherit;
    }
    input.first {
    	width: 300px;
    }
}
.pricematch.ui-dialog-content {
    .p-pricematch strong { text-transform: capitalize;}
}
.is-pricematched-item {
	margin-bottom: 8px;
	a {
        text-decoration: underline;
    }
}
.ui-corner-all.ui-dialog {
	.border-radius (0px);
}
.ui-widget.ui-dialog {
	font-family: inherit;
	.ui-widget-header {
        .border-radius (0px);
	    background: @primary;
	    color: @lightest;
	    font-size: 18px;
	    a {
            color: @lightest;
        }
    }
}
.ui-dialog .ui-dialog-content.pricematch {
	padding: 10px;
	background: @lightest;
	text-align: left;
	.p-pricematch,
	.p-addtocart,
	.p-adjustprice,
	.p-updateprice {
	    margin-top: 8px;
	}
	.bottom-container {
		display: none;
		clear: both;
		width: 100%;
	    float: left;
	    padding: 10px;
	    margin: 10px -10px -10px;
        overflow: hidden;
        background: @lighter;
	    .box-shadow-inset (0px, 5px, 5px, .3);
	    border-top: 2px solid @light;
	    .competitors-price,
	    .your-price,
	    .button-container {
	        float: left;
	        padding: 10px;
	        text-align: center;
	        height: 60px;
	        margin: 10px;
        }
        .competitors-price {
            font-size: 18px;
            font-style: bold;
            background: @lighter2;
            .border-radius (5px);
            width: 190px;
            padding-top: 20px;
            padding-bottom: 0;
        }
        .your-price {
            font-size: 26px;
            font-style: bold;
            background: @lightest;
            .border-radius (5px);
            width: 180px;
            color: @tertiary;
        }
        .button-container {
            text-align: center;
            width: 100px;
            padding-top: 20px;
            padding-bottom: 0;
            margin-right: 0;        
        }
    }
	p.congrats {
		padding: 10px;
    }
	table.congrats {
		width: 100%;
		td {
		    padding: 10px;
		    text-align: center;
		    width: 50%;
        }
        td.lastcol {
        	width: 100px;
        }
    }
	.pricematch-item {
	    width: 400px;
	    float: left;
	}
	.p-adjustprice {
	    float: right;
	    padding: 20px 10px 10px;
	    margin-bottom: 0;
    }
}
.p-pricematch,
.p-addtocart,
.p-adjustprice,
.p-updateprice {
    margin-bottom: 8px;
}
.p-addtocart {
  label {
    font-weight: bold;
  }
  input {
    width: 50px;
    padding: 5px;
  }
}

button.button.btn-adjustprice,
button.button.btn-adjustprice-modal {
	.gradient (top, @tertiary, @darktertiary);
	width: 100px;
	span span {
	    width: 85px;
    }
}
td.pricematched-item-original-price {
	color: @secondary;
	text-decoration: line-through;
}
p.pricematched-item-price {
	margin: 0 0 6px;
	font-weight: bold;
	color: @tertiary;
	font-size: 16px;
}
.brand-index-index {
    .col-main {
        padding: 20px 30px;
    }
    .pager {
    	display: none;
    }
    .content {
    	padding: 0;
        line-height: 16px;
        .brand-col {
            background: @lighter3;
            float: left;
            font-size: 1.2em;
            line-height: 1.5em;
            margin: 0;
            padding: 0 20px;
            width: 95%;
        }
        .brand-col.navigation {
          .alpha {
            font-weight: bold;
            margin-right: 16px;
          }
        }
    }
    .lattera {
        color: @primary;
        border-bottom: 1px solid @lighter;
        font-size: 1.2em;
        margin-top: 12px;
    }
    .bare-list {
        margin: 5px 0;
        li {
            display: inline-block;
            line-height: 14px;
            margin-bottom: 8px;
            padding-right: 5%;
            vertical-align: top;
            width: 19%;
            a {
                color: @dark;
                display: inline;
                font-size: 12px;
                line-height: 14px;
            }
            a:hover {
                color: @primary;
                text-decoration: underline;
            }
        }
    }
}
.brand-index-view {
   .page-title {
        padding: 20px;
    }
}
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 {
	float: none;
}
.page-title {
    padding: 20px 0 0;
}

/* Webforms */
.webforms-helpdesk h2.legend{
    display: none;
}
.webforms-helpdesk ul.form-list{
    margin-left: 237px;
}

.attribute-label{
    width:50px;
    text-align:left;
    display:inline-block;
}

.attribute-text{
    width:200px;
    text-align:left;
    display:inline-block;
}

.attribute-text-long{
    width: 250px;
    text-align:left;
    display:inline-block;
}

.recaptchatable label.recaptcha_input_area_text {
    line-height: normal !important;
}

.cms-support {
    p.required { float: left; width: 765px;}
}

.onestepcheckout-index-index .form-alt select.address-select{
   width: 257px !important;
}

#onestepcheckout-login-popup p.close,
#onestepcheckout-toc-popup p.close { bottom: 10px !important; right: 15px !important;}

#review-form .buttons-set button.button { float:left; }
#review-form p.required { text-align: left; }
.box-collateral.box-reviews { margin: 0px; }

.my-wishlist {
    #wishlist-view-form {
        .buttons-set button.button { margin-left: 15px !important;}
        #wishlist-table {
            button.btn-cart,
            .availability { margin: 10px 0 !important;}
        }
    }
}

.static-cross-sells {
    .top-items {
        border-top: 2px solid #D9D9D9;
        border-bottom: 2px solid #D9D9D9;
        border-left: none;
        border-right: none;
        background-color: #EDEDED;
        .item{
            width:300px;
            padding-top: 16px;
            padding-bottom: 10px;
            .product-image {
                float: left;
                margin-right: 15px;
                margin-top: 1px;
            }
            .attributes {
                float: left;
                height: 28px;
                margin: 5px 0;
                overflow: hidden;
                width: 200px;
                font-size: 12px;
                line-height: 12px;
                div {
                    font-weight: normal;
                }
            }
            .availability {
                float: left;
            }
            .product-name {
                font-size: 14px;
            }
        }
        .legend {
            font-size: 25px;
            font-weight: bold;
            padding: 28px 30px;
            width: 200px;
        }
    }
    .bottom-items {
        width: 860px;
        border-top: 2px solid #7C9127;
        border-bottom: 2px solid #7C9127;
        border-left: none;
        border-right: none;
        background-color: #FFFFFF;
        padding: 0;
        .anythingSlider {
            width: 860px !important;
            height: 160px;
            margin-left: -40px;
            padding: 0 40px;
            .anythingWindow {
                border: none;
               
            }
        }
        .product-image {
            float: left;
            margin: 0 10px 0 15px;
        }
        .attributes {
            float: left;
            margin: 5px 0;
            overflow: hidden;
            width: 125px;
            div {
                display: inline;
            }
        }
        .availability {
            float: left;
            font-size: 13px;
        }
        .product-name {
            font-size: 14px;
        }
    }
    div.anythingSlider {
        .arrow {
            padding-top: 5px;
            a {
                background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
                width: 40px;
                height: 130px;
            }
        }
        .forward {
            a {
                background-position: right top;
            }
            a:hover{
                background-position: right -124px;
            }
        }
        .back {
            a:hover{
                background-position: 0 -124px;
            }
        }
    }
}

#cross-sell-items {
    padding: 15px 0;
    height: 155px;
    li {
        width: 287px;
        padding: 0;

    }
}

.ratings {
    .rating-box {
        background: url(../images/bkg_rating.png) repeat-x left bottom; height: 10px; width: 50px; float: none; display: inline-block; vertical-align: middle;
        .rating { background: url(../images/bkg_rating.png) repeat-x left top; height: 10px;}
    }
    .rating-links { display: inline-block; vertical-align: middle;}
}
.add-to-cart {
    label { text-transform: uppercase;}
}

.brand-index-view .col-main {
    width: 550px;
    margin-left: -20px
}

.brand-main-content {
    .page-title-container {
        float: none;
        width: 550px;
    }
    .block-item {
        .product-name {
            color: @primary2;
            display: block;
            font-size: 15px;
            margin-bottom: 5px;
            text-align: left;
        }
    }
    .brand-image {
        width: 550px;
        overflow: hidden;
        text-align: center;
        max-height: 264px;
    }
    .brand-image.first {
        img {
            float: right;
        }
    }
    .brand-title {
        margin-bottom: 10px;
        padding: 0;
        position: relative;
        text-align: left;
        width: 550px;
        h1{
            color: @darkest;
            display: inline-block;
            font: bold 24px/27px Arial,Helvetica,sans-serif;
            padding: 0 5px 0 12px;
            text-align: center;
            text-transform: none;
            width: auto;
            z-index: 10;
        }
        h2 {
            color: @purple;
            display: inline-block;
            font-size: 20px;
            font-style: italic;
            font-weight: normal;
            text-transform: none;
        }
        .brand-content {
            font: 15px/16px 'Times New Roman',Helvetica,sans-serif;
            padding-bottom: 10px;
            text-align: center;
            width: 550px;
        }
        .wrapper-brand-promo-banner {
            overflow: hidden;
            padding: 10px 0 5px;
            width: 165px;
        }
    }

}

.brand-promo-right {
    margin-bottom: 15px;
    position: relative;
    a{
        background-color: @lightprimary;
        background-image: -moz-linear-gradient(center top , @lightprimary, @primary2);
        border-radius: 5px 5px 5px 5px;
        color: @lightest;
        font-size: 13px;
        font-weight: bold;
        left: 12px;
        margin: 0 !important;
        padding: 6px 7px;
        position: absolute;
        top: 120px;
    }
}

.products-list {
    .link-compare {
        background: url("../images/bg_ckeckbox_compare.jpg") no-repeat scroll -4px -25px transparent;
        display: inline-block;
        height: 22px;
        padding-left: 20px;
        &.added {
            background-position:  -4px -2px;
        }
    }
}
