/* Mixins */
.pie {
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.remove-bg {
  background: none !important;
  background-image: none !important;
  -pie-background: none !important;
  behavior: none !important;
}
/* Custom */
/* default */
body {
  background: #000000;
  color: #333333;
}
body.page-popup {
  background: #ffffff;
}
body,
div.anythingSlider .anythingControls ul a {
  font: 12px Arial, Helvetica, sans-serif;
}
a {
  color: #0096ff;
  text-decoration: none;
}
button.button {
  background-color: #2bb1fb;
  background-image: -webkit-linear-gradient(top, #2bb1fb, #025fcf);
  background-image: -moz-linear-gradient(top, #2bb1fb, #025fcf);
  background-image: -o-linear-gradient(top, #2bb1fb, #025fcf);
  background-image: -ms-linear-gradient(top, #2bb1fb, #025fcf);
  background-image: linear-gradient(top, #2bb1fb, #025fcf);
  -pie-background: linear-gradient(top, #2bb1fb, #025fcf);
  padding: 4px 8px;
  margin: 0 !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
button.button span,
button.button span span {
  background: none !important;
  padding: 0 !important;
  color: #ffffff;
  font-size: 12px;
  text-transform: none;
}
table {
  border-color: none;
}
.home-carousel-container div.anythingSlider .arrow a,
.home-carousel-container div.anythingSlider .anythingControls ul a,
.home-carousel-container div.anythingSlider .start-stop {
  background: none;
}
.form-subscribe button.button {
  background-color: #aaaaaa;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #555555);
  background-image: -moz-linear-gradient(top, #aaaaaa, #555555);
  background-image: -o-linear-gradient(top, #aaaaaa, #555555);
  background-image: -ms-linear-gradient(top, #aaaaaa, #555555);
  background-image: linear-gradient(top, #aaaaaa, #555555);
  -pie-background: linear-gradient(top, #aaaaaa, #555555);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.page-title h1,
.page-title h2 {
  color: #333333;
  font-size: 2.5em;
  font-weight: bold;
  padding-bottom: 15px;
}
.wrapper {
  background: #000000 url('../images/bg.jpg') no-repeat center top fixed;
  padding-bottom: 0;
}
.header-container {
  margin: 0;
  height: 224px;
  position: relative;
  z-index: 20;
}
.top-container {
  background: #ffffff;
  text-align: center;
  padding: 0;
  -webkit-box-shadow: 0px 0px 20px #000000;
  -moz-box-shadow: 0px 0px 20px #000000;
  box-shadow: 0px 0px 20px #000000;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.header-panel {
  position: relative;
  z-index: 2;
  background: none;
  float: right;
}
.header-panel .links {
  margin-right: 0;
  float: right;
}
.header-panel .links li {
  background: url(../../../enterprise/default/images/bkg_sep.gif) no-repeat 100% 50%;
  padding: 0 6px 0 0;
  margin: 0 4px 0 0;
}
.header-panel .links li.last {
  margin-right: 0;
  padding-right: 0;
  background: none;
}
.header-panel .links li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
.header-panel .links li a:hover {
  color: #2bb1fb;
}
.header-panel .phone-number {
  clear: both;
  color: #c8c8c8;
  line-height: 10px;
  text-align: right;
  padding: 4px 6px;
  font-size: 18px;
  font-weight: bold;
}
.header-panel .welcome-msg {
  color: #ffffff;
  padding-right: 20px;
}
.header {
  position: relative;
  z-index: 1;
  height: 117px;
  background: url(../images/bg_header_pattern.png) no-repeat center center;
}
.header .logo {
  position: absolute;
  z-index: 900;
  top: -25px;
}
.header .quick-access {
  clear: both;
  padding: 0;
  width: 285px;
  height: 40px;
  margin-top: 16px;
}
.header .form-search {
  margin-top: 2px;
  margin-right: 204px;
}
.header .form-search .note {
  margin-top: 4px;
  color: #c8c8c8;
  height: 0;
}
.header .form-search .note strong {
  color: #ffffff;
}
.header .my-cart {
  position: absolute;
  right: 3px;
  top: -18px;
  z-index: 1;
}
.header #cartHeader {
  background: none repeat scroll 0 0 transparent;
  padding-right: 70px;
  position: relative;
  text-align: right;
}
.header .top-cart {
  width: 166px;
  margin-top: 6px;
}
.header .top-cart .cart-qty {
  color: #ffffff;
  font-weight: normal;
}
.header .top-cart .cart-qty .blue {
  color: #0096ff;
}
.header .expanded .cart-qty {
  color: #ff6600;
}
.header .top-cart a {
  text-decoration: underline;
}
.header .top-cart a.btn-remove {
  clear: both;
  display: inline-block;
  font-size: 11px;
  margin-left: 65px;
}
.header .top-cart .block-title {
  background: none;
  color: #2bb1fb;
  padding-left: 0;
}
.header .top-cart .block-title strong {
  color: #ffffff;
  font-size: 13px;
  text-transform: none;
  margin-top: -6px;
}
.header .top-cart .block-content {
  top: 24px;
}
.header .top-cart .block-title.expanded strong,
.header .top-cart .block-content .block-subtitle {
  color: #ff6600;
}
#brand-finder {
  float: left;
  background: #555555;
  color: #ffffff;
  padding: 8px 14px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  -webkit-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.6);
  behavior: url(/js/pie/pie.htc);
  position: relative;
  cursor: pointer;
  font-weight: bold;
  font-size: 11px;
  text-transform: uppercase;
  height: 14px;
  overflow: hidden;
}
#search.input-text {
  width: 260px;
  margin-right: 10px;
}
#search.input-text,
#newsletter.input-text,
.pricematch .input-text,
.input-text.qty {
  height: 22px;
  background: #c8c8c8;
  padding-top: 6px;
  padding-left: 10px;
  border: none;
  -webkit-box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
#cartHeader {
  background: none;
}
#cartHeader .right-arrow {
  color: #ff6600;
  margin-left: 2px;
}
.nav-container {
  position: relative;
  top: -30px;
  z-index: 0;
  padding: 0;
  margin: 0 0 0 -20px;
  background: none;
  overflow: hidden;
  overflow-y: visible;
  width: 980px;
}
#nav {
  height: 46px;
  padding-top: 4px;
  margin: 20px 20px 0;
  background-color: #aaaaaa;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #333333);
  background-image: -moz-linear-gradient(top, #aaaaaa, #333333);
  background-image: -o-linear-gradient(top, #aaaaaa, #333333);
  background-image: -ms-linear-gradient(top, #aaaaaa, #333333);
  background-image: linear-gradient(top, #aaaaaa, #333333);
  -pie-background: linear-gradient(top, #aaaaaa, #333333);
  background: url(../images/bg_nav.png) no-repeat center top;
  -webkit-box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.8);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
#nav a {
  cursor: pointer;
}
#nav li.level-top {
  height: auto;
}
#nav li,
#nav li.over {
  z-index: 990 !important;
}
#nav a.level-top,
#nav li.active a.level-top,
#nav li.over a.level-top {
  border: none;
  color: #ffffff;
  font-size: 14px;
  background: none;
  padding: 4px 17px;
  margin-left: 0;
  height: 34px;
  line-height: 30px;
}
#nav a.level-top span,
#nav li.over a.level-top span,
#nav li.active a.level-top span {
  background: none;
  padding: 0;
}
#nav li.active,#nav li.mousehover {
  background: #0096ff;
  -webkit-border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
  height: 46px;
  margin-left: -2px;
}
#nav ul {
  display: none;
}
#nav a.level-top,
#nav li.over a.level-top {
  background: url(../images/nav_pipe.png) no-repeat right center;
}
#nav li.level-top.last a.level-top,
#nav li.over.active a.level-top {
  background: none;
}
.breadcrumbs {
  position: relative;
  z-index: 10;
  background-color: #0096ff;
  padding: 6px 20px;
}
.breadcrumbs li span {
  color: #000000;
}
.breadcrumbs a {
  color: #ffffff;
}
.page-title {
  position: relative;
  z-index: 1;
  border: none;
  text-align: left;
}
.main {
  position: relative;
  background-image: none;
  margin-bottom: 0;
  border: none;
  min-height: 530px;
}
.col-main {
  background-color: #ffffff;
  width: 740px;
  padding: 0;
}
.col3-layout {
  float: left;
}
.col3-layout .col-wrapper {
  width: 740px;
  min-height: 856px;
}
.col3-layout .col-main {
  width: 540px;
}
.col3-layout .col-left {
  padding: 0 10px;
  width: 175px;
}
.col2-left-layout .col-main {
  padding: 20px 40px;
  width: 660px;
}
.col-right {
  width: 180px;
  padding: 10px;
}
.sidebar .block {
  border: none;
}
.footer-container {
  clear: both;
  position: relative;
  background: #333333;
  border: none;
  margin-bottom: 0;
  color: #ffffff;
  padding: 15px 30px 0;
}
.footer-container a {
  color: #aaaaaa;
}
.footer-container a:hover {
  color: #2bb1fb;
}
.footer-container .footer {
  background: none;
}
.footer-container .form-subscribe-header {
  color: #ff6600;
}
.footer-container .form-subscribe {
  float: right;
  width: 284px;
  padding: 0;
}
.footer-container .form-subscribe button.button {
  margin: 0 13px 0 0 !important;
  padding: 5px 15px 4px;
}
.footer-container .form-subscribe-header {
  color: #ffffff;
  font-size: 14px;
  text-transform: none;
}
#need-assistance {
  float: left;
  text-align: left;
  color: #ffffff;
}
#need-assistance .heading {
  font-size: 14px;
}
#need-assistance .phone-number {
  font-size: 18px;
  font-weight: bold;
}
#need-assistance .store-hours {
  color: #aaaaaa;
  font-size: 12px;
}
#customer-support-links {
  float: left;
  width: 300px;
  padding: 0 0 20px 75px;
}
#customer-support-links .heading {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
#customer-support-links a {
  color: #aaaaaa;
}
#customer-support-links a:hover {
  color: #2bb1fb;
}
#customer-support-links ul {
  width: 100px;
  margin-left: 0;
}
#footer-links {
  clear: both;
  margin: 10px 0 0;
  width: 500px;
}
#footer-links li {
  display: inline;
  background: url(../../../enterprise/default/images/bkg_sep.gif) no-repeat 100% 50%;
  padding: 0 7px 0 3px;
}
#footer-links li.first {
  padding-left: 0;
}
#footer-links li.last {
  background: none;
}
#social-icons {
  float: right;
  width: 260px;
}
#social-icons map {
  width: 40px;
  float: right;
}
.social {
  margin: -208px 0 0;
}
address.copyright {
  clear: both;
  text-align: left;
  background: #333333;
  color: #ffffff;
  margin-top: 0;
  padding: 0 30px 20px;
}
.col-main .page-head,
.col-main .page-head-alt {
  margin: 0;
}
.page-popup .page-title,
.col-main .page-title {
  margin-left: 0;
  margin-right: 0;
}
.col1-layout .col-main {
  padding: 20px 40px;
}
.col1-layout .col-main .page-title {
  margin-top: 0;
  padding-left: 0;
}
.std ul,
.std ol,
.std dl,
.std p,
.std address,
.std blockquote,
.std table,
.std .faqanswer,
.my-account ul,
.my-account ol,
.my-account dl,
.my-account p,
.my-account address,
.my-account blockquote,
.my-account table {
  line-height: 1.75em;
}
.std h1 {
  font-size: 27px;
  font-weight: normal;
  line-height: 2em;
}
.std h2 {
  line-height: 2em;
  padding-top: 1em;
}
.std h3 {
  line-height: 26px;
}
.account-login .new-users,
.account-login .registered-users {
  padding: 0;
}
.sidebar .block-account .block-title {
  padding-top: 40px;
}
.sidebar .block-account li.current {
  background: #ffffff;
  /* Old browsers */

  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
  /* IE10+ */

  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
  /* IE6-9 */

}
.sidebar .block-account li a {
  color: #0096ff;
}
.sidebar .block-account li a:hover {
  background: none;
}
/* cms_index_index */
.cms-home .col2-set .col-1,
.cms-index-index .col2-set .col-1 {
  width: 705px;
}
.cms-home .col2-set .col-2,
.cms-index-index .col2-set .col-2 {
  width: 234px;
  margin-left: -234px;
  border: none;
}
.cms-home .col2-set .col-2 img,
.cms-index-index .col2-set .col-2 img {
  margin: 5px auto;
}
.cms-home .breadcrumbs-container {
  display: none;
}
.cms-home .content-container {
  -webkit-box-shadow: 0px -10px 20px #000000;
  -moz-box-shadow: 0px -10px 20px #000000;
  box-shadow: 0px -10px 20px #000000;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.home-carousel-container div.anythingSlider {
  padding: 0;
  margin: 0;
}
.home-carousel-container div.anythingSlider .anythingWindow {
  border: none;
  background: #000000;
}
.home-carousel-container .panel-container {
  width: 705px;
  height: 370px;
  color: #ffffff;
  font-size: 14px;
}
.home-carousel-container .panel-heading {
  font-size: 54px;
  font-weight: bold;
  line-height: 48px;
  margin-bottom: 10px;
}
.home-carousel-container .anythingControls {
  float: left;
  position: absolute;
  bottom: 0;
}
.home-carousel-container div.anythingSlider .anythingControls ul {
  margin-left: 10px;
  margin-bottom: 4px;
}
.home-carousel-container div.anythingSlider.activeSlider .anythingControls ul a {
  width: 10px;
  height: 10px;
  padding: 3px 6px 6px;
  margin: 4px;
  background-color: #555555;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.home-carousel-container div.anythingSlider.activeSlider .anythingControls ul a.cur {
  background-color: #aaaaaa;
}
.home-carousel-container div.anythingSlider .start-stop {
  visibility: hidden;
}
#home-carousel {
  margin: 0;
  padding: 0;
}
#home-carousel .panel-container2 {
  padding-top: 130px;
  padding-left: -50px;
}
#home-carousel .panel-heading,
#home-carousel .panel-description {
  width: 350px;
  margin-left: 50px;
}
#home-carousel .panel-description {
  float: left;
}
#home-carousel .panel-button {
  margin-right: 40px;
  float: right;
}
/* catalog_category_view */
.breadcrumbs {
  background: #0096ff;
}
.products-list li.item {
  padding: 10px;
  margin: 10px 10px 10px 0;
  background: none;
  border-bottom: 1px solid #c8c8c8;
}
.products-list li.item.last {
  border: none;
}
.products-list li.item.in-cart {
  background: #fff0b2;
}
.products-list .desc {
  clear: both;
  float: left;
  margin: 0;
}
.products-list .desc .link-learn {
  display: none;
}
.products-list .product-image {
  margin: 0;
  clear: both;
}
.products-list .product-shop {
  margin-left: 150px;
}
.products-list .product-shop .availability {
  float: right;
  clear: right;
}
.products-list .product-shop .col-left {
  display: inline-block;
  vertical-align: top;
  width: 71%;
  float: none;
  padding: 0;
}
.products-list .product-shop .col-right {
  display: inline-block;
  vertical-align: top;
  width: 28%;
  text-align: right;
  float: none;
  padding: 0;
}
.products-list .product-shop .retail-price {
  font-size: 11px;
  color: #999999;
  margin-bottom: 5px;
}
.products-list .product-name {
  float: left;
  margin-bottom: 0;
  font-size: 18px;
  color: #105dda;
  font-weight: normal;
  line-height: 20px;
  padding-top: 0;
  width: 95%;
}
.products-list .product-name a {
  font-size: 18px;
  color: #105dda;
  text-decoration: none;
}
.products-list .product-name .attribute-label,
.products-list .product-name .attribute-text {
  display: inline;
  width: auto;
}
.products-list .product-name .attribute-text-long {
  width: 100%;
  color: #95cd00;
  font-style: italic;
  font-size: 12px;
}
.products-list .add-to-links {
  list-style: none;
  padding: 0;
  font-size: 12px;
}
.products-list .price-box {
  float: right;
  font-size: 22px;
  margin-top: 0;
}
.products-list .price-box > .availability {
  display: none;
}
.products-list .p-pricematch,
.products-list .p-addtocart,
.products-list .p-adjustprice,
.products-list .p-updateprice,
.products-list .p-incart {
  clear: right;
  float: right;
  width: 100px;
}
.products-list .p-pricematch button,
.products-list .p-addtocart button,
.products-list .p-adjustprice button,
.products-list .p-updateprice button,
.products-list .p-incart button {
  width: 100%;
}
.products-list .is-pricematched-item {
  display: none;
}
.products-list .product-attributes {
  line-height: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 13px;
}
.products-list .rating-links a {
  color: #105DDA;
}
.products-list .rating-links .r-count {
  display: inline !important;
}
.add-to-links a {
  color: #105dda;
}
.p-incart {
  font-size: 14px;
  font-weight: bold;
}
.p-incart a {
  text-decoration: underline;
}
.products-list .p-incart {
margin-bottom: 10px;
}
.category-view,
.results-view,
.category-products {
  margin: 0;
}
.category-view .ratings,
.results-view .ratings,
.category-products .ratings {
  width: 150px;
  clear: both;
  margin: 5px 0 10px;
}
.category-view .ratings .rating-links a,
.results-view .ratings .rating-links a,
.category-products .ratings .rating-links a,
.category-view .ratings .rating-links span,
.results-view .ratings .rating-links span,
.category-products .ratings .rating-links span {
  display: none;
}
.category-view .ratings .rating-links a:nth-child(1),
.results-view .ratings .rating-links a:nth-child(1),
.category-products .ratings .rating-links a:nth-child(1) {
  display: inline;
}
.catalog-product-compare-index a.link-wishlist {
  color: #0096ff;
  text-decoration: underline;
}
.category-title {
  border: none;
}
.category-products {
  padding: 0;
}
.catalog-category-view .col-main,
.catalogsearch-result-index .col-main {
  padding-bottom: 0;
}
.catalog-category-view .sidebar,
.catalogsearch-result-index .sidebar {
  margin-top: 15px;
}
.catalog-category-view .toolbar,
.catalogsearch-result-index .toolbar {
  margin-top: 0;
}
.catalog-category-view .toolbar .pager,
.catalogsearch-result-index .toolbar .pager {
  text-align: left;
}
.catalog-category-view .block-layered-nav a.expand,
.catalogsearch-result-index .block-layered-nav a.expand {
  background: url("../images/expand_side_nav.jpg") no-repeat scroll 0 0 transparent;
  padding: 2px 0 2px 22px;
}
.catalog-category-view .block-layered-nav a.colapse,
.catalogsearch-result-index .block-layered-nav a.colapse {
  background: url("../images/colapse_side_nav.jpg") no-repeat scroll 0 0 transparent;
  padding: 2px 0 2px 22px;
}
.catalog-category-view .block-layered-nav .currently-title,
.catalogsearch-result-index .block-layered-nav .currently-title {
  padding-left: 10px;
}
.catalog-category-view .block-layered-nav .block-title span,
.catalogsearch-result-index .block-layered-nav .block-title span {
  padding-left: 10px;
}
.catalog-category-view .content-container {
  position: relative;
  background-image: url("../images/bg_pdp.jpg");
  background-repeat: repeat-y;
}
.catalog-category-view .content-container > .link-print {
  position: absolute;
  top: 5px;
  right: 11px;
  z-index: 12;
  color: #ffffff;
  padding: 0;
  background: none;
  font-size: 12px;
}
.catalog-category-view .content-container > .link-print:hover {
  text-decoration: underline;
}
.catalog-category-view .brand-main-content {
  margin-left: -10px;
}
.catalog-category-view .brand-promo-right {
  margin-top: -10px;
}
.catalog-category-view .block-compared {
  margin-top: 15px;
}
.catalog-category-view .block-compared .block-title {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  margin: 0;
  padding-left: 15px;
}
.catalog-category-view .block-compared .block-content {
  padding: 15px;
}
.catalog-category-view .block-compared #recently-compared-items li {
  float: left;
  text-align: center;
  width: 65px;
}
.catalog-category-view .block-compared #recently-compared-items .product-image {
  display: block;
  margin-bottom: 5px;
}
.catalog-category-view .block-compared #recently-compared-items .product-name {
  display: block;
  font-weight: normal;
  color: #0096ff;
}
.pager {
  border: none;
  text-align: center;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #c8c8c8);
  background-image: -moz-linear-gradient(top, #eeeeee, #c8c8c8);
  background-image: -o-linear-gradient(top, #eeeeee, #c8c8c8);
  background-image: -ms-linear-gradient(top, #eeeeee, #c8c8c8);
  background-image: linear-gradient(top, #eeeeee, #c8c8c8);
  -pie-background: linear-gradient(top, #eeeeee, #c8c8c8);
  behavior: url(/js/pie/pie.htc);
  position: relative;
  height: 25px;
  padding: 5px 10px;
}
.pager .amount {
  display: inline-block;
  float: none;
  padding: 0 10px 0 0;
  vertical-align: top;
  line-height: 25px;
}
.pager .pages {
  display: inline-block;
  float: right;
  line-height: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: top;
  color: #105dda;
}
.pager .pages ol,
.pager .pages li {
  padding: 0;
}
.pager .pages a {
  color: #105dda;
  padding: 0 4px 0 2px;
}
.pager .pages a.previous {
  margin-right: 5px;
}
.pager .pages a.next {
  margin-left: 5px;
}
.pager .pages a:hover {
  color: #105dda;
}
.pager .pages .separator {
  margin: 0 3px;
  font-weight: normal;
}
.pager .pages .current .separator {
  margin-left: 7px;
}
.pager .pages li.last .separator {
  display: none;
}
.pager .pages .number {
  border-right: 1px solid #0096ff;
  padding-left: 2px;
  padding-right: 4px;
}
.pager .pages .number.current span {
  padding-left: 2px;
  padding-right: 2px;
  text-decoration: underline;
}
.pager .pages .number.last {
  border-right: none;
  padding-right: 2px;
}
.pager .previous,
.pager .next {
  margin-left: 2px;
  margin-right: 2px;
}
.pager .previous img,
.pager .next img {
  padding-bottom: 4px;
}
.pager .limiter {
  display: inline-block;
  float: none;
  line-height: 25px;
  vertical-align: top;
}
.pager .view-all {
  margin-left: 2px;
}
.sorter {
  border-top: none;
  background: none;
  padding: 0;
  display: inline-block;
  float: left;
  vertical-align: top;
}
.sorter .sort-by {
  text-align: left;
  font-weight: bold;
  line-height: 25px;
}
.sorter .sort-by .toolbar-sort {
  display: inline-block;
}
.visualcompare {
  background-color: #dddddd;
  background-image: -webkit-linear-gradient(top, #dddddd, #c8c8c8);
  background-image: -moz-linear-gradient(top, #dddddd, #c8c8c8);
  background-image: -o-linear-gradient(top, #dddddd, #c8c8c8);
  background-image: -ms-linear-gradient(top, #dddddd, #c8c8c8);
  background-image: linear-gradient(top, #dddddd, #c8c8c8);
  -pie-background: linear-gradient(top, #dddddd, #c8c8c8);
  behavior: url(/js/pie/pie.htc);
  position: relative;
  margin-top: 0;
}
.visualcompare .data-table {
  border: none;
  width: 70%;
  display: inline-block;
  margin: 10px 0 5px;
}
.visualcompare .data-table thead {
  display: none;
}
.visualcompare .data-table td {
  padding: 0 0 0 5px;
  vertical-align: middle;
}
.visualcompare .data-table td.first {
  padding-left: 20px;
  white-space: nowrap;
  padding-right: 10px;
}
.visualcompare .data-table tbody tr {
  background: none;
}
.visualcompare .data-table tbody tr.last td {
  border: none;
}
.visualcompare .clear-all {
  margin: 4px 0 0 10px;
  float: left;
}
.visualcompare .sorter {
  display: inline-block;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.visualcompare .sorter .sort-by label {
  display: block;
  line-height: normal;
  text-align: left;
}
.visualcompare .sorter select {
  width: 120px;
}
.visualcompare .compare-table .button-cell {
  position: relative;
}
.visualcompare .compare-table .button-cell button {
  display: inline-block;
  position: relative;
  box-shadow: none;
  padding: 5px 9px;
}
.visualcompare .compare-table .button-cell button span {
  font-size: 12px;
}
.visualcompare .compare-table .button-cell .clear-all {
  display: inline-block;
  float: left;
  margin-left: 10px;
}
.visualcompare .compare-table .button-cell .onlyshowing {
  clear: left;
  padding: 0 0 0 5px;
  text-align: left;
}
.visualcompare .compare-table .button-cell a.remove {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  color: #105dda;
}
.visualcompare .buttons-set {
  position: absolute;
}
.visualcompare.no-compare-items {
  padding: 10px;
}
.sidebar .box-collateral {
  background: none;
  padding: 10px;
}
.sidebar .box-collateral .box-title {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
  color: #555555;
}
.sidebar .box-collateral .products-grid {
  padding: 0;
  margin: 6px 0 0;
}
.sidebar .box-collateral .products-grid li.item {
  margin: 0 0 10px -10px;
  width: 180px;
  background: #ffffff;
}
.sidebar .box-collateral .products-grid .product-image {
  margin-top: 10px;
}
/* catalog_product_view, catalog_category_view, catalogsearch_result_index */
.page-title-container {
  width: 540px;
  position: relative;
  margin-bottom: 10px;
}
.page-title-container .page-title {
  background: none;
  position: relative;
  text-transform: uppercase;
  padding: 30px 20px 20px;
  width: 60%;
}
.page-title-container .page-title h1,
.page-title-container .page-title h2 {
  color: #ffffff;
  padding-bottom: 0;
}
.page-title-container .category-image {
  position: absolute;
  top: 0;
}
.page-title-container .category-description {
  z-index: 2;
  position: relative;
  color: #ffffff;
  padding-left: 25px;
}
.page-title-container .category-description p {
  line-height: normal;
}
.page-title-container.with-image {
  height: 200px;
}
.page-title-container.with-image .page-title {
  height: 70px;
}
.page-title-container.with-image .page-title h1 {
  display: none;
}
.page-title-container.no-image {
  background-color: #27486a;
}
.page-title-container.no-image .page-title {
  text-transform: none;
  font-size: 32px;
}
.page-title-container.no-image .page-title h1,
.page-title-container.no-image .page-title h2 {
  font-size: 32px;
}
.category-description {
  padding-top: 0;
  text-align: left;
}
.sidebar .block-layered-nav .block-title,
.sidebar .filter-nav .block-title {
  padding: 4px 0;
}
.sidebar .block-layered-nav .block-title strong,
.sidebar .filter-nav .block-title strong {
  font-weight: bold;
}
.sidebar .block-layered-nav .block-content,
.sidebar .filter-nav .block-content {
  background: #eeeeee;
  padding: 10px;
  line-height: 18px;
  min-height: 300px;
}
.sidebar .block-layered-nav .currently,
.sidebar .filter-nav .currently {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background: #fff0b2 url(../images/bkg_layered_current.png) 10px 0 no-repeat;
}
.sidebar .block-layered-nav .currently .label,
.sidebar .filter-nav .currently .label {
  color: #333333;
  display: block;
}
.sidebar .block-layered-nav .currently li,
.sidebar .filter-nav .currently li {
  padding-right: 0;
  font-weight: bold;
  color: #999999;
}
.sidebar .block-layered-nav .currently li a.btn-remove,
.sidebar .filter-nav .currently li a.btn-remove {
  margin: 0;
  position: relative;
  right: 0;
  top: 0;
  background: none;
  height: auto;
  width: auto;
  padding: 0;
  color: #0096ff;
  font-size: 11px;
  text-decoration: underline;
  font-weight: normal;
}
.sidebar .block-layered-nav .currently-title,
.sidebar .filter-nav .currently-title {
  padding: 4px 0 4px 10px;
  font-size: 14px;
  font-weight: bold;
}
.sidebar .block-layered-nav dt,
.sidebar .filter-nav dt {
  margin: 2px 0 5px;
  font-weight: bold;
  font-size: 12px;
  color: #000000;
}
.sidebar .block-layered-nav dd a,
.sidebar .filter-nav dd a {
  color: #105dda;
}
.sidebar .block-layered-nav dl {
  padding: 0;
}
.sidebar .block-layered-nav .actions {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}
.sidebar .block-layered-nav .actions a {
  color: #0096ff;
  font-size: 11px;
  text-decoration: underline;
  font-weight: normal;
}
#why-supplement-warehouse {
  background: #aaaaaa;
  color: #ffffff;
  height: 150px;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  margin-bottom: 10px;
}
.col-right .ad {
  background: #ffffff;
  height: 150px;
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}
.catalogsearch-advanced-index .fieldset {
  padding: 0 20px;
}
.catalogsearch-advanced-index .buttons-set {
  padding: 0 0 30px;
}
/* catalog_product_view */
.col2-right-layout {
  float: left;
}
#messages_product_view {
  margin: 0;
}
.collateral-tabs .tab {
  background: none;
  border: none;
  font-size: 13px;
  margin: 0 8px 0 0;
  padding: 0;
  color: #ffffff;
  font-weight: bold;
}
.collateral-tabs .tab span {
  background: #c8c8c8;
  padding: 6px 35px;
  -webkit-border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  border-radius: 8px 8px 0px 0px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.collateral-tabs .tab.active {
  background: none;
  border: none;
  margin: 0 8px 0 0;
  padding: 0;
}
.collateral-tabs .tab.active span {
  background: #0096ff;
  color: #ffffff;
}
.collateral-tabs .tab-container {
  top: 36px;
}
.collateral-tabs .tab-content {
  border: none;
  border-top: 1px solid #c8c8c8;
  padding: 20px 0;
}
.collateral-tabs .tab-content .box-collateral .box-content {
  padding: 10px 0;
}
.collateral-tabs .tab-content .box-collateral.box-reviews #review-form .form-list label {
  width: 152px;
}
.collateral-tabs .tab-content .box-collateral.box-reviews .box-title {
  background: none;
  margin: 0;
  padding: 0;
}
#product-details-related-links {
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
}
#product-details-related-links strong {
  color: #555555;
}
#product-details-related-links ul {
  margin-top: 6px;
}
#product-details-related-links li {
  padding: 2px 0;
}
#product-details-related-links li a {
  color: #0096ff;
}
.box-collateral.box-reviews {
  margin: 20px;
}
.box-collateral .box-title {
  border: none;
  background: none;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -ms-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(top, #eeeeee, #dddddd);
  -pie-background: linear-gradient(top, #eeeeee, #dddddd);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.col1-layout .product-view,
.col2-left-layout .product-view,
.col2-right-layout .product-view {
  margin: 0;
  background: none;
  width: 740px;
  min-height: 1025px;
}
.col1-layout .product-view .product-shop,
.col2-left-layout .product-view .product-shop,
.col2-right-layout .product-view .product-shop,
.col1-layout .product-view .product-collateral,
.col2-left-layout .product-view .product-collateral,
.col2-right-layout .product-view .product-collateral {
  width: 680px;
  padding: 0 30px;
  display: block;
  clear: both;
}
.col1-layout .product-view .product-collateral,
.col2-left-layout .product-view .product-collateral,
.col2-right-layout .product-view .product-collateral {
  margin-top: 30px;
}
.col1-layout .product-view .product-shop,
.col2-left-layout .product-view .product-shop,
.col2-right-layout .product-view .product-shop {
  display: inline-block;
  padding-left: 0;
  width: 47%;
}
.col1-layout .product-view .box-related,
.col2-left-layout .product-view .box-related,
.col2-right-layout .product-view .box-related {
  margin: 30px 20px 20px;
}
.col1-layout .product-view .box-related .note,
.col2-left-layout .product-view .box-related .note,
.col2-right-layout .product-view .box-related .note,
.col1-layout .product-view .box-related input.checkbox,
.col2-left-layout .product-view .box-related input.checkbox,
.col2-right-layout .product-view .box-related input.checkbox,
.col1-layout .product-view .box-related li.item p a,
.col2-left-layout .product-view .box-related li.item p a,
.col2-right-layout .product-view .box-related li.item p a {
  display: none;
}
.col1-layout .product-view .product-name h1,
.col2-left-layout .product-view .product-name h1,
.col2-right-layout .product-view .product-name h1,
.col1-layout .product-view .product-main-info a,
.col2-left-layout .product-view .product-main-info a,
.col2-right-layout .product-view .product-main-info a {
  color: #105dda;
}
.col1-layout .product-view .product-shop .price-box,
.col2-left-layout .product-view .product-shop .price-box,
.col2-right-layout .product-view .product-shop .price-box {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100px;
}
.col1-layout .product-view .product-shop .price-box .availability,
.col2-left-layout .product-view .product-shop .price-box .availability,
.col2-right-layout .product-view .product-shop .price-box .availability {
  display: none;
}
.col1-layout .product-view .product-shop .price-box .regular-price .price,
.col2-left-layout .product-view .product-shop .price-box .regular-price .price,
.col2-right-layout .product-view .product-shop .price-box .regular-price .price {
  font-size: 24px;
}
.col1-layout .product-view .product-shop .product-main-info,
.col2-left-layout .product-view .product-shop .product-main-info,
.col2-right-layout .product-view .product-shop .product-main-info {
  background: none;
  border: none;
  padding: 30px 30px 0;
  margin-bottom: 0;
}
.col1-layout .product-view .product-shop .product-main-info .short-description,
.col2-left-layout .product-view .product-shop .product-main-info .short-description,
.col2-right-layout .product-view .product-shop .product-main-info .short-description {
  padding: 0;
  display: block;
  font-weight: normal;
}
.col1-layout .product-view .product-img-box,
.col2-left-layout .product-view .product-img-box,
.col2-right-layout .product-view .product-img-box {
  float: left;
  padding: 30px 30px 5px;
  width: 300px;
}
.col1-layout .product-view .product-img-box .product-image-zoom,
.col2-left-layout .product-view .product-img-box .product-image-zoom,
.col2-right-layout .product-view .product-img-box .product-image-zoom {
  width: 250px;
  height: 200px;
}
.col1-layout .product-view .product-img-box .product-image,
.col2-left-layout .product-view .product-img-box .product-image,
.col2-right-layout .product-view .product-img-box .product-image {
  width: 225px;
  height: 200px;
  padding-left: 25px;
}
.col1-layout .product-view .product-img-box .zoom-notice,
.col2-left-layout .product-view .product-img-box .zoom-notice,
.col2-right-layout .product-view .product-img-box .zoom-notice {
  font-size: 11px;
  color: #105dda;
  text-align: left;
  background: url(../images/ico_zoom.png) no-repeat left center;
  padding-left: 18px;
}
.col1-layout .product-view .product-img-box .more-views,
.col2-left-layout .product-view .product-img-box .more-views,
.col2-right-layout .product-view .product-img-box .more-views {
  margin-top: 15px;
}
.col1-layout .product-view .product-img-box .more-views li,
.col2-left-layout .product-view .product-img-box .more-views li,
.col2-right-layout .product-view .product-img-box .more-views li {
  border: none;
}
.col1-layout .product-view .product-shop .emailto-link,
.col2-left-layout .product-view .product-shop .emailto-link,
.col2-right-layout .product-view .product-shop .emailto-link,
.col1-layout .product-view .product-shop p.no-rating,
.col2-left-layout .product-view .product-shop p.no-rating,
.col2-right-layout .product-view .product-shop p.no-rating,
.col1-layout .product-view .product-shop .ratings,
.col2-left-layout .product-view .product-shop .ratings,
.col2-right-layout .product-view .product-shop .ratings {
  font-weight: normal;
  margin: 0 0 10px;
}
.col1-layout .product-view .product-shop .emailto-link,
.col2-left-layout .product-view .product-shop .emailto-link,
.col2-right-layout .product-view .product-shop .emailto-link {
  margin-bottom: 20px;
}
.col1-layout .product-view .product-shop .availability,
.col2-left-layout .product-view .product-shop .availability,
.col2-right-layout .product-view .product-shop .availability {
  margin: 20px 0 10px;
}
.col1-layout .product-view .product-shop .availability.in-stock,
.col2-left-layout .product-view .product-shop .availability.in-stock,
.col2-right-layout .product-view .product-shop .availability.in-stock {
  color: #82b342;
}
.col1-layout .product-view .add-to-links,
.col2-left-layout .product-view .add-to-links,
.col2-right-layout .product-view .add-to-links {
  margin: 5px;
}
.col1-layout .product-view .p-pricematch,
.col2-left-layout .product-view .p-pricematch,
.col2-right-layout .product-view .p-pricematch {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
}
.col1-layout .product-view .p-addtocart,
.col2-left-layout .product-view .p-addtocart,
.col2-right-layout .product-view .p-addtocart,
.col1-layout .product-view .p-adjustprice,
.col2-left-layout .product-view .p-adjustprice,
.col2-right-layout .product-view .p-adjustprice,
.col1-layout .product-view .p-updateprice,
.col2-left-layout .product-view .p-updateprice,
.col2-right-layout .product-view .p-updateprice {
  float: right;
  margin-right: 250px;
}
.col1-layout .product-view .ratings,
.col2-left-layout .product-view .ratings,
.col2-right-layout .product-view .ratings {
  width: 230px;
}
.catalog-product-view .content-container {
  background-image: url("../images/bg_pdp.jpg");
  background-repeat: repeat-y;
}
.catalog-product-view .content-container > .link-print {
  position: absolute;
  top: 5px;
  right: 11px;
  z-index: 12;
  color: #ffffff;
  padding: 0;
  background: none;
  font-size: 12px;
}
.catalog-product-view .content-container > .link-print:hover {
  text-decoration: underline;
}
.catalog-product-view .product-view h1 {
  font-size: 25px;
  font-weight: normal;
  margin: 40px 0 0 40px;
  color: #0096ff;
  font-weight: bold;
}
.catalog-product-view .product-view .product-shop .product-main-info {
  padding: 30px 0 0;
  margin: 0;
}
.catalog-product-view .product-view .product-shop .product-main-info .social {
  float: none;
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 93%;
  text-align: right;
  display: inline-block;
  height: 20px;
}
.catalog-product-view .product-view .product-shop .product-main-info .social .fb_iframe_widget iframe {
  width: auto !important;
}
.catalog-product-view .product-view .product-shop .product-main-info .social .fb-like {
  margin-right: 10px;
  float: none;
  vertical-align: top;
  display: inline-block;
}
.catalog-product-view .product-view .product-shop .product-main-info .social iframe {
  width: 100px !important;
  z-index: 10;
  position: relative;
  vertical-align: top;
  display: inline-block;
  float: none;
}
.catalog-product-view .product-view .product-shop .product-main-info .product-name p.no-rating {
  width: 56%;
}
.catalog-product-view .product-view .product-shop h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  color: #105dda;
}
.catalog-product-view .product-view .product-shop .p-incart {
  float: left;
  margin-top: 50px;
  margin-left: -70px;
}
.catalog-product-view .product-view .product-shop p.retail-price {
  margin: 0;
  font-size: 11px;
  color: #999999;
}
.catalog-product-view .product-view .product-shop .special-price {
  margin-bottom: 0;
}
.catalog-product-view .product-view .product-shop .special-price .price-label {
  font-size: 11px;
  font-weight: normal;
  color: red;
}
.catalog-product-view .product-view .product-shop .special-price .price {
  font-size: 20px;
  color: red;
}
.catalog-product-view .product-view .product-shop .product-options dt {
  display: inline-block;
  float: left;
  margin-right: 3px;
  width: 100px;
}
.catalog-product-view .product-view .product-shop .product-options dt label {
  position: relative;
}
.catalog-product-view .product-view .product-shop .product-options dt label em {
  position: absolute;
  margin: 0;
  right: -9px;
}
.catalog-product-view .product-view .product-shop .product-options dd {
  display: inline-block;
  margin: 0 0 15px;
  padding: 0;
  width: 240px;
  border: none;
}
.catalog-product-view .product-view .product-shop .grouped-items-table {
  border: none;
  margin-top: 20px;
}
.catalog-product-view .product-view .product-shop .grouped-items-table thead {
  background: none;
}
.catalog-product-view .product-view .product-shop .grouped-items-table .price-box .price {
  font-size: 16px;
}
.catalog-product-view .product-view .product-shop .grouped-items-table td {
  vertical-align: middle;
}
.catalog-product-view .product-view .product-brand {
  font-weight: normal;
  font-style: 11px;
  text-transform: lowercase;
  margin-bottom: 10px;
}
.catalog-product-view .product-view .product-brand a {
  font-weight: normal;
  color: #105dda;
  text-decoration: none;
  text-transform: none;
}
.catalog-product-view .product-view .promo-description {
  font-size: 15px;
  font-style: italic;
  margin: 4px 0 0 40px;
  font-weight: bold;
  color: #95cd00;
}
.catalog-product-view .product-view .product-attribute {
  margin: 4px 0;
  font-weight: normal;
}
.catalog-product-view .product-view .product-attribute.product-hot-deal {
  margin-top: 15px;
  font-weight: normal;
  font-size: 15px;
  color: red;
  margin-bottom: 20px;
}
.catalog-product-view .product-view .product-attribute-stock #div_availability {
  display: block;
  font-weight: normal;
  padding-bottom: 10px;
}
.catalog-product-view .product-view .product-attribute-stock .price-box {
  display: none;
}
.catalog-product-view .product-view #div_availability {
  display: none;
}
.catalog-product-view .product-view .product-promo {
  color: #ff0000;
  font-size: 18px;
  margin: 4px 0 0 40px;
}
.catalog-product-view .product-view .product-collateral .product-directions-content,
.catalog-product-view .product-view .product-collateral .product-warnings-content {
  margin-top: 15px;
}
.catalog-product-view .product-view .product-collateral .product-directions-content h3,
.catalog-product-view .product-view .product-collateral .product-warnings-content h3 {
  border-bottom: 1px solid #c8c8c8;
}
.catalog-product-view .product-view .product-collateral .product-direction-text,
.catalog-product-view .product-view .product-collateral .product-warnings-text {
  margin-top: 12px;
}
.review-product-list .col1-layout .product-view {
  border: none;
  width: 100%;
}
.review-product-list .col1-layout .product-view .product-essential .product-shop {
  padding-right: 0;
  width: 600px;
}
.review-product-list .col1-layout .product-view .product-essential #div_availability {
  clear: both;
}
.review-product-list .col1-layout .product-view .box-collateral.box-reviews {
  margin: 20px 0;
}
.review-product-list .col1-layout .product-view .p-pricematch {
  margin-right: 400px;
}
.review-product-list .col1-layout .product-view .pricematch {
  clear: both;
  padding-top: 10px;
}
.review-product-list .col1-layout .product-view .pricematch .p-addtocart {
  float: left;
  margin-right: 0;
  margin-top: 20px;
}
.review-product-list .col1-layout .product-view .product-main-info #div_availability {
  display: none;
}
.review-product-list .col1-layout .product-view .product-main-info .product-attribute-stock .price-box {
  display: none;
}
.review-product-list .col1-layout .product-view .product-main-info .product-attribute-stock #div_availability {
  display: block;
}
.review-product-list .col1-layout .product-view .product-main-info p.no-rating {
  width: 592%;
}
.col1-layout .product-view {
  width: 938px;
}
.col1-layout .product-view .product-shop {
  width: 640px;
  padding: 0 30px 0 0;
}
.options-container-big {
  clear: both;
  border: none;
  padding: 10px 0;
  margin-top: 10px;
}
.options-container-big .price-box {
  display: none;
}
.options-container-big .product-options-bottom .price-box,
.options-container-big .product-options-bottom .add-to-links {
  display: none !important;
}
.options-container-big .product-options-bottom .add-to-cart {
  margin-left: 70px;
}
.options-container-big .product-options-bottom .add-to-cart button.btn-cart {
  padding: 4px 15px;
  clear: both;
  display: block;
  max-width: 100px;
  margin-top: 10px !important;
  margin-left: 33px !important;
}
.options-container-big .product-options-bottom .add-to-cart button.btn-cart span {
  height: 22px !important;
  padding: 0 !important;
}
.options-container-big .product-options-bottom .add-to-cart button.btn-cart span span {
  font: bold 12px/22px Arial, Helvetica, sans-serif !important;
  height: 22px;
  padding: 0 !important;
}
.product-options {
  margin: 0;
}
.content-container {
  background-color: #dddddd;
  position: relative;
}
/* checkout_cart_index */
.form-subscribe button.button,
button.button.btn-update,
.discount button.button,
.giftcard button.button,
.shipping button.button {
  background-color: #aaaaaa;
  background-image: -webkit-linear-gradient(top, #aaaaaa, #555555);
  background-image: -moz-linear-gradient(top, #aaaaaa, #555555);
  background-image: -o-linear-gradient(top, #aaaaaa, #555555);
  background-image: -ms-linear-gradient(top, #aaaaaa, #555555);
  background-image: linear-gradient(top, #aaaaaa, #555555);
  -pie-background: linear-gradient(top, #aaaaaa, #555555);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.discount button.button,
.giftcard button.button,
.shipping button.button,
.visualcompare button.button,
button.button.small-btn {
  /* make buttons small */

  padding: 0 8px;
}
button.button.check-gc-status {
  padding-top: 8px;
}
button.button.btn-continue,
button.button.check-gc-status {
  /* make button not look like button */

  background: none !important;
  background-image: none !important;
  -pie-background: none !important;
  behavior: none !important;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.8);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.cart .totals table tfoot strong {
  color: #ff6600;
}
.checkout-cart-index .page-title {
  padding: 0;
}
.checkout-cart-index .cart-empty {
  padding: 20px 0;
}
.checkout-cart-index .cart-table .item-options {
  display: none;
}
#mcafee-logo {
  margin: 0 35px -20px 0;
}
/* checkout_onepage_index */
.checkout-onepage-index .col1-layout .col-main {
  padding: 0;
}
.checkout-onepage-index .col1-layout .col-main .page-title {
  margin-top: 0;
  padding-left: 20px;
}
.checkout-onepage-index .opc .active .step-title h2 {
  background: #ff6600;
}
/* checkout_onepage_success */
.checkout-onepage-success .col-main a {
  text-decoration: underline;
}
/* featured products block */
.featured-products-block {
  padding: 10px;
  background-color: #c8c8c8;
  background-image: -webkit-linear-gradient(top, #c8c8c8, #ffffff);
  background-image: -moz-linear-gradient(top, #c8c8c8, #ffffff);
  background-image: -o-linear-gradient(top, #c8c8c8, #ffffff);
  background-image: -ms-linear-gradient(top, #c8c8c8, #ffffff);
  background-image: linear-gradient(top, #c8c8c8, #ffffff);
  -pie-background: linear-gradient(top, #c8c8c8, #ffffff);
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.featured-products-block .heading {
  text-transform: uppercase;
  font-weight: bold;
  margin: 6px 10px;
}
.featured-products-block .block-heading {
  margin: -10px 0 15px -10px;
  padding: 10px;
  background: #333333;
  font-weight: bold;
  width: 210px;
  overflow: hidden;
  -webkit-border-radius: 10px 0px 10px 0px;
  -moz-border-radius: 10px 0px 10px 0px;
  border-radius: 10px 0px 10px 0px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.featured-products-block .block-heading a {
  color: #ffffff;
}
.featured-products-block .product-description {
  display: inline-block;
  width: 180px;
  height: 65px;
  line-height: 1.5;
}
.featured-products-block .block-item {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.4);
  behavior: url(/js/pie/pie.htc);
  position: relative;
  background: #ffffff;
  border: 1px solid #aaaaaa;
  padding: 10px;
  min-height: 175px;
}
.featured-products-block .block-item .ratings {
  display: none;
}
.featured-products-block .product-img {
  float: right;
  vertical-align: top;
  margin-bottom: 10px;
  z-index: 99;
  position: relative;
}
.featured-products-block .block-bottom {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
}
.featured-products-block .price-box {
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin-right: 20px;
}
.featured-products-block .price-box .availability {
  display: none;
}
.featured-products-block button.button {
  float: right;
}
.featured-products-block table {
  display: relative;
}
.featured-products-block .out-of-stock {
  float: right;
}
.featured-products-block p.availability.in-stock,
.featured-products-block p.availability.out-of-stock {
  display: none;
}
.std .featured-products-block table {
  margin-bottom: 0;
}
.std .featured-products-block table th,
.std .featured-products-block table td {
  border: none;
  padding: 6px 8px;
  width: 200px;
}
/* pricematch */
.dontshow {
  height: 0;
  overflow: hidden;
}
.pricematch dt {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 6px;
}
.pricematch input.input-text {
  font-family: inherit;
}
.pricematch input.first {
  width: 300px;
}
.pricematch.ui-dialog-content .p-pricematch strong {
  text-transform: capitalize;
}
.is-pricematched-item {
  margin-bottom: 8px;
}
.is-pricematched-item a {
  text-decoration: underline;
}
.ui-corner-all.ui-dialog {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
}
.ui-widget.ui-dialog {
  font-family: inherit;
}
.ui-widget.ui-dialog .ui-widget-header {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
  background: #0096ff;
  color: #ffffff;
  font-size: 18px;
}
.ui-widget.ui-dialog .ui-widget-header a {
  color: #ffffff;
}
.ui-dialog .ui-dialog-content.pricematch {
  padding: 10px;
  background: #ffffff;
  text-align: left;
}
.ui-dialog .ui-dialog-content.pricematch .p-pricematch,
.ui-dialog .ui-dialog-content.pricematch .p-addtocart,
.ui-dialog .ui-dialog-content.pricematch .p-adjustprice,
.ui-dialog .ui-dialog-content.pricematch .p-updateprice {
  margin-top: 8px;
}
.ui-dialog .ui-dialog-content.pricematch .bottom-container {
  display: none;
  clear: both;
  width: 100%;
  float: left;
  padding: 10px;
  margin: 10px -10px -10px;
  overflow: hidden;
  background: #c8c8c8;
  -webkit-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.3);
  behavior: url(/js/pie/pie.htc);
  position: relative;
  border-top: 2px solid #aaaaaa;
}
.ui-dialog .ui-dialog-content.pricematch .bottom-container .competitors-price,
.ui-dialog .ui-dialog-content.pricematch .bottom-container .your-price,
.ui-dialog .ui-dialog-content.pricematch .bottom-container .button-container {
  float: left;
  padding: 10px;
  text-align: center;
  height: 60px;
  margin: 10px;
}
.ui-dialog .ui-dialog-content.pricematch .bottom-container .competitors-price {
  font-size: 18px;
  font-style: bold;
  background: #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
  width: 190px;
  padding-top: 20px;
  padding-bottom: 0;
}
.ui-dialog .ui-dialog-content.pricematch .bottom-container .your-price {
  font-size: 26px;
  font-style: bold;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  behavior: url(/js/pie/pie.htc);
  position: relative;
  width: 180px;
  color: #97c900;
}
.ui-dialog .ui-dialog-content.pricematch .bottom-container .button-container {
  text-align: center;
  width: 100px;
  padding-top: 20px;
  padding-bottom: 0;
  margin-right: 0;
}
.ui-dialog .ui-dialog-content.pricematch p.congrats {
  padding: 10px;
}
.ui-dialog .ui-dialog-content.pricematch table.congrats {
  width: 100%;
}
.ui-dialog .ui-dialog-content.pricematch table.congrats td {
  padding: 10px;
  text-align: center;
  width: 50%;
}
.ui-dialog .ui-dialog-content.pricematch table.congrats td.lastcol {
  width: 100px;
}
.ui-dialog .ui-dialog-content.pricematch .pricematch-item {
  width: 400px;
  float: left;
}
.ui-dialog .ui-dialog-content.pricematch .p-adjustprice {
  float: right;
  padding: 20px 10px 10px;
  margin-bottom: 0;
}
.p-pricematch,
.p-addtocart,
.p-adjustprice,
.p-updateprice {
  margin-bottom: 8px;
}
.p-addtocart label {
  font-weight: bold;
}
.p-addtocart input {
  width: 50px;
  padding: 5px;
}
button.button.btn-adjustprice,
button.button.btn-adjustprice-modal {
  background-color: #97c900;
  background-image: -webkit-linear-gradient(top, #97c900, #82b342);
  background-image: -moz-linear-gradient(top, #97c900, #82b342);
  background-image: -o-linear-gradient(top, #97c900, #82b342);
  background-image: -ms-linear-gradient(top, #97c900, #82b342);
  background-image: linear-gradient(top, #97c900, #82b342);
  -pie-background: linear-gradient(top, #97c900, #82b342);
  behavior: url(/js/pie/pie.htc);
  position: relative;
  width: 100px;
}
button.button.btn-adjustprice span span,
button.button.btn-adjustprice-modal span span {
  width: 85px;
}
td.pricematched-item-original-price {
  color: #ff6600;
  text-decoration: line-through;
}
p.pricematched-item-price {
  margin: 0 0 6px;
  font-weight: bold;
  color: #97c900;
  font-size: 16px;
}
.brand-index-index .col-main {
  padding: 20px 30px;
}
.brand-index-index .pager {
  display: none;
}
.brand-index-index .content {
  padding: 0;
  line-height: 16px;
}
.brand-index-index .content .brand-col {
  background: #eeeeee;
  float: left;
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 0;
  padding: 0 20px;
  width: 95%;
}
.brand-index-index .content .brand-col.navigation .alpha {
  font-weight: bold;
  margin-right: 16px;
}
.brand-index-index .lattera {
  color: #0096ff;
  border-bottom: 1px solid #c8c8c8;
  font-size: 1.2em;
  margin-top: 12px;
}
.brand-index-index .bare-list {
  margin: 5px 0;
}
.brand-index-index .bare-list li {
  display: inline-block;
  line-height: 14px;
  margin-bottom: 8px;
  padding-right: 5%;
  vertical-align: top;
  width: 19%;
}
.brand-index-index .bare-list li a {
  color: #555555;
  display: inline;
  font-size: 12px;
  line-height: 14px;
}
.brand-index-index .bare-list li a:hover {
  color: #0096ff;
  text-decoration: underline;
}
.brand-index-view .page-title {
  padding: 20px;
}
.title-buttons h1,
.title-buttons h2,
.title-buttons h3,
.title-buttons h4,
.title-buttons h5,
.title-buttons h6 {
  float: none;
}
.page-title {
  padding: 20px 0 0;
}
/* Webforms */
.webforms-helpdesk h2.legend {
  display: none;
}
.webforms-helpdesk ul.form-list {
  margin-left: 237px;
}
.attribute-label {
  width: 50px;
  text-align: left;
  display: inline-block;
}
.attribute-text {
  width: 200px;
  text-align: left;
  display: inline-block;
}
.attribute-text-long {
  width: 250px;
  text-align: left;
  display: inline-block;
}
.recaptchatable label.recaptcha_input_area_text {
  line-height: normal !important;
}
.cms-support p.required {
  float: left;
  width: 765px;
}
.onestepcheckout-index-index .form-alt select.address-select {
  width: 257px !important;
}
#onestepcheckout-login-popup p.close,
#onestepcheckout-toc-popup p.close {
  bottom: 10px !important;
  right: 15px !important;
}
#review-form .buttons-set button.button {
  float: left;
}
#review-form p.required {
  text-align: left;
}
.box-collateral.box-reviews {
  margin: 0px;
}
.my-wishlist #wishlist-view-form .buttons-set button.button {
  margin-left: 15px !important;
}
.my-wishlist #wishlist-view-form #wishlist-table button.btn-cart,
.my-wishlist #wishlist-view-form #wishlist-table .availability {
  margin: 10px 0 !important;
}
.static-cross-sells .top-items {
  border-top: 2px solid #D9D9D9;
  border-bottom: 2px solid #D9D9D9;
  border-left: none;
  border-right: none;
  background-color: #EDEDED;
}
.static-cross-sells .top-items .item {
  width: 300px;
  padding-top: 16px;
  padding-bottom: 10px;
}
.static-cross-sells .top-items .item .product-image {
  float: left;
  margin-right: 15px;
  margin-top: 1px;
}
.static-cross-sells .top-items .item .attributes {
  float: left;
  height: 28px;
  margin: 5px 0;
  overflow: hidden;
  width: 200px;
  font-size: 12px;
  line-height: 12px;
}
.static-cross-sells .top-items .item .attributes div {
  font-weight: normal;
}
.static-cross-sells .top-items .item .availability {
  float: left;
}
.static-cross-sells .top-items .item .product-name {
  font-size: 14px;
}
.static-cross-sells .top-items .legend {
  font-size: 25px;
  font-weight: bold;
  padding: 28px 30px;
  width: 200px;
}
.static-cross-sells .bottom-items {
  width: 860px;
  border-top: 2px solid #7C9127;
  border-bottom: 2px solid #7C9127;
  border-left: none;
  border-right: none;
  background-color: #FFFFFF;
  padding: 0;
}
.static-cross-sells .bottom-items .anythingSlider {
  width: 860px !important;
  height: 160px;
  margin-left: -40px;
  padding: 0 40px;
}
.static-cross-sells .bottom-items .anythingSlider .anythingWindow {
  border: none;
}
.static-cross-sells .bottom-items .product-image {
  float: left;
  margin: 0 10px 0 15px;
}
.static-cross-sells .bottom-items .attributes {
  float: left;
  margin: 5px 0;
  overflow: hidden;
  width: 125px;
}
.static-cross-sells .bottom-items .attributes div {
  display: inline;
}
.static-cross-sells .bottom-items .availability {
  float: left;
  font-size: 13px;
}
.static-cross-sells .bottom-items .product-name {
  font-size: 14px;
}
.static-cross-sells div.anythingSlider .arrow {
  padding-top: 5px;
}
.static-cross-sells div.anythingSlider .arrow a {
  background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
  width: 40px;
  height: 130px;
}
.static-cross-sells div.anythingSlider .forward a {
  background-position: right top;
}
.static-cross-sells div.anythingSlider .forward a:hover {
  background-position: right -124px;
}
.static-cross-sells div.anythingSlider .back a:hover {
  background-position: 0 -124px;
}
#cross-sell-items {
  padding: 15px 0;
  height: 155px;
}
#cross-sell-items li {
  width: 287px;
  padding: 0;
}
.ratings .rating-box {
  background: url(../images/bkg_rating.png) repeat-x left bottom;
  height: 10px;
  width: 50px;
  float: none;
  display: inline-block;
  vertical-align: middle;
}
.ratings .rating-box .rating {
  background: url(../images/bkg_rating.png) repeat-x left top;
  height: 10px;
}
.ratings .rating-links {
  display: inline-block;
  vertical-align: middle;
}
.add-to-cart label {
  text-transform: uppercase;
}
.brand-index-view .col-main {
  width: 550px;
  margin-left: -20px;
}
.brand-main-content .page-title-container {
  float: none;
  width: 550px;
}
.brand-main-content .block-item .product-name {
  color: #105dda;
  display: block;
  font-size: 15px;
  margin-bottom: 5px;
  text-align: left;
}
.brand-main-content .brand-image {
  width: 550px;
  overflow: hidden;
  text-align: center;
  max-height: 264px;
}
.brand-main-content .brand-image.first img {
  float: right;
}
.brand-main-content .brand-title {
  margin-bottom: 10px;
  padding: 0;
  position: relative;
  text-align: left;
  width: 550px;
}
.brand-main-content .brand-title h1 {
  color: #000000;
  display: inline-block;
  font: bold 24px/27px Arial, Helvetica, sans-serif;
  padding: 0 5px 0 12px;
  text-align: center;
  text-transform: none;
  width: auto;
  z-index: 10;
}
.brand-main-content .brand-title h2 {
  color: #67045f;
  display: inline-block;
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  text-transform: none;
}
.brand-main-content .brand-title .brand-content {
  font: 15px/16px 'Times New Roman', Helvetica, sans-serif;
  padding-bottom: 10px;
  text-align: center;
  width: 550px;
}
.brand-main-content .brand-title .wrapper-brand-promo-banner {
  overflow: hidden;
  padding: 10px 0 5px;
  width: 165px;
}
.brand-promo-right {
  margin-bottom: 15px;
  position: relative;
}
.brand-promo-right a {
  background-color: #2bb1fb;
  background-image: -moz-linear-gradient(center top, #2bb1fb, #105dda);
  border-radius: 5px 5px 5px 5px;
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  left: 12px;
  margin: 0 !important;
  padding: 6px 7px;
  position: absolute;
  top: 120px;
}
.products-list .link-compare {
  background: url("../images/bg_ckeckbox_compare.jpg") no-repeat scroll -4px -25px transparent;
  display: inline-block;
  height: 22px;
  padding-left: 20px;
}
.products-list .link-compare.added {
  background-position: -4px -2px;
}

.button.btn-adjustprice-close {
    float: right;
    margin-right: 10px !important;
    margin-top: 60px !important;
}

#category-description{
    width: 327px;
    float: left;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
#category-description h1 { text-transform: uppercase; font-weight: bold;color: #fff;font: Arial, Helvetica, sans-serif; font-size: 20px;}
#category-description p {color: #fff;margin-top:10px;margin-bottom:10px;}

#subcategories-list{
    color: #fff;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 573px;
    float:right;
}
#subcategories-list ul{
    margin-top: 5px;
}
#subcategories-list li {width: 100%}
#subcategories-list span {font-size: 13; font-weight: bold;}
#subcategories-list li {
    width: 50%;
    float: left;
    white-space: nowrap;
    text-align: left;
    margin-top: 5px;
}
.mega-menu{
    margin-top: -30px;
    background-color: #888888;
    overflow: auto;
    display: none;
    position: absolute;
    z-index: 1000;
}
#subcategories-list li a{
    color: #ffffff;
}
#blue-bar{
    background: #0096ff;
    width: 100%;
    height: 10px;
}
