<div class="page-title">
    <h1><?php echo Mage::helper('authorizenetcim')->__($this->getMyAccountHeader()); ?></h1>
</div>
<div id="messages"><?php echo $this->getMessagesBlock()->getGroupedHtml() ?></div>
<form id="credit-card-form" name="credit-card-form" action="<?php echo $this->getUrl('*/*/save') ?>" method="post">    
    <div class="fieldset">
    <h2 class="legend">        
        <?php if ($this->getCimMode() == 'Edit'): ?>
        <p><?php echo Mage::helper('authorizenetcim')->__('Please update your billing information and/or card expiration below. Please note, your credit card number may not be changed. If you wish to enter a new number, please add a new card.'); ?></p>
        <?php else: ?>
        <p><?php echo Mage::helper('authorizenetcim')->__('Please enter your information below as it appears on your credit card account.'); ?></p>
        <?php endif; ?>
    </h2>
    <?php $_code=$this->getMethodCode() ?>
    <input type="hidden" name="payment[cc_gateway_id]" id="<? echo $_code; ?>_cc_gateway_id" value="<?php echo $this->getCcGatewayId(); ?>"/>
    <ul class="form-list" id="payment_form_<?php echo $_code ?>">
        <li>
            <label for="<?php echo $_code ?>_cc_first_name" class="required"><em>*</em><?php echo $this->__('First Name') ?></label>
            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_first_name" name="payment[cc_first_name]" title="<?php echo $this->__('First Name') ?>" class="input-text required-entry" value="<?php echo $this->getFormData('cc_first_name'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_last_name" class="required"><em>*</em><?php echo $this->__('Last Name') ?></label>
            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_last_name" name="payment[cc_last_name]" title="<?php echo $this->__('Last Name') ?>" class="input-text required-entry" value="<?php echo $this->getFormData('cc_last_name'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_last_name"><?php echo $this->__('Company') ?></label>
            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_last_name" name="payment[cc_company]" title="<?php echo $this->__('Company') ?>" class="input-text" value="<?php echo $this->getFormData('cc_company'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_billing_address" class="required"><em>*</em><?php echo $this->__('Billing Address') ?></label>
            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_billing_address" name="payment[cc_billing_address]" title="<?php echo $this->__('Address') ?>" class="input-text required-entry" value="<?php echo $this->getFormData('cc_billing_address'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_billing_city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_billing_city" name="payment[cc_billing_city]" title="<?php echo $this->__('City') ?>" class="input-text required-entry" value="<?php echo $this->getFormData('cc_billing_city'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_billing_state" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
            <div class="input-box">
                <select id="region_id" name="payment[cc_billing_state_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                   <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                </select>                
                <input type="text" id="<?php echo $_code ?>_cc_billing_state" name="payment[cc_billing_state]" title="<?php echo $this->__('State/Province') ?>" class="input-text required-entry" value="<?php echo $this->getFormData('cc_billing_state'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_billing_zip" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
            <div class="input-box">
                <input type="text" id="<?php echo $_code ?>_cc_billing_zip" name="payment[cc_billing_zip]" title="<?php echo $this->__('Zip/Postal Code') ?>" class="input-text validate-zip-international required-entry" value="<?php echo $this->getFormData('cc_billing_zip'); ?>" />
            </div>
        </li>
        <li>
            <label for="<?php echo $_code ?>_cc_billing_country" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
            <div class="input-box">
                <?php echo $this->getCountryHtmlSelect('payment') ?>
            </div>
        </li>
        <?php if ($this->getCimMode() != 'Edit'): ?>
        <li>
            <label for="<?php echo $_code ?>_cc_type" class="required"><em>*</em><?php echo $this->__('Credit Card Type') ?></label>
            <div class="input-box">
                <select id="<?php echo $_code ?>_cc_type" name="payment[cc_type]" class="required-entry validate-cc-type-select">
                    <option value=""><?php echo $this->__('--Please Select--')?></option>
                <?php $_ccType = $this->getFormData('cc_type'); ?>
                <?php foreach ($this->getCcAvailableTypes() as $_typeCode => $_typeName): ?>
                    <option value="<?php echo $_typeCode ?>"<?php if($_ccType==$_typeCode): ?> selected="selected"<?php endif ?>><?php echo $_typeName ?></option>
                <?php endforeach ?>
                </select>
            </div>
        </li>
        <?php endif; ?>
        <li>
            <label for="<?php echo $_code ?>_cc_number" class="required"><em>*</em><?php echo $this->__('Credit Card Number') ?></label>
            <div class="input-box">
                <?php if ($this->getCimMode() != 'Edit'): ?>
                    <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text validate-cc-number validate-cc-type required-entry" value="" autocomplete="off" />
                <?php else: ?>
                    <input type="text" id="<?php echo $_code ?>_cc_number" name="payment[cc_number]" title="<?php echo $this->__('Credit Card Number') ?>" class="input-text required-entry" value="<?php echo $this->getFormData('cc_number'); ?>" autocomplete="off" readonly/>                    
                <?php endif; ?>
            </div>
        </li>
        <li id="<?php echo $_code ?>_cc_type_exp_div">
            <label for="<?php echo $_code ?>_expiration" class="required"><em>*</em><?php echo $this->__('Expiration Date') ?></label>
            <div class="input-box">
                <div class="v-fix">
                    <?php $_ccExpMonth = '' ?>
                    <select id="<?php echo $_code ?>_expiration" name="payment[cc_exp_month]" class="month validate-cc-exp required-entry validate-cc-exp-mask" style="width: 150px; margin-right: 10px;">                    
                    <?php foreach ($this->getCcMonths() as $k=>$v): ?>
                        <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpMonth): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                    </select>
                </div>
                <div class="v-fix">
                    <?php $_ccExpYear = ''; ?>
                    <select id="<?php echo $_code ?>_expiration_yr" name="payment[cc_exp_year]" class="year required-entry validate-cc-exp-mask" style="width: 150px;">
                    <?php foreach ($this->getCcYears() as $k=>$v): ?>
                        <option value="<?php echo $k?$k:'' ?>"<?php if($k==$_ccExpYear): ?> selected="selected"<?php endif ?>><?php echo $v ?></option>
                    <?php endforeach ?>
                    </select>
                </div>
            </div>
        </li>

        <?php if($this->hasVerification()): ?>
        <li id="<?php echo $_code ?>_cc_type_cvv_div">
            <label for="<?php echo $_code ?>_cc_cid" class="required"><em>*</em><?php echo $this->__('Card Verification Number') ?></label>
            <div class="input-box">
                <div class="v-fix">
                    <input type="text" title="<?php echo $this->__('Card Verification Number') ?>" class="input-text cvv required-entry validate-cc-cvn" id="<?php echo $_code ?>_cc_cid" name="payment[cc_cid]" value=""  autocomplete="off" />
                </div>
            </div>
        </li>
        <?php endif; ?>
        <li id="<?php echo $_code ?>_save_card">
            <label for="<?php echo $_code ?>_default_card"><?php echo $this->__('Make this my default credit card') ?></label>
            <div class="input-box">
                <div class="v-fix">
                    <input type="checkbox" title="<?php echo $this->__('Make this my default credit card') ?>" class="input-text" id="<?php echo $_code ?>_default_card" name="payment[cc_default_card]" value="true" style="width: 15px; margin-right: 5px;" <?php echo ($this->_getSession()->getCustomer()->getCimDefaultToken() == $this->getCcGatewayId()) ? 'checked' : ''  ?>/>
                </div>                
            </div>
        </li>        
    </ul>
    <p class="required"><?php echo Mage::helper('authorizenetcim')->__('* Required Fields') ?></p>
    <div class="buttons-set form-buttons">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getBackUrl()) ?>"><small>&laquo; </small><?php echo $this->__('Back') ?></a></p>    
        <button class="button" type="submit"><span><span><?php echo Mage::helper('authorizenetcim')->__('Submit Credit Card') ?></span></span></button>
    </div>
    </div>
</form>
<script type="text/javascript">
//<![CDATA[
    var cardform = new VarienForm('credit-card-form');        
    
    // Add a Rule for Validating against the credit card mask
    Validation.addAllThese([
    ['validate-cc-exp-mask', 'You must change both the year and month.', function(v, elm) {
                var ccExpMonth   = v;
                var ccExpYear    = $(elm.id.substr(0,elm.id.indexOf('_expiration')) + '_expiration_yr').value;
                if ((ccExpMonth == "XX" && ccExpYear != "XX") ||ccExpYear == "XX" && ccExpMonth != "XX" ) {
                    return false;
                }
                return true;
            }] 
    ]);       
    new RegionUpdater('payment:country_id', '<?php echo $_code ?>_cc_billing_state', 'region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, '<?php echo $_code ?>_cc_billing_zip');
//]]>
</script>
