<?php
/**
 * @category     Inchoo
 * @package     Inchoo Featured Products
 * @authors    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>
<div class="featured-products-block">
<?php

    $_products = $this->getProductCollection()
    ->addAttributeToSelect("brand")
    ->addAttributeToSelect("size")
    ->addAttributeToSelect("flavor");
    

?>
<?php if (($this->getProductCollection()) && $_products->getSize()): ?>
	<div class="heading"><?php echo $this->__($this->getBlockLabel()) ?></div>
	<table border="0" cellspacing="0">
		<tbody>
		<?php $i=0;$row=0; foreach ($_products->getItems() as $_product): ?>

			<?php if($i==0):?>
				<?php $row++;?>
				<tr class="<?php echo (($row%2)>0) ? 'odd' : 'even' ?>">
			<?php endif;?>
					<td>
						<div class="block-item">
							<div class="block-heading">
    							<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
        							<?php echo $this->htmlEscape(substr($_product->getName(),0,50)) ?>
        						</a>
    						</div>
    						<div class="product-description">
    						    <div><strong>Brand: </strong><?php echo $_product->getAttributeText("brand"); ?></div>
    						    <div><strong>Size: </strong><?php echo $_product->getSize() ?></div>
    							<?php
    							    $flavor = $_product->getAttributeText("flavor");
    							    if (!empty($flavor) && $flavor != "NULL"): ?>
    							<div><strong>Flavor: </strong><?php echo $_product->getAttributeText("flavor"); ?></div>
    							<?php endif; ?>
    						</div>
    						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-img">
    							<img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(80, 80) ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
    						</a>
    						<div class="block-bottom">
    							<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
    							<?php echo $this->getPriceHtml($_product, true, '-new') ?>
    
    							<?php if($_product->isSaleable()): ?>
    								<button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
    							<?php else: ?>
    								<div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
    							<?php endif; ?>
    						</div>
						</div>
					</td>

			<?php $i++; if($i==$this->getItemsPerRow()):?>
				<?php $i=0;?>
				</tr>
			<?php endif;?>
		<?php endforeach; ?>

		</tbody>

	</table>
<?php endif; ?>
</div>