<?php
/**
 * Template for filter items block
 *
 * @see Mage_Catalog_Block_Layer_Filter
 */
?>
<?php

$_alias = $this->getFilterAlias();
$_items = $this->getItems();
$_showLinkMore = false;
$_showLinkLess = false;
if(count($_items) > 7 ) {
    if($this->isColapsed($_alias)) {
        $_items = array_slice($_items, 0 , 7);
        $_showLinkMore = true;
        $_showLinkLess = false;
    } else {
        $_showLinkMore = false;
        $_showLinkLess = true;
    }
}
?>

<ol>
    <?php foreach ($_items as $_item): ?>
        <li>
            <?php if ($_item->getCount() > 0): ?>
            <a href="<?php echo $this->urlEscape($_item->getUrl()) ?>"><?php echo $_item->getLabel() ?></a>
            <?php else: echo $_item->getLabel() ?>
            <?php endif; ?>
            <?php if ($this->shouldDisplayProductCount()): ?>
            (<?php echo $_item->getCount() ?>)
            <?php endif; ?>
        </li>
    <?php endforeach ?>
    <?php if($_showLinkMore):?>
        <li>
            <a class="expand" href="<?php echo $this->getFilterUrl($_alias)?>"><?php echo $this->getFilterLabel($_alias)?></a>
        </li>
    <?php endif; ?>
    <?php if($_showLinkLess):?>
        <li>
            <a class="colapse" href="<?php echo $this->getFilterUrl($_alias, false)?>"><?php echo $this->getFilterLabel($_alias, false)?></a>
        </li>
    <?php endif; ?>
</ol>
