<?php
/**
 * @category    Markshust
 * @package     Markshust_Cannedresponse
 * @author      Mark Shust <mark@shust.com>
 * @license     http://markshust.com/eula/
 */
?>
<div id="order_history_block">
    <?php if ($this->canAddComment()):?>
    <div id="history_form" class="order-history-form">
        <div><?php echo Mage::helper('sales')->__('Add Order Comments') ?></div>
        <span class="field-row">
            <span style="float:left;">
                <label class="normal" for="history_status"><?php echo Mage::helper('sales')->__('Status') ?></label><br/>
                <select name="history[status]" class="select" id="history_status" style="width:140px;">
                <?php foreach ($this->getStatuses() as $_code=>$_label): ?>
                    <option value="<?php echo $_code ?>"<?php if($_code==$this->getOrder()->getStatus()): ?> selected="selected"<?php endif; ?>><?php echo $_label ?></option>
                <?php endforeach; ?>
                </select>
            </span>
            
            <span style="float:right;">
                <script type="text/javascript">
                function getCannedResponses()
                {
                    var url = '<?php echo Mage::helper('adminhtml')->getUrl('*/cannedresponse/message') ?>';
                    var parameters = 'id=' + $('history_cannedresponse').getValue();
                    new Ajax.Request(url, {
                        method: 'get',
                        parameters: parameters,
                        onComplete: showMessage
                    });
                }
    
                function showMessage(request)
                {
                    $('history_comment').setValue(request.responseText);
                }
                </script>
                <label class="normal" for="history_cannedresponse"><?php echo Mage::helper('sales')->__('Canned Response') ?></label><br/>
                <select name="history[cannedmessage]" class="select" id="history_cannedresponse" onchange="getCannedResponses()" style="width:140px;">
                    <option value=""></option>
                    <?php foreach ($this->getCannedResponses() as $cannedResponse): ?>
                    <option value="<?php echo $cannedResponse->getId() ?>"><?php echo $cannedResponse->getName() ?></option>
                    <?php endforeach; ?>
                </select>
            </span>
        </span>
        <span class="field-row">
            <label class="normal" for="history_comment"><?php echo Mage::helper('sales')->__('Comment') ?></label>
            <textarea name="history[comment]" rows="3" cols="5" style="height:6em; width:99%;" id="history_comment"></textarea>
        </span>
        <div class="f-left">
            <?php if ($this->canSendCommentEmail()): ?>
                <input name="history[is_customer_notified]" type="checkbox" id="history_notify" value="1" /><label class="normal" for="history_notify"> <?php echo Mage::helper('sales')->__('Notify Customer by Email') ?></label><br />
            <?php endif; ?>
            <input name="history[is_visible_on_front]" type="checkbox" id="history_visible" value="1" /><label class="normal" for="history_visible"> <?php echo Mage::helper('sales')->__('Visible on Frontend') ?></label>
        </div>
        <div class="f-right">
            <?php echo $this->getChildHtml('submit_button') ?>
        </div>
        <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <?php endif;?>
    <ul class="note-list">
    <?php foreach ($this->getOrder()->getStatusHistoryCollection(true) as $_item): ?>
        <li>
            <strong><?php echo $this->helper('core')->formatDate($_item->getCreatedAtDate(), 'medium') ?></strong>
            <?php echo $this->helper('core')->formatTime($_item->getCreatedAtDate(), 'medium') ?><span class="separator">|</span><strong><?php echo $_item->getStatusLabel() ?></strong><br/><small><?php echo $this->helper('sales')->__('Customer') ?>
            <strong class="subdue">
                <?php if ($this->isCustomerNotificationNotApplicable($_item)): ?>
                <?php echo $this->helper('sales')->__('Notification Not Applicable') ?>
                <?php elseif ($_item->getIsCustomerNotified()): ?>
                <?php echo $this->helper('sales')->__('Notified') ?>
                <img src="<?php echo $this->getSkinUrl('images/ico_success.gif') ?>" width="16" height="16" alt="" />
                <?php else: ?>
                <?php echo $this->helper('sales')->__('Not Notified') ?>
                <?php endif; ?>
            </strong></small>
            <?php if ($_item->getComment()): ?>
                <br/><?php echo $this->escapeHtml($_item->getComment(), array('b','br','strong','i','u')) ?>
                <?php $commentUsers = Mage::getModel('markshust_cannedresponse/commentuser')->getCollection(); ?>
                <?php $commentUser = $commentUsers->addFieldToFilter('comment_id', $_item->getEntityId())->getFirstItem(); ?>
                <?php if ($commentUser->hasData()): ?>
    	            <?php $adminUser = Mage::getModel('admin/user')->load($commentUser->getUserId()); ?>
                	<br />by <?php echo $adminUser->getFirstname() . ' ' . $adminUser->getLastname() ?>
                <?php elseif (Mage::app()->getRequest()->getActionName() == 'addComment'): ?>
                	<?php // Comment just posted and no user returned, use current admin user ?>
                	<?php $adminUser = Mage::getModel('admin/session')->getUser(); ?>
                	<br />by <?php echo $adminUser->getFirstname() . ' ' . $adminUser->getLastname() ?>
                <?php endif; ?>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>
    </ul>
    <script type="text/javascript">
    if($('order_status'))$('order_status').update('<?php echo $this->getOrder()->getStatusLabel() ?>');
    </script>
</div>
