<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=207992172573146";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

<div class="social">
    <div id="fb-root"></div>
    <div class="fb-like" data-href="<?php echo $this->helper('core/url')->getCurrentUrl(); ?>" data-send="false" data-layout="button_count" data-width="75" data-show-faces="true"></div>
    <a href="https://twitter.com/share" class="twitter-share-button" data-related="SuppWarehouse">Tweet</a>
</div>
<div class="social-clear"></div>
