<?php

$helper = Mage::helper('xmllinks');
?>
<?php $_menu = $this->renderCategoriesMenuHtml(0,'level-top') ?>
<?php if($_menu): ?>
<div class="nav-container">
    <ul id="nav">
		<?php if($helper->getConfig('home_active', 'catalog_navigation')):
			$homeLabel = $helper->getConfig('home_label', 'catalog_navigation', 'Home');
			$isHomeActive = trim($this->helper('core/url')->getCurrentUrl(), '/') == trim(Mage::getUrl(), '/') ? ' active' : null;
			?>
		<li class="first<?php echo $isHomeActive; ?>">
			<a href="<?php echo Mage::getUrl(); ?>" class="">
				<span><?php echo $homeLabel; ?></span>
			</a>
		</li>
		<?php endif; ?>
        <?php echo $_menu ?>
    </ul>
</div>
<?php endif ?>

<?php
    $i = 1;
    foreach ($this->getStoreCategories() as  $category_node) {
        if ($category_node->getIsActive()) {
            $category = Mage::getModel('catalog/category')->load($category_node->getEntityId());//data: entity_id, children_count, name, url-key, is_active
?>
            <div id="mega-menu-nav-<?php echo $i;$i++;?>" class="mega-menu" onmouseover="toggleMegaMenu(this,1);" onmouseout="toggleMegaMenu(this,0);">
                <div id="blue-bar"></div>
                <div id="category-description">
                    <h1><?php echo $category_node->getName();?></h1>
                    <p><?php echo $category->getDescription()?></p>
                    <button class="button" onclick="location.href='<?php echo $this->getCategoryUrl($category);?>'">
                        <span><span>See All ></span></span>
                    </button>
                </div>
                <div id="subcategories-list">
                    <span>Categories</span>
                    <ul>
                        <?php   foreach($category_node->getAllChildNodes() as $subcategory_node):?>
                            <li>
                                <?php $subcategory = Mage::getModel('catalog/category')->load($subcategory_node->getEntityId());?>
                                <a href="<?php echo $subcategory_node->getUrlKey();?>"><?php echo $subcategory_node->getName().' ('.$subcategory->getProductCount().')';?></a>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                </div>

            </div>
<?php

        }
    }
?>
