<?php
?>

<?php $manufacturers = $this->getItems() ?>
<?php if (count($manufacturers)): ?>
<div class=" base-mini">
    <div class="head">
        <h4><span><?php echo $this->__('Shop By Brand') ?></span></h4>
    </div>
    
    <div class="content">
    <script language="javascript">
<!-- Hide script from old browsers

function jumpPage(newLoc) {
newPage = newLoc.options[newLoc.selectedIndex].value
window.location.href = newPage
}

// End hiding script -->
</script>
   <select onchange="if (this.value) document.location.href=this.value" style="width:100%">
        <option value=""><?php echo $this->__('Please Select'); ?> </option>
        <?php foreach ($manufacturers as $manufacturer): ?>
        <option value="<?php echo $manufacturer->getUrl() ?>"><?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?></option>
        <?php endforeach ?>
        </select> 
       
       
    </div>
  <div class=" action"><a href="<?php echo Mage::helper('brand')->getManufacturersUrl() ?>" title="<?php echo $this->__('Full list of Brands')?>"><?php echo $this->__('View All')?></a></div>
    
    
</div>
<?php endif ?>