<?php
?>
<?php $items = $this->getItems() ?>
<div class="category-head">
<h1><?php echo $this->__('Shop by Brand')?></h1>
</div>


<table class="pager" cellspacing="0">
<tbody>
<tr>
<td class="sela-brand">Select a brand below</td>
<td style="border-bottom: 1px solid #ddd;"> </td>
</tr>
</tbody>
</table>
<div class="content">
<?php if ($cols = count($items)): ?>
<?php $width = floor(100/$cols) ?>
<?php foreach($items as $letters): ?>
<div style="float: left; width: <?php echo $width ?>%;">
<?php foreach ($letters as $letter => $manufacturers): ?>
<dl>
    <dt class="lattera"><?php echo $letter ?></dt>
    <dd>
        <ul class="bare-list">
        <?php foreach ($manufacturers as $manufacturer): ?>
        	<?php if ($manufacturer->getManufacturer()): ?>
            <li>
                <a href="<?php echo $manufacturer->getUrl() ?>"><?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?></a>
            </li>
            <?php endif ?>
        <?php endforeach ?>
        </ul>
    </dd>
</dl>
<?php endforeach ?>
</div>
<?php endforeach ?>
<?php endif ?>
</div>