<?php $manufacturer = $this->getManufacturer() ?>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<div class="category-head">
<h1><?php echo $manufacturer->getManufacturer()?></h1>
<?php if ($image = $manufacturer->getImage()): ?>
<img src="<?php echo Mage::helper('brand/image')->getUrl($image) ?>" alt="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" title="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" />
<?php endif ?>
<div class="cleardiv"></div>
</div>

<?php if ($content = $manufacturer->getContent()): ?>
<?php echo $content ?>
<?php endif ?>
<?php echo $this->getChildHtml('product_list');?>