<?php if (!Mage::getStoreConfig('brand/brandsetting/manufacturers_show_categories_as_tree')): ?>
<?php
    /**
    * @desc CATEGORIES: LIST VIEW
    */
    ?>
<?php $_categories=$this->getCategories() ?>
<?php $_count = is_array($_categories)?count($_categories):$_categories->count(); ?>
<?php if($_count): ?>

<div class="block base-mini filter-nav">
  <div class="head">
    <h4><?php echo $this->__('Narrow by') ?></h4>
  </div>
  <div class="content no-padding">
    <div class="filter-by">
      <dl id="filter-by-list">
        <dt><?php echo $this->__('Category') ?></dt>
        <dd>
          <ol>
            <?php foreach ($_categories as $_category): ?>
            <?php if($_category->getIsActive()): ?>
            <li> <a href="<?php echo $this->getCategoryUrl($_category) ?>"><?php echo $this->htmlEscape($_category->getName()) ?></a> </li>
            <?php endif; ?>
            <?php endforeach ?>
          </ol>
        </dd>
      </dl>
      <script type="text/javascript">decorateDataList('filter-by-list')</script>
    </div>
  </div>
</div>
<?php endif; ?>
<?php else: ?>
<?php
    /**
    * @desc CATEGORIES: TREE VIEW
    */
    ?>
<?php 

    $treeList = $this->getCategoryTreeList();

    ?>
<div class=" base-mini filter-nav">
  <div class="head">
    <h4><span><?php echo $this->__('Narrow by') ?></span></h4>
  </div>
  <div class="content no-padding">
    <div class="filter-by">
      <dl id="filter-by-list">
        <dt style="font-weight: bold;"><?php echo $this->__('Category') ?></dt>
        <dd>
          <ol style="margin:8px 0;font-size:12px">
            <?php 
                            foreach ($treeList as $category): 
                                $_category = Mage::getModel('catalog/category')->load($category['id']);
                            ?>
            <?php if($_category->getIsActive()): ?>
            <?php if($category['level'] == 1): ?>
            <strong>
            <?php endif; ?>
            
            <li style="padding-left: <?php echo 12 * $category['level']; ?>px;">
              <?php //if ($category['is_link']): ?>
              <a href="<?php echo $this->getCategoryUrl($_category) ?>">
              <?php // endif; ?>
              <?php echo $this->htmlEscape($_category->getName()) ?>
              <?php //if ($category['is_link']): ?>
              </a>
              <?php // endif; ?>
            </li>
            <?php if($category['level'] == 1): ?>
            </strong>
            <?php endif; ?>
            <?php endif; ?>
            <?php endforeach; ?>
          </ol>
        </dd>
      </dl>
      <script type="text/javascript">decorateDataList('narrow-by-list')</script>
    </div>
  </div>
</div>
<?php endif; ?>
