<?php
?>
<?php $manufacturers = $this->getItems() ?>
<?php if (count($manufacturers)): ?>
<div class="category-head">
<h1><?php echo $this->__('Featured Brands')?></h1>
</div>
<div>
<?php foreach($manufacturers as $manufacturer): ?>
<div style="float: left; margin: 0 7px 7px 0;"></span><a href="<?php echo $manufacturer->getUrl() ?>"><img src="<?php echo Mage::helper('brand/image')->getUrl($manufacturer->getImage()) ?>" title="<?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?>" alt="<?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?>" width="120px" height="120px" /></a></div>
<?php endforeach ?>
</div>
<div style="clear: both;">&nbsp;</div>
<?php endif ?>