<li class="fields">
    <div class="field">
        <label for="billing:newslettersignup">Sign Up for Newsletter</label>
        <div class="input-box">
            <input type="checkbox" name="billing[newslettersignup]" id="billing:newslettersignup" />
        </div>
    </div>
</li>