/**
 * @category    Markshust
 * @package     Markshust_Visualcompare
 * @author      Mark Shust <mark@shust.com>
 * @license     http://markshust.com/eula/
 */
.visualcompare {
	margin:5px 0;
}
.visualcompare .buttons-set {
	border:none;
	padding:0;
	margin:0;
}
.visualcompare .compare-table tr.first td {
	text-align:center;
}
.visualcompare .compare-table tr.first td.first {
	text-align:left;
}
.visualcompare .onlyshowing {
	padding-top:8px;
}
.visualcompare .compare-table tr.first td .product-name {
	font-size:.8em;
}
