<?php
 /**
 * GoMage.com
 *
 * GoMage Feed Pro
 *
 * @category     Extension
 * @copyright    Copyright (c) 2010-2011 GoMage.com (http://www.gomage.com)
 * @author       GoMage.com
 * @license      http://www.gomage.com/licensing  Single domain license
 * @terms of use http://www.gomage.com/terms-of-use
 * @version      Release: 2.1
 * @since        Class available since Release 1.0
 */
	
	$attribute = $this->getAttribute();
	
	$data = array();
	
	if($encoded_data = $attribute->getData('data')){
		$data = Zend_Json::decode($encoded_data, true);
	}
	
	$rows_count = 0;
	
	if(!empty($data)){
		
		$rows_count = max(array_keys($data))+1;
		
	}
	
	
	
?>
<div class="entry-edit">
	<div class="entry-edit-head">
    	<h4 class="icon-head head-edit-form fieldset-legend"><?php echo $this->__('Products Filter Configuration')?></h4>
    	<div class="form-buttons">
    		<button style="" onclick="window.open('http://www.gomage.com/faq/extensions/feed-pro')" class="scalable go" type="button" id="feed_pro_help"><span>Feed Pro Help</span></button>
    	</div>
	</div>		
	<div id="filter_fieldset" class="fieldset ">
		<?php if ($attribute->getId()): ?>		
    		<div class="right">
            	<p style="clear:both;margin-bottom:7px;overflow:hidden;zoom:1;">
                	<button onclick="setLocation('<?php echo $this->getUrl('*/*/mappingimport', array('id'=>$attribute->getId()))?>');return false;" class="button"><span><span><?php echo $this->__('Import Conditions');?></span></span></button>
                	<button onclick="setLocation('<?php echo $this->getUrl('*/*/mappingexport', array('id'=>$attribute->getId()))?>');return false;" class="button"><span><span><?php echo $this->__('Export Conditions');?></span></span></button>
            	</p>
            </div>
            <br clear="all" />
        <?php endif; ?>        
		<div class="grid">
			<script type="text/javascript">
				
				var totalRows = <?php echo $rows_count?>;
				
				
				
				function removeConditionRow(e, option_id){
					
					table = e.parentNode.parentNode.parentNode;
					
					if(table.getElementsByTagName('tr').length > 1){
						
						
						table.removeChild(e.parentNode.parentNode);
						
						if(rows = table.getElementsByTagName('tr')){
							
							//if(rows.length == 1){
							if(rows.length == 0){
								
								
								var separator = $('option-row-'+option_id+'-separator');
								
								if(separator){
								
								separator.parentNode.removeChild(separator);
								
								}
								
								$('option-row-'+option_id).parentNode.removeChild($('option-row-'+option_id));
								//rows[0].getElementsByTagName('button')[0].addClassName('disabled');
								
							}
						}
					}
				}
				
				function removeDataRow(e){
					
					if($$('#filter-table-body tr.option-row').length > 1){
					
					if(e.parentNode.parentNode.id){
						
						var separator = $(e.parentNode.parentNode.id+'-separator');
						
						separator.parentNode.removeChild(separator);
						
					}
					
					e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode);
					
					}
				}
				
				function addColumn(tr, content, td_class){
					
					td = document.createElement('td');
					td.innerHTML = content;
					if (td_class) td.setAttribute('class', td_class);
					tr.appendChild(td);
					
				}

				function ChangeOutputType(control, iterator){
					if (control.value == 'static'){
						$('value-type-attribute-' + iterator).style.display = 'none';	
						$('option_' + iterator + '_value').enable();
					}else if (control.value == 'percent'){
						$('value-type-attribute-' + iterator).style.display = 'block';
						$('option_' + iterator + '_value').enable();
					}else if (control.value == 'attribute'){
						$('value-type-attribute-' + iterator).style.display = 'block';
						$('option_' + iterator + '_value').value = '';
						$('option_' + iterator + '_value').disable();
					}										
				}
				
				function getConditionTable(){
					
					return '<table class="condition-grid" id="condition[iterator]">'+
					'<tr class="condition-row">'+
						'<td><?php echo addslashes($this->getAttributeSelect('[iterator]', 0, null, true, '', false, true))?></td>'+
						'<td><div id="condition-[iterator]-[cond_iterator]-condition-wraper"><?php echo $this->getConditionSelect('[iterator]', 0)?></div></td>'+
						'<td>'+
							'<div id="condition-[iterator]-[cond_iterator]-value-wraper" class="condition-value-wraper">'+
								'<?php echo $this->getAttributeValueField(false, '[iterator]', '[cond_iterator]');?>'+
							'</div>'+
						'</td>'+
						'<td class="condition-actions"><button onclick="removeConditionRow(this, [iterator]);return false;" class="button delete"><span></span></button></td>'+
					'</tr>'+
					'</table>';
				}
				
				function addDataRow(){
					
					
					if(totalRows == 0){
						if(e = $('no-data')){
						e.parentNode.removeChild(e);
						}
					}
					
					var i = totalRows+1;
					var tr = document.createElement('tr');
					
					tr.id = "option-row-"+i;
					tr.className = "option-row";
					
					condition_counter[i] = 1;
					
					addColumn(tr, getConditionTable().replace(/\[iterator\]/g, i).replace(/\[cond_iterator\]/g, 0));
										
					var type_select = '<div class="type-field-wrapper"><select onchange="ChangeOutputType(this, [iterator])" name="option[[iterator]][value_type]" value="" ><option value="static" selected="selected"><?php echo $this->__('Static')?></option><option value="percent"><?php echo $this->__('Percent from value')?></option><option value="attribute"><?php echo $this->__('Attribute value')?></option></select></div><div id="value-type-attribute-[iterator]" class="type-attribute-field-wrapper"><?php echo addslashes($this->getAttributeSelect('value', 'type', '', true, 'option[[iterator]][value_type_attribute]', true))?></div>';
					
					type_select = type_select.replace(/\[iterator\]/g, i);
					
					addColumn(tr, '<div class="value-field-wrapper"><input type="text" class="input-text" name="option['+i+'][value]" id="option_'+i+'_value" value="" /></div>', 'result-column');
					addColumn(tr, type_select, 'type-column');
					
								
					addColumn(tr, '<button onclick="addConditionRow($(\'condition'+i+'\'), '+i+');return false;" class="button"><span><span><?php echo $this->__('Add Condition')?></span></span></button> <button onclick="removeDataRow(this);return false;" class="button delete"><span><?php echo $this->__('Remove')?></span></button>', 'action-column');
					
					$('filter-table-body').appendChild(tr);
					
					
					var tr = document.createElement('tr');
					tr.id = "option-row-"+i+"-separator";
					tr.className = "option-row-separator";
					td = document.createElement('td');
					td.innerHTML = '<?php echo $this->__('OR')?>';
					td.style.background = '#FAFAFA';
					td.setAttribute('colspan', 4);
					tr.appendChild(td);
					
					$('filter-table-body').appendChild(tr);
					
					
					
					totalRows++;
					
				}
				
				var condition_counter = new Array();
				
				function addConditionRow(table, i){
					
					
					
					if(sections = table.getElementsByTagName('tbody')){
						if(sections.length){
						table = sections[0];
						}
					}
					
					var j = condition_counter[i];
					var tr = document.createElement('tr');
					
					tr.className = 'condition-row';
					
					var attribute = '<?php echo addslashes($this->getAttributeSelect('[iterator]', '[cond_iterator]', null, true, '', false, true))?>';
					var condition = '<div id="condition-[iterator]-[cond_iterator]-condition-wraper"><?php echo $this->getConditionSelect('[iterator]', '[cond_iterator]');?></div>';
					
					
					addColumn(tr, attribute.replace(/\[iterator\]/g, i).replace(/\[cond_iterator\]/g, j));
					addColumn(tr, condition.replace(/\[iterator\]/g, i).replace(/\[cond_iterator\]/g, j));
					addColumn(tr, '<div class="condition-value-wraper" id="condition-'+i+'-'+j+'-value-wraper"><?php echo $this->getAttributeValueField(false, '[iterator]', '[cond_iterator]');?></div>'.replace(/\[iterator\]/g, i).replace(/\[cond_iterator\]/g, j));
					addColumn(tr, '<button onclick="removeConditionRow(this, '+i+');return false;" class="button delete"><span></span></button>', 'condition-actions');
					
					rows = table.getElementsByTagName('tr');
					/*
					if(rows.length == 1){
						rows[0].getElementsByTagName('button')[0].removeClassName('disabled');
					}
					*/
					
					table.appendChild(tr);
					
					condition_counter[i]++;
					
				}
				
				function getAttributeValueField(attribute_code, area, condition_area, element_name, condition_name) {
				    if($(area)) {
				        
				        var data = {attribute_code:attribute_code,element_name:element_name,condition_name:condition_name};
				        
				        var url = '<?php echo $this->getUrl('*/*/getattributevaluefield');?>';
				        
				        url = url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true');
				        new Ajax.Request(url, {
				            parameters: data,
				            loaderArea: area,
				            onSuccess: function(transport) {
				                try {
				                    if (transport.responseText.isJSON()) {
				                        var response = transport.responseText.evalJSON()
				                        if (response.error) {
				                            alert(response.message);
				                        }
				                        if(response.ajaxExpired && response.ajaxRedirect) {
				                            setLocation(response.ajaxRedirect);
				                        }
				                        
				                        
				                        
				                        $(condition_area).update(response.condition);
				                        $(area).update(response.select);
				                        
				                    } else {
				                        $(area).update(transport.responseText);
				                    }
				                }
				                catch (e) {
				                    $(area).update(transport.responseText);
				                }
				            }
				        });
				    }
				}
				
			</script>
			
			<table id="data-table" cellspacing="0" cellpadding="0" class="data">
				<thead>
					<tr class="headings">
						
						<th><?php echo $this->__('Condition')?></th>
						<th><?php echo $this->__('Output Value')?></th>
						<th><?php echo $this->__('Output Type')?></th>
						<th><?php echo $this->__('Action')?></th>
					</tr>
				</thead>
				<tbody id="filter-table-body">
					
					<?php if($rows_count): ?>
					
					<?php foreach($data as $i=>$row):?>
					<tr id="option-row-<?php echo $i?>" class="option-row">
						<td class="feed-row-first">
							<table class="condition-grid" id="condition<?php echo $i;?>">
								
								<?php if(isset($data[$i]['condition'])):?>
									
									<?php $cond_i = 0; $cond_length = count($data[$i]['condition']); foreach($data[$i]['condition'] as $_condition):?>
									
									<tr>
										<td><?php echo $this->getAttributeSelect($i, $cond_i, @$_condition['attribute_code'], true, '', false, true)?></td>
										<td>
											<div id="condition-<?php echo $i;?>-<?php echo $cond_i;?>-condition-wraper"><?php echo $this->getConditionSelect($i, $cond_i, @$_condition['condition'], '', @$_condition['attribute_code'])?></div></td>
										<td>
											<div id="condition-<?php echo $i;?>-<?php echo $cond_i;?>-value-wraper" class="condition-value-wraper">
												<?php echo $this->getAttributeValueField(@$_condition['attribute_code'], $i, $cond_i, @$_condition['value']);?>
											</div>
										</td>
										<td class="condition-actions"><button onclick="removeConditionRow(this, <?php echo $i;?>);return false;" class="delete button"><span></span></button></td>
									</tr>
									
									<?php $cond_i++; 	endforeach;?>
									
									<script type="text/javascript">condition_counter[<?php echo $i;?>] = <?php echo $cond_i;?>;</script>
									
								<?php else:?>
								
								<tr>
									<td><?php echo $this->getAttributeSelect($i, 0, '', true,'', false, true)?></td>
									<td><div id="condition-0-0-condition-wraper"><?php echo $this->getConditionSelect($i, 0, '')?></div></td>
									<td>
										<div id="condition-0-0-value-wraper" class="condition-value-wraper">
											<?php echo $this->getAttributeValueField(@$data[$i]['attribute_code'], $i, 0, '');?>
										</div>
									</td>
									<td class="condition-actions"><button onclick="removeConditionRow(this, <?php echo $i;?>);return false;" class="delete button"><span></span></button></td>
								</tr>
								<script type="text/javascript">condition_counter[<?php echo $i;?>] = 1;</script>
								
								<?php endif;?>
							</table>
						</td>
						
						<td class="result-column">
							<div class="result-field-wrapper">
								<input type="text" class="input-text" id="option_<?php echo $i;?>_value" name="option[<?php echo $i;?>][value]" value="<?php echo @$data[$i]['value'];?>" <?php if(@$data[$i]['value_type'] == 'attribute'):?>disabled="disabled"<?php endif;?> />
							</div>
						</td>
						
						<td class="type-column">
							
							<div class="type-field-wrapper">
							<select onchange="ChangeOutputType(this, <?php echo $i;?>)" name="option[<?php echo $i;?>][value_type]" value="<?php echo @$data[$i]['value_type'];?>" >
								<option value="static" <?php if(@$data[$i]['value_type'] == 'static'):?>selected="selected"<?php endif;?>><?php echo $this->__('Static')?></option>
								<option value="percent" <?php if(@$data[$i]['value_type'] == 'percent'):?>selected="selected"<?php endif;?>><?php echo $this->__('Percent from value')?></option>
								<option value="attribute" <?php if(@$data[$i]['value_type'] == 'attribute'):?>selected="selected"<?php endif;?>><?php echo $this->__('Attribute value')?></option>
							</select>
							</div>
							<div id="value-type-attribute-<?php echo $i;?>" class="type-attribute-field-wrapper" style="display:<?php echo (@$data[$i]['value_type'] == 'static' ? 'none' : 'block');?>">
								
								<?php echo $this->getAttributeSelect('value', 'type', @$data[$i]['value_type_attribute'], true, 'option['.$i.'][value_type_attribute]', true)?>
								
							</div>
						</td>						
						<td class="action-column">
							<button onclick="addConditionRow($('condition<?php echo $i;?>'), <?php echo $i;?>);return false;" class="button"><span><span><?php echo $this->__('Add Condition')?></span></span></button>
							<button onclick="removeDataRow(this);return false;" class="button delete"><span><?php echo $this->__('Remove')?></span></button>
						</td>
					</tr>
					<tr class="option-row-separator" id="option-row-<?php echo $i?>-separator"><td style="background:#FAFAFA;" colspan="4"><?php echo $this->__('OR')?></td></tr>
					<?php endforeach;?>
					<?php else:?>					
					<?php $i = 0; ?>
					<tr class="option-row-separator" id="option-row-<?php echo $i?>">
						<td class="feed-row-first">
							<table class="condition-grid" id="condition<?php echo $i;?>">
								
								<?php if(isset($data[$i]['condition'])):?>
									
									<?php $cond_i = 0; $cond_length = count($data[$i]['condition']); foreach($data[$i]['condition'] as $_condition):?>
									
									<tr class="condition-row">
										<td><?php echo $this->getAttributeSelect($i, $cond_i, @$_condition['attribute_code'], true, '', false, true)?></td>
										<td>
											<div id="condition-<?php echo $i;?>-<?php echo $cond_i;?>-condition-wraper"><?php echo $this->getConditionSelect($i, $cond_i, @$_condition['condition'], '', @$_condition['attribute_code'])?></div></td>
										<td>
											<div id="condition-<?php echo $i;?>-<?php echo $cond_i;?>-value-wraper" class="condition-value-wraper">
												<?php echo $this->getAttributeValueField(@$_condition['attribute_code'], $i, $cond_i, @$_condition['value']);?>
											</div>
										</td>
										<td class="condition-actions"><button onclick="removeConditionRow(this, <?php echo $i;?>);return false;" class="delete button"><span></span></button></td>
									</tr>
									
									<?php $cond_i++; 	endforeach;?>
									
									<script type="text/javascript">condition_counter[<?php echo $i;?>] = <?php echo $cond_i;?>;</script>
									
								<?php else:?>
								
								<tr class="condition-row">
									<td><?php echo $this->getAttributeSelect($i, 0, '', true,'', false, true)?></td>
									<td><div id="condition-0-0-condition-wraper"><?php echo $this->getConditionSelect($i, 0, '')?></div></td>
									<td>
										<div id="condition-0-0-value-wraper" class="condition-value-wraper">
											<?php echo $this->getAttributeValueField('', $i, 0, '');?>
										</div>
									</td>
									<td class="condition-actions"><button onclick="removeConditionRow(this, <?php echo $i;?>);return false;" class="delete button"><span></span></button></td>
								</tr>
								<script type="text/javascript">condition_counter[<?php echo $i;?>] = 1;</script>
								
								<?php endif;?>
							</table>
						</td>
						
						<td class="result-column">
							<div class="result-wrapper">
							<input type="text" class="input-text" name="option[<?php echo $i;?>][value]" value="" />
							</div>
						</td>
						
						<td class="type-column">
							
							<div class="type-field-wrapper">
							<select onchange="ChangeOutputType(this, <?php echo $i;?>)" name="option[<?php echo $i;?>][value_type]" value="" >
								<option value="static" selected="selected"><?php echo $this->__('Static')?></option>
								<option value="percent" ><?php echo $this->__('Percent from value')?></option>
								<option value="attribute" ><?php echo $this->__('Attribute value')?></option>
							</select>
							</div>
							<div class="type-attribute-field-wrapper" id="value-type-attribute-<?php echo $i;?>" style="display:none">
								
								<?php echo $this->getAttributeSelect('value', 'type', '', true, 'option['.$i.'][value_type_attribute]', true)?>
								
							</div>
						</td>
						<td class="action-column">
							<button onclick="addConditionRow($('condition<?php echo $i;?>'), <?php echo $i;?>);return false;" class="button"><span><span><?php echo $this->__('Add Condition')?></span></span></button>
							<button onclick="removeDataRow(this);return false;" class="button delete"><span><?php echo $this->__('Remove')?></span></button>
						</td>
					</tr>
					<tr class="option-row" id="option-row-<?php echo $i?>-separator"><td style="background:#FAFAFA;" colspan="4"><?php echo $this->__('OR')?></td></tr>
					
					<?php endif;?>
				</tbody>
				
				<tfoot id="default-value-block">
					<tr class="headings"><th colspan="4"><?php echo $this->__('Use Default Attribute')?></th></tr>
					<tr>
						<td colspan="4" style="background:#fff;border-top:0;padding:5px;">
							<?php echo $this->getAttributeSelect('value', 'type', $attribute->getData('default_value'), true, 'default_value', true, false, 'Not Set');?>
						</td>
					</tr>
				</tfoot>
				
			</table>
			<div class="button-set">
				<p style="margin-top:10px;"><button onclick="addDataRow();return false;" class="button"><span><span><?php echo $this->__('Add New Value')?></span></span></button></p>
			</div>
		</div>
	</div>
</div>