<form method="POST" action="<?php echo $this->getSubmitUrl(); ?>">
    <input type="hidden" name="qty" id="qty" value="<?php echo (int) $this->getStock()->getQty(); ?>">
    <input type="hidden" name="stock_id" id="stock_id" value="<?php echo $this->getStock()->getId(); ?>">
    <input id="form_key" name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getFormKey() ?>" />

    <table border="0" width="100%">
        <tr>
            <td>
                <?php if ($this->getImageUrl()): ?>
                    <img src="<?php echo $this->getImageUrl(); ?>" width="50" height="50">
                <?php endif; ?>
                </td>
                <?php
                
                    $prod_attr = $product = Mage::getModel('catalog/product')->load($this->getProduct()->getId());
                    $flavor = (isset($prod_attr) ? $prod_attr->getResource()->getAttribute('flavor')->getFrontend()->getValue($prod_attr) : "");
		            $size = (isset($prod_attr) ? $prod_attr->getResource()->getAttribute('size')->getFrontend()->getValue($prod_attr) : "");
		            $promo = (isset($prod_attr) ? $prod_attr->getResource()->getAttribute('promo_description')->getFrontend()->getValue($prod_attr) : "");
                
                ?>
                <td>
                    <h3><?php echo $this->getProduct()->getName(); ?></h3>
                    <p><i><?php echo "SKU: " . $this->getProduct()->getSku(); ?></i></p>
                    <p><?php echo "Flavor: " . $flavor; ?></p>
                    <p><?php echo "Size: " . $size; ?></p>
                    <p><?php echo $promo; ?></p>
                </td>    
            </tr>
            <tr>
                <th class="a-center" bgcolor="#cccccc" colspan="2"><?php echo $this->__('Edit Stock %s', $this->getWarehouse()->getstock_name()); ?></th>
            </tr>
            <tr>
                <th class="a-center" colspan="2">
                        <input type="text" name="update_qty" value="<?php echo (int) $this->getStock()->getQty(); ?>" onchange="document.getElementById('qty').value = this.value;" />
                </th>
            </tr>
            <tr>
                <th class="a-center" bgcolor="#cccccc" colspan="2"><?php echo $this->__('Description'); ?></th>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="text" name="description" id="description" value="<?php echo $this->__('Adjustment'); ?>">
                </td>
            </tr>
        </table>

        <center>
            <p><input type="submit" onsubmit="document.getElementById('qty').value = document.getElementById('update_qty').value;return true;" value="<?php echo $this->__('Save'); ?>"></p>
        <p>&nbsp;</p>
    </center>

</form>
