<?php if($this->getRequest()->getParam('brand')): ?>
    <?php $manufacturer = Mage::getModel('brand/brand')->load($this->getRequest()->getParam('brand'), 'manufacturer_id'); ?>
    <?php if($manufacturer->getId()): ?>
        <div class="brand-main-content">
            <div class="page-title-container">
                <?php if ($image = $manufacturer->getBrandBanner()): ?>
                <?php $imageSrc = Mage::helper('brand/image')->getResizedUrl($image);?>
                    <div class="brand-image first">
                        <img src="<?php echo $imageSrc ?>"
                             alt="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>"
                             title="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" />
                    </div>
                <?php endif ?>
                <div class="page-title category-title brand-title">
                    <h1><?php echo $manufacturer->getManufacturer()?></h1>
                    <h2><?php echo $manufacturer->getSubtitle()?></h2>
                </div>
                <?php if ($content = $manufacturer->getContent()): ?>
                <div class="brand-content">
                    <p><?php echo $content ?></p>
                </div>
                <?php endif ?>
                <?php if ($image = $manufacturer->getBrandPromoBanner()): ?>
                <?php $imageSrc = Mage::helper('brand/image')->getResizedUrl($image, 'brand_promo_banner');?>
                    <div class="brand-image">
                        <img src="<?php echo $imageSrc ?>"
                             alt="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>"
                             title="<?php echo $this->htmlEscape($manufacturer->getTitle()) ?>" />
                    </div>
                <?php endif ?>
                <div class="cleardiv"></div>
            </div>
            <?php echo $this->getChildHtml('featured_brands'); ?>
        </div>
    <?php else: ?>
        <?php echo $this->getChildHtml('category.title');?>
    <?php endif ?>
<?php else: ?>
    <?php echo $this->getChildHtml('category.title');?>
<?php endif ?>
