<?php $items = $this->getItems() ?>
<?php $colsPerLetter = 4;?>
<div class="category-head">
<h1><?php echo $this->__('Shop by Brand')?></h1>
</div>

<div class="content">
    <div id="brand-alpha-nav" class="brand-col navigation">
    <?php foreach($items as $letters): ?>
        <?php foreach ($letters as $letter => $manufacturers): ?>
            <a href="#letter-<?php echo $letter ?>" class="smooth alpha"><?php echo $letter ?></a>
        <?php endforeach; ?>
    <?php endforeach; ?>
    </div>

    <?php if ($cols = count($items)): ?>
    <?php $width = floor(100/$cols) ?>
    <?php foreach($items as $letters): ?>
        <div class="brand-col">
        <?php foreach ($letters as $letter => $manufacturers): ?>
            <?php $rows = ceil(count($manufacturers)/$colsPerLetter); ?>
            <dl>
                <dt id="letter-<?php echo $letter ?>" class="lattera">
                    <div class="f-left"><?php echo $letter ?></div>
                    <div class="f-right"><a href="#brand-alpha-nav" class="smooth"><small><?php echo $this->__('Back to top'); ?></small></a></div>
                    <div class="clearfix"></div>
                </dt>
                <dd>
                    <ul class="bare-list">
                        <?php for ($i=0; $i<$rows; $i++) : ?>
                            <?php for ($j=0; $j<$colsPerLetter; $j++) : ?>
                                <?php $arrayPos = (int) ($j*$rows)+$i; ?>
                                <?php if (array_key_exists($arrayPos, $manufacturers)) : ?>
                                    <?php $manufacturer = $manufacturers[$arrayPos]; ?>
                                    <li><a href="/<?php echo $manufacturer->getUrlKey() ?>"><?php echo $this->htmlEscape($manufacturer->getManufacturer()) ?></a></li>
                                <?php endif; ?>
                            <?php endfor; ?>
                        <?php endfor; ?>
                    </ul>
                </dd>
            </dl>
        <?php endforeach ?>
        </div>
    <?php endforeach ?>
    <?php endif ?>
</div>
<script type="text/javascript">
//<![CDATA[
    /* Smooth scrolling */
    jQuery(document).ready(function(){
        jQuery('a.smooth').bind('click', function(e) {
            e.preventDefault();
            var $link = jQuery(this);
            var anchor  = $link.attr('href');
            jQuery('html, body').stop().animate({
                scrollTop: jQuery(anchor).offset().top
            }, 500);
        });
    });
//]]>
</script>