<div class="product-ingredients">
    <?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $this->getProduct()->getIngredients(), 'ingredients') ?>
</div>
<?php if ($this->getProduct()->getDirections()) : ?>
<div class="product-directions-content">
    <h3>Directions</h3>
    <div class="product-direction-text"><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $this->getProduct()->getDirections(), 'directions') ?></div>
</div>
<?php endif; ?>
<?php if ($this->getProduct()->getWarnings()) : ?>
    <div class="product-warnings-content">
        <h3>Warnings</h3>
        <div class="product-warnings-text"><?php echo $this->helper('catalog/output')->productAttribute($this->getProduct(), $this->getProduct()->getWarnings(), 'warnings') ?></div>
        <div>
<?php endif; ?>
