<?php
/* @var $this Mage_Reports_Block_Product_Compared */
?>
<?php if ($_products = $this->getRecentlyComparedProducts()): ?>
<div class="block block-list block-compared">
    <div class="block-title">
        <strong><span><?php echo $this->__('Recently Compared Products') ?></span></strong>
    </div>
    <div class="block-content">
        <ol id="recently-compared-items">
        <?php foreach ($_products as $_item): ?>
            <li class="item">
                <a href="<?php echo $this->getProductUrl($_item) ?> ?>"
                   title="<?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName() , 'name') ?>"
                   class="product-image">
                    <img src="<?php echo $this->helper('catalog/image')->init($_item, 'small_image')->resize(50); ?>"
                         alt="<?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName() , 'name') ?>"
                         width="50" height="50" />
                </a>
                <a class="product-name" href="<?php echo $this->getProductUrl($_item) ?>">
                    <?php echo $this->helper('catalog/output')->productAttribute($_item, $_item->getName() , 'name') ?>
                </a>
            </li>
        <?php endforeach; ?>
        </ol>
        <script type="text/javascript">decorateList('recently-compared-items');</script>
    </div>
</div>
<?php endif; ?>
